{%- assign lang = page.lang | default: site.lang | default: "de" -%}
{%- if page.backToTop or layout.backToTop -%}
  {%- assign hasBackToTop = true -%}
{%- else -%}
  {%- assign hasBackToTop = false -%}
{%- endif -%}
{%- assign hasFabHint = page.fabHint -%}

<!DOCTYPE html>
<html lang="{{ lang }}" data-shared-components="v">

  {%- include head.html -%}

  <body id="page-top" class="shared-components {{ site.shared_theme }}
    {% if hasBackToTop %}has-back-to-top{% endif %}
    {% if hasFabHint %}has-fab-hint{% endif %}
  ">
    {% include body.html %}

    <div id="app">
      {%
        include header.html
        light=page.light
        lang=lang
        bgColor=page.hero.bgColor
        blendMode=page.blendMode
      %}

      {% if hasFabHint %}
        {%
          include fab-hint.html
          icon=page.fabHint.icon
          iconColor=page.fabHint.iconColor
          bgColor=page.fabHint.bgColor
          text=page.fabHint.text
          title=page.fabHint.title
        %}
      {% endif %}

      {% if hasBackToTop %}
        {%
          include back-to-top.html
        %}
      {% endif %}

      <main class="page-content" aria-label="Content">
        {% if page.hero and page.hero.v2 %}
          {%
            include hero.html
          %}
        {% elsif page.hero %}
          {%
            include hero-text-image.html
          %}
        {% endif %}
        {{ content }}
      </main>

      {% if page.contact %}
        {%
          include contact.html
        %}
      {% endif %}
      {% if page.modal %}
        {%
          include modal.html
          form=site.data.jobApplication.form
          success=site.data.jobApplication.success
          modalId=site.data.jobApplication.modalId
          application=true
          clientName=site.data.jobApplication.clientName
          jobId=site.data.jobApplication.jobId
          apiUrl=site.data.jobApplication.apiUrl
        %}
      {% endif %}
      {% unless page.nofooter %}
        {%
          include footer.html
          lang=lang
        %}
      {% endunless %}
      {% include globals.html %}

    </div>
    {% include scripts.html %}

    </body>
  </html>
  <!-- Page Info: DEFAULT Layout -->
