{%- assign lang = page.lang | default: site.lang | default: "de" -%}
<!DOCTYPE html>
<html lang="{{ lang }}">

  {%- include head.html -%}

  <body id="page-top" class="shared-components gkgab">
    {% include body.html %}

    <div id="app">
      {%
        include header.html
        light=page.light
        lang=lang
        bgColor=page.hero.bgColor
        blendMode=page.blendMode
      %}

      {% if page.backToTop or layout.backToTop %}
        {%
          include back-to-top.html
        %}
      {% endif %}

      <main class="page-content" aria-label="Content">
        {% if page.hero %}
          {%
            include hero-text-image.html
          %}
        {% endif %}
        {{ content }}
      </main>

      {% if page.contact %}
        {% include contact.html %}
      {% endif %}
      {% unless page.nofooter %}
        {%
          include footer.html
          lang=lang
        %}
      {% endunless %}
      {% include footer-copyright.html %}
      {% include globals.html %}

    </div>
    {% include scripts.html %}

    </body>
  </html>
  <!-- Page Info: DEFAULT Layout -->
