/* scepman theme related styling here */

:root {
  --site: 'scepman';
  /* Theme colors */
  --color-headlines: var(--color-midnight);
  --color-copy: var(--color-midnight);
  --color-primary: var(--color-yellow);
  --color-primary-accent: var(--color-ripe-lemon);
  --color-primary-accent-light: var(--color-varden);
  --color-secondary: var(--color-cold-purple);
  --color-secondary-accent: var(--color-cold-purple);
  --color-copy-highlight: var(--color-cold-purple);

  /* Element colors */
  --color-bg-grey: var(--color-porcelain);
  --color-bg-dark-grey: var(--color-regent-grey);
  --color-svg-icon: var(--color-primary);
  --color-svg-icon--hover: var(--color-primary-accent);
  --color-bg-checkbox: var(--color-blue-medium);
  --color-border: red;
  --color-loading: red;
  --color-loading--1: var(--color-primary);
  --color-loading--2: var(--color-yellow);
  --color-loading--3: var(--color-conifer);
  --color-loading--4: var(--color-orange);

  /* fonts */
  --font-family: 'Miriam Libre', sans-serif;
}
