// gkgab theme related styling here

:root {
  --site: 'gkgab';
  // Theme colors
  --color-headlines: var(--color-blue-dark);
  --color-copy: var(--color-blue-dark);
  --color-primary: var(--color-blue-light);
  --color-primary-accent: var(--color-blue-medium);
  --color-primary-accent-light: var(--color-link-water);
  --color-secondary: var(--color-yellow);
  --color-secondary-accent: red;
  --color-copy-highlight: var(--color-orange);

  // Element colors
  --color-bg-grey: var(--color-porcelain);
  --color-bg-dark-grey: var(--color-regent-grey);
  --color-svg-icon: var(--color-primary);
  --color-svg-icon--hover: var(--color-primary-accent);
  --color-bg-checkbox: var(--color-blue-medium);
  --color-border: var(--color-blue-dark);
  --color-loading: var(--color-primary);
  --color-loading--1: var(--color-primary);
  --color-loading--2: var(--color-yellow);
  --color-loading--3: var(--color-conifer);
  --color-loading--4: var(--color-orange);

  // fonts
  --font-family: 'Lato', sans-serif;
}
