// terraprovider theme related styling here

:root {
  --site: 'terraprovider';
  // Theme colors
  --color-headlines: var(--color-midnight);
  --color-copy: var(--color-midnight);
  --color-primary: var(--color-biloba-flower);
  --color-primary-accent: var(--color-lavender);
  --color-primary-accent-light: var(--color-blue-lighter);
  --color-secondary: var(--color-biloba-flower);
  --color-secondary-accent: var(--color-biloba-flower);
  --color-copy-highlight: var(--color-perfume);

  // Element colors
  --color-bg-grey: var(--color-porcelain);
  --color-bg-dark-grey: var(--color-regent-grey);
  --color-svg-icon: var(--color-primary);
  --color-svg-icon--hover: var(--color-primary-accent);
  --color-bg-checkbox: var(--color-blue-medium);
  --color-border: red;
  --color-loading: red;
  --color-loading--1: var(--color-primary);
  --color-loading--2: var(--color-blue-light);
  --color-loading--3: var(--color-conifer);
  --color-loading--4: var(--color-perfume);

  // fonts
  --font-family: 'Miriam Libre', sans-serif;
}
