.ad-block-info {
  img {
    width: 60px;

    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }

  .ad-block-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2,
    h3,
    h4,
    h5 {
      @include media-breakpoint-up(lg) {
        text-align: left;
      }
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: spacing(4);
    }
  }
}

.ad-block-info__text {
  @include font-size-sm;

  @include media-breakpoint-up(lg) {
    flex: 1;
    text-align: left;
  }
}

.ad-block-info__row {
  flex: 1;
}
