.hero {
  --hero-background-color: transparent;
  --hero-copy-color: var(--color-copy);
  --hero-copy-overline-color: var(--color-copy);
  --hero-overline-background-color: var(--color-secondary);
  --hero-background-width: 100%;
  --hero-background-width-middle: 50%;

  background: var(--hero-background-color);
  color: var(--hero-copy-color);
  position: relative;

  &.is-light {
    --hero-copy-color: var(--color-copy-light);

    .hero__headline {
      color: var(--color--headlines);
    }
  }

  &.is-light-overline {
    --hero-copy-overline-color: var(--color-copy-light);
  }

  &.hero--fullscreen {
    min-height: 100vh;

    .hero__container,
    .hero__content {
      min-height: inherit;
    }

    .hero__content {
      padding: spacing(10) 0;
    }

    @include media-breakpoint-up(lg) {
      .hero__content {
        padding: spacing(64) 0;
      }
    }
  }

  &.hero--animation {
    .hero__overline {
      &::before {
        animation-name: growFull;
      }
    }

    .hero__content {
      justify-content: flex-start;

      @include media-breakpoint-up(lg) {
        justify-content: center;
      }
    }
  }

  &.hero--text-shadow {
    .hero__headline {
      display: inline;
    }

    .hero__headline,
    .hero__subline {
      background-color: rgba(var(--hero-background-color-rgb), 0.5);
    }

    .hero__subline {
      &::before {
        content: '';
        display: block;
        width: 100%;
        height: spacing(10);
      }
    }
  }

  &.hero--shape-bottom {
    .hero__background-shape {
      top: auto;
      transform: translateY(0);
      bottom: 0;
    }
  }

  &.hero--shape-top {
    .hero__background-shape {
      bottom: auto;
      transform: translateY(0);
      top: 0;
    }
  }

  &.hero--shape-center {
    .hero__background-shape {
      top: 0;
      bottom: auto;
      transform: translateY(0);

      @include media-breakpoint-up(lg) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &.hero--shape-in-content,
  &.hero--bg-width,
  &.hero--small {
    @include media-breakpoint-up(lg) {
      .hero__background-shape-wrapper {
        .hero__background-shape {
          position: absolute;
        }
      }
    }
  }

  &.hero--bg-width {
    overflow: hidden;

    .hero__background-shape {
      position: initial;
    }

    .hero__subline {
      @include font-size-2;
    }

    @include media-breakpoint-up(lg) {
      background: linear-gradient(
        to right,
        var(--hero-background-color) var(--hero-background-width-middle),
        transparent var(--hero-background-width-middle)
      );

      .hero__background-shape {
        width: 100%;
        padding-left: spacing(4);
        left: 50%;
        right: auto;
        max-width: none;
      }

      .hero__content {
        background: linear-gradient(
          to right,
          var(--hero-background-color) var(--hero-background-width),
          transparent var(--hero-background-width)
        );
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &.hero--small {
    .hero__background-shape {
      max-height: 300px;

      @include media-breakpoint-down(md) {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        & > * {
          object-position: center;
        }
      }
    }

    .hero__content {
      @include media-breakpoint-up(lg) {
        min-height: auto;
      }
    }
  }

  &.hero--centered {
    .hero__intro {
      --hero-intro-delay: 1.7s;

      grid-column: content-left / content-right;
      text-align: center;
      margin: 0 auto;
      transition:
        height 0.7s var(--hero-intro-delay) $animation-transition,
        opacity 1.6s var(--hero-intro-delay) $animation-transition;

      @include media-breakpoint-up(lg) {
        width: 55%;
      }
    }

    .hero__intro {
      opacity: 0;
      overflow: hidden;
    }

    .hero__letter-switcher {
      grid-column: intro-left / intro-right;
    }
  }

  &.hero--text {
    .hero__headline {
      @include font-style($style: 'h2-font-size', $line: 'thin', $weight: 'light');
    }

    .hero__content {
      @include media-breakpoint-up(lg) {
        grid-template-columns: 6fr 1fr;
      }
    }
  }

  &.hero--shape-fullscreen {
    .hero__background-shape {
      max-height: none;
      height: 100%;
    }

    .hero__cta-list {
      padding-top: spacing(12);

      @include media-breakpoint-up(lg) {
        padding-top: spacing(18);
      }
    }
  }

  &.hero--shape-in-content {
    .hero__background-shape-wrapper {
      display: none;

      .hero__background-shape {
        position: initial;
        transform: none;
        justify-content: flex-end;
        max-height: none;
        padding-left: spacing(8);
        display: none;

        @include media-breakpoint-up(lg) {
          display: flex;
        }
      }

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  .hero__headline {
    margin-bottom: spacing(10);
  }

  .hero__back {
    top: spacing($size: 10, $negative: true);

    @include media-breakpoint-up(lg) {
      top: spacing(26);
    }
  }
}

.hero__back-row {
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
  }
}

.hero__overline {
  @include background-grow($color: var(--hero-overline-background-color), $spacing: spacing(1));

  display: inline-block;
  margin-bottom: spacing(2);
  padding: spacing(1) spacing(6) spacing(1) spacing(2);
  color: var(--hero-copy-overline-color);
}

.hero__content {
  @include media-breakpoint-up(lg) {
    min-height: 700px;
  }
}

.hero__background-shape-content,
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    display: grid;
    align-content: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'intro-left intro-right'
      'content-left content-right';
  }
}

.hero__animation {
  grid-column: content-left / content-right;
}

.hero__intro {
  grid-area: intro-left;
  grid-row: span 2;
  margin-bottom: spacing(6);
}

.hero__background-img {
  @include z-index;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__headline {
  --color--headlines: var(--hero-copy-color);
}

.hero__subline {
  @include font-size-2;

  display: inline;

  .highlight {
    @include text-highlight;
  }
}

.hero__background-shape {
  @include z-index;

  max-height: unquote('min(23vw, 30%)');
  display: flex;
  grid-area: intro-right / content-right;

  > * {
    object-fit: contain;
    object-position: right;

    &.lottie {
      display: inline-flex;
      justify-content: flex-end;
    }

    .lottie__container {
      width: auto;
      height: auto;
    }
  }

  @include media-breakpoint-up(lg) {
    max-height: unquote('min(40vw, 60%)');
  }

  @include media-breakpoint-up(xl) {
    max-height: unquote('min(45vw, 85%)');
  }
}

.hero__pattern {
  @include z-index;
}

.hero__background-shape,
.hero__pattern {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hero__container {
  @include z-index;

  position: relative;
}

.hero__cta-list {
  padding-top: spacing(6);
}

.hero__background-shape-wrapper {
  @include z-index;

  margin-top: spacing($size: 14, $negative: true);
  pointer-events: none;

  @include media-breakpoint-up(lg) {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
  }
}

.hero__background-shape-content {
  height: 100%;
  width: 100%;
}

.hero__content-shape {
  display: flex;
  justify-content: center;

  > * {
    margin: spacing($size: 8, $negative: true) 0;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.hero__badges {
  padding-top: spacing(8);
  display: flex;
  gap: spacing(8);
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  > * {
    flex: 0 1 auto;
    width: auto;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
  }

  @include media-breakpoint-up(lg) {
    padding-top: spacing(16);
  }
}
