.icon {
  display: inline-flex;

  svg {
    margin-bottom: 0;

    path,
    line,
    polyline {
      transition: d $animation-transition 0.7s, stroke-width ease-in 0.3s, transform $animation-transition 0.7s;
    }
  }

  &.icon--expand {
    svg {
      transition: transform $animation-transition 0.4s;
    }
  }

  &.icon--circle {
    flex: 1;
    border: 1px solid var(--color-icon);
    border-radius: 100%;
    justify-content: center;
    align-items: center;

    svg {
      width: 60%;
    }
  }

  &.icon--hover {
    cursor: pointer;

    &:hover {
      background-color: var(--color-icon-hover-background);
      color: var(--color-icon-hover-color);
    }
  }

  &.icon--has-background {
    &.icon--circle {
      flex: none;
    }

    background-color: var(--color-icon-check-background);
    border-color: var(--color-icon-check-background);
  }

  &.icon--smile {
    svg {
      .hand {
        transition: stroke-width ease-in 0.2s;
      }
    }

    &.icon--step-1 {
      svg {
        .hand,
        .left-eyebrow,
        .right-eyebrow {
          stroke-width: 6px !important;
        }

        .hand {
          transition-delay: 0.25s;
        }
      }
    }

    &.icon--step-2 {
      svg {
        .left-eyebrow,
        .right-eyebrow {
          transition-delay: 0s;
          transition-duration: 0.25s;
        }

        .mouth-upper {
          stroke-width: 6px !important;
        }

        .circle {
          transform: rotate(54deg);
          transform-origin: center center;
        }

        .hand-upper {
          stroke-width: 6px !important;
          transition-delay: 0.25s;
        }

        .hand {
          stroke-width: 0 !important;
        }
      }
    }

    &.icon--step-3 {
      svg {
        .right-eye,
        .left-eye,
        .mouth-upper {
          stroke-width: 0px !important;
        }

        .right-eyebrow,
        .left-eyebrow {
          stroke-width: 6px !important;
          transition-delay: 0.2s;
          transition-duration: 0.45s;
        }

        .circle {
          transform-origin: center center;
        }

        .hand-upper {
          transition-duration: 0s;
          stroke-width: 0 !important;
        }
      }
    }
  }
}

.shared-components {
  .icon {
    width: auto;
    height: auto;
  }
}

// icon--rocket
.icon--rocket-cls-1,
.icon--rocket-cls-10,
.icon--rocket-cls-2,
.icon--rocket-cls-4,
.icon--rocket-cls-5,
.icon--rocket-cls-6,
.icon--rocket-cls-9 {
  fill: none;
}

.icon--rocket-cls-2 {
  clip-rule: evenodd;
}

.icon--rocket-cls-3 {
  clip-path: url(#icon--rocket-clip-path);
}

.icon--rocket-cls-4 {
  stroke: #000;
}

.icon--rocket-cls-10,
.icon--rocket-cls-4,
.icon--rocket-cls-5,
.icon--rocket-cls-6,
.icon--rocket-cls-9 {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.icon--rocket-cls-5 {
  stroke: #533e8e;
}

.icon--rocket-cls-6 {
  stroke: #ef8331;
}

.icon--rocket-cls-7 {
  clip-path: url(#icon--rocket-clip-path-2);
}

.icon--rocket-cls-8 {
  fill: #72b4df;
}

.icon--rocket-cls-9 {
  stroke: #008186;
}

.icon--rocket-cls-10 {
  stroke: #fdd117;
}
