.pricing-slider__info {
  position: relative;
  transform: translateY(50%);
  top: 0;
  vertical-align: top;
  display: inline-flex;
  cursor: pointer;
  padding-left: spacing(1);

  &:hover {
    .icon svg {
      path {
        fill: var(--color-copy-light);
      }

      circle {
        stroke: var(--color-copy);
        fill: var(--color-copy);
      }
    }
  }
}
