// https://chir.ag/projects/name-that-color/

:root {
  --color-black: #000000;
  --color-black-85: #262626;
  --color-black-70: #4c4c4c;
  --color-black-50: #7f7f7f;
  --color-black-40: #999;
  --color-black-30: #b2b2b2;
  --color-black-15: #d9d9d9;
  --color-black-4: #f5f5f5;
  --color-black-2: #fbfbfb;

  --color-manatee: #999ba6;
  --color-blue-dark: #000520;
  --color-blue-medium: #0072c6;
  --color-blue-light: #5cbbff;
  --color-blue-lighter: #77c6ff;
  --color-conifer: #acd653;
  --color-green: #acd653;
  --color-frost: #edf5db;
  --color-sushi: #809f3e;
  --color-green-blue: #008187;
  --color-yellow-medium: #dab61d;
  --color-yellow: #fcd116;
  --color-orange: #f8842c;
  --color-red: #e44418;
  --color-french-rose: #ed4c78;
  --color-trout: #4c5062;
  --color-porcelain: #f3f5f6;
  --color-bon-jour: #e5e2e2;
  --color-deep-sea: #008774;
  --color-midnight: #011e33;
  --color-regent-grey: #808e99;
  --color-geyser: #d1d9dd;
  --color-macaroni-and-cheese: #fcb975;
  --color-nevada: #60727f;
  --color-edgewater: #c2deda;
  --color-link-water: #cce3f4;
  --color-summer-green: #8ebeb2;
  --color-ripe-lemon: #f7cb0b;
  --color-sunglow: #ffd233;
  --color-cold-purple: #a09edb;
  --color-varden: #fff8dc;
  --color-sahara: #bd9d11;
  --color-gigas: #543b9c;
  --color-sahara-sand: #f6ee8c;
  --color-sunflower: #e1d429;
  --color-piper: #c66a23;
  --color-cream-can: #f5c663;
  --color-cyprus: #004144;

  --color-white: #fff;

  --color-headlines: var(--color-blue-dark);
  --color-copy: var(--color-blue-dark);
  --color-copy-light: var(--color-white);
  --color-copy-lowlight: var(--color-black-30);

  // rules that default to everything

  --color-service-overview-border: var(--color-black-30);

  --color-services-border: var(--color-service-overview-border);
  --color-services-labels: var(--color-trout);

  --color-page-detail-border: var(--color-black-30);
  --color-page-detail-copy: var(--color-black-85);
  --color-page-detail-shape: var(--color-yellow);
  --color-page-detail-details: var(--color-orange);

  --color-job-list-border: var(--color-black-30);

  --color-job-list-detail: var(--color-yellow);
  --color-job-list-detail-copy: var(--color-black-85);

  --color-person-quote-detail: var(--color-yellow);

  --color-icon-hover-background: var(--color-black-85);
  --color-icon-hover-color: var(--color-white);

  --color-modal-background: var(--color-white);

  --color-form-background: var(--color-porcelain);
  --color-form-background-light: var(--color-white);
  --color-form-error: var(--color-red);
  --color-form-success: var(--color-deep-sea);
  --color-form-border: var(--color-bon-jour);
  --color-form-border-hover: var(--color-black-30);

  --color-google-maps-popup-background: var(--color-blue-dark);

  --color-hero-icon: var(--color-yellow);
  --color-hero-study-background: var(--color-primary);
  --color-hero-study-copy: var(--color-copy);

  --color-people-square-copy: var(--color-white);

  --color-step-list-highlight: var(--color-yellow);
  --color-step-list-highlight-copy: var(--color-copy);
  --color-step-list-border: var(--color-black-15);

  --color-career-background: var(--color-blue-dark);

  --color-text-image-background: var(--color-career-background);

  --color-pricing-product-border: var(--color-manatee);

  --color-fab-background: var(--color-yellow);

  --color-testimonials: var(--color-primary);

  --color-event-teaser-timing: var(--color-manatee);
  --color-event-teaser-timing-highlight: var(--color-orange);
  --color-event-teaser-background: var(--color-black-2);
  --color-event-teaser-teaser-background: var(--color-green-blue);
  --color-event-teaser-teaser-copy: var(--color-white);

  --color-event-detail: var(--color-black-4);
  --color-event-detail-shape: var(--color-yellow);

  --color-badge-icon: var(--color-white);
  --color-badge-background: var(--color-orange);

  --color-card-background: var(--color-black-4);

  --color-back-to-top-border: var(--color-black-30);
  --color-back-to-top-hover-background: var(--color-blue-dark);
  --color-back-to-top-hover-foreground: var(--color-white);

  --color-background: var(--color-white);
}

$white-30: rgba(255, 255, 255, 0.3);

// plain copies
$gray-600: #8c98a4;

// Override theme classes
// .text-primary {
//   color: var(--color-primary) !important;
// }

// .text-secondary {
//   color: var(--color-secondary) !important;
// }

// .text-midnight {
//   color: var(--color-midnight) !important;
// }

// .bg-primary {
//   background-color: var(--color-primary) !important;
// }

// .bg-secondary {
//   background-color: var(--color-secondary) !important;
// }

// .bg-white {
//   background-color: var(--color-white);
// }

.bg-grey {
  background-color: var(--color-bg-grey);
}

// .bg-blue-medium {
//   background-color: var(--color-blue-medium);
// }

// .bg-blue-light {
//   background-color: var(--color-blue-light);
// }

// .bg-footer {
//   background-color: var(--color-midnight);
// }
