@charset 'UTF-8';

@import 'user-variables-type';

:export {
  font-size-base: $font-size-base;
  font-size-sm: $font-size-sm;
  font-size-xs: $font-size-xs;
  font-size-lg: $font-size-lg;
  font-size-1: $font-size-1;
  font-size-1-line-height: $font-size-1-line-height;
  font-size-2: $font-size-2;
  font-size-2-line-height: $font-size-2-line-height;
  font-size-3: $font-size-3;
  font-size-3-sm: $font-size-3-sm;
  font-size-3-lg: $font-size-3-lg;
  font-size-3-line-height: $font-size-3-line-height;
  font-size-4: $font-size-4;
  font-size-4-sm: $font-size-4-sm;
  font-size-4-lg: $font-size-4-lg;
  font-size-4-line-height: $font-size-4-line-height;
  font-size-4-line-height-lg: $font-size-4-line-height-lg;
  font-size-5: $font-size-5;
  font-size-5-line-height: $font-size-5-line-height;
  font-size-6: $font-size-6;
  font-size-6-sm: $font-size-6-sm;
  font-size-6-lg: $font-size-6-lg;
  font-size-6-line-height: $font-size-6-line-height;
  font-size-7: $font-size-7;
  font-size-7-sm: $font-size-7-sm;
  font-size-7-line-height: $font-size-7-line-height;
  font-size-7-line-height-lg: $font-size-7-line-height-lg;
  h1-font-size: $h1-font-size;
  h1-font-size-sm: $h1-font-size-sm;
  h1-font-size-lg: $h1-font-size-lg;
  h1-line-height: $h1-line-height;
  h2-font-size: $h2-font-size;
  h2-font-size-sm: $h2-font-size-sm;
  h2-font-size-lg: $h2-font-size-lg;
  h2-line-height: $h2-line-height;
  h3-font-size: $h3-font-size;
  h3-font-size-sm: $h3-font-size-sm;
  h3-font-size-lg: $h3-font-size-lg;
  h3-line-height: $h3-line-height;
  h4-font-size: $h4-font-size;
  h4-font-size-sm: $h4-font-size-sm;
  h4-font-size-lg: $h4-font-size-lg;
  h4-line-height: $h4-line-height;
}
