.is-invisible {
  @include is-invisible;
}

.has-background + .has-background {
  margin-top: 0 !important;
}

.is-sticky {
  position: fixed !important;
}

.has-headline-sticky {
  .headline-sticky__target {
    position: sticky;
    top: var(--scroll-top);
    z-index: 1;
    background-color: var(--headline-sticky-bg-color);

    &::after,
    &::before {
      display: none;
      content: '';
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      z-index: -1;
    }

    &::before {
      background-color: inherit;
    }

    &::after {
      background: linear-gradient(var(--headline-sticky-bg-color), rgba(255, 255, 255, 0));
    }
  }
}

.has-emergency-colors {
  --color-primary: var(--color-emergency);
  --color-primary-accent: var(--color-emergency-accent);
}

.is-centered {
  text-align: center;
}

.is-uppercase {
  text-transform: uppercase;
}
