$font-style-map: (
  'font-size-1': '.font-size-1',
  'font-size-2': '.font-size-2',
  'font-size-3': '.font-size-3',
  'font-size-4': '.font-size-4',
  'h2-font-size': '.h2-font-size',
  'h2-font-size-bold': '.h2-font-size.bold',
);

@mixin font-style($modifier) {
  $map: $font-style-map;
  $selector: map-get($map, $modifier);

  @extend #{$selector};
}

.shared-components {
  .h1,
  h1 {
    font-size: $h1-font-size-sm;
    line-height: 1.1;

    @include media-breakpoint-up(lg) {
      font-size: $h1-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $h1-font-size;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: var(--color-headlines);
    margin-top: 0;
    margin-bottom: spacing(2);
    line-height: 1.4em;
  }

  .h1-font-size {
    font-size: $h1-font-size-sm;
    line-height: 1.1em;

    @include media-breakpoint-up(lg) {
      font-size: $h1-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $h1-font-size;
    }
  }

  // TODO Consider `@extend .h2-font-size, .bold` instead.

  .h2-font-size.bold,
  .h2-font-size {
    font-size: $h2-font-size-sm;
    font-weight: lighter;
    line-height: 1.2em;

    &.bold {
      font-weight: bold;
    }

    @include media-breakpoint-up(lg) {
      font-size: $h2-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $h2-font-size;
    }
  }

  .h3-font-size {
    font-size: $h3-font-size-sm;
    font-weight: lighter;

    @include media-breakpoint-up(lg) {
      font-size: $h3-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $h3-font-size;
    }
  }

  .h4-font-size {
    font-size: $h4-font-size-sm;
    font-weight: normal;

    @include media-breakpoint-up(lg) {
      font-size: $h4-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $h4-font-size;
    }
  }

  .text-white {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: var(--color-white);
    }
  }

  .text-orange {
    color: var(--color-orange);
  }

  .text-green-blue {
    color: var(--color-green-blue);

    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5,
    &.h6 {
      color: var(--color-green-blue);
    }
  }

  .highlight-orange {
    background-color: var(--color-orange);
    padding: 0 0 3px;
  }

  .highlight-yellow {
    background-color: var(--color-yellow);
    padding: 0 0 3px;
  }

  .highlight {
    background-color: var(--color-primary);
    padding: 0 0 3px;
  }

  .lead {
    font-size: $font-size-lg;
  }

  .font-size-sm {
    font-size: $font-size-sm;
  }

  .font-size-1 {
    font-size: $font-size-1;
    line-height: 1.6;
  }

  .font-size-2 {
    font-size: $font-size-2;
  }

  .font-size-3 {
    font-size: $font-size-2;
    line-height: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: $font-size-2;
    }

    @include media-breakpoint-up(xl) {
      font-size: $font-size-3;
    }
  }

  .font-size-4 {
    font-size: $font-size-3;
    line-height: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: $font-size-3;
      line-height: 2.5rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: $font-size-4;
    }
  }
}
