$font-style-map: (
  'font-size-sm': '%font-size-sm',
  'font-size-1': '%font-size-1',
  'font-size-2': '%font-size-2',
  'font-size-3': '%font-size-3',
  'font-size-4': '%font-size-4',
  'font-size-5': '%font-size-5',
  'font-size-6': '%font-size-6',
  'font-size-7': '%font-size-7',
  'h1-font-size': '%h1-font-size',
  'h2-font-size': '%h2-font-size',
  'h3-font-size': '%h3-font-size',
  'h4-font-size': '%h4-font-size',
);

@mixin h2($breakpoint: false, $important: false) {
  $important-string: '';

  @if ($important) {
    $important-string: ' !important';
  }

  @if $breakpoint == 'xl' {
    font-size: $h2-font-size #{$important-string};
  } @else if $breakpoint == 'lg' {
    font-size: $h2-font-size-lg #{$important-string};
  } @else {
    font-size: $h2-font-size-sm #{$important-string};
    font-weight: lighter;
    line-height: $h2-line-height;
  }
}

@mixin h3($breakpoint: false, $important: false) {
  $important-string: '';

  @if ($important) {
    $important-string: ' !important';
  }

  @if $breakpoint == 'xl' {
    font-size: $h3-font-size #{$important-string};
  } @else if $breakpoint == 'lg' {
    font-size: $h3-font-size-lg #{$important-string};
  } @else {
    font-size: $h3-font-size-sm #{$important-string};
    font-weight: lighter #{$important-string};
  }
}

@mixin font-size-xs($breakpoint: false, $important: false) {
  $important-string: '';

  @if ($important) {
    $important-string: ' !important';
  }

  font-size: $font-size-xs #{$important-string};
}

@mixin font-size-sm($breakpoint: false, $important: false) {
  $important-string: '';

  @if ($important) {
    $important-string: ' !important';
  }

  font-size: $font-size-sm #{$important-string};
}

@mixin font-size-1($breakpoint: false, $important: false) {
  $important-string: '';

  @if ($important) {
    $important-string: ' !important';
  }

  font-size: $font-size-1 #{$important-string};
  line-height: #{$default-line-height} #{$important-string};
}

@mixin font-size-2($breakpoint: false, $important: false) {
  $important-string: '';

  @if ($important) {
    $important-string: ' !important';
  }

  font-size: $font-size-2 #{$important-string};
}

@mixin font-size-4($breakpoint: false, $important: false) {
  $important-string: '';

  @if ($important) {
    $important-string: ' !important';
  }

  @if $breakpoint == 'xl' {
    font-size: $font-size-4 #{$important-string};
  } @else if $breakpoint == 'lg' {
    font-size: $font-size-3 #{$important-string};
    line-height: $font-size-4-line-height-lg #{$important-string};
  } @else {
    font-size: $font-size-3 #{$important-string};
    line-height: $font-size-4-line-height #{$important-string};
  }
}

@mixin font-style($style, $weight: null, $line: null) {
  $map: $font-style-map;
  $selector: map-get($map, $style);

  $selector-list: #{$selector};

  @if $weight {
    $selector-list: $selector-list + ', .' + $weight;
  }

  @if $line {
    $selector-list: $selector-list + ', .' + $line;
  }

  // @if $style == 'font-size-2' {
  //   // @include font-size-2()

  // } @else {
  // TODO find a better way of extending without the use of @extend
  @extend #{$selector-list} !optional;
  // }
}

@mixin font-mods($weight: 'light') {
  @if $weight == 'light' {
    font-weight: 100 !important;

    strong {
      font-weight: inherit;
    }
  }
}

.shared-components {
  %h1,
  .h1,
  h1 {
    font-size: $h1-font-size-sm;
    line-height: 1.1;

    @include media-breakpoint-up(lg) {
      font-size: $h1-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $h1-font-size;
    }
  }

  %h1,
  %h2,
  %h3,
  %h4,
  %h5,
  %h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: var(--color-headlines);
    margin-top: 0;
    margin-bottom: spacing(2);
    line-height: 1.4em;
  }

  %font-size-xs,
  %font-size-sm,
  %font-size-1,
  %font-size-2,
  %font-size-3,
  %font-size-4,
  %font-size-5,
  %font-size-6,
  %h1-font-size,
  %h2-font-size,
  %h3-font-size,
  %h4-font-size,
  %h5-font-size,
  %h6-font-size,
  .font-size-xs,
  .font-size-sm,
  .font-size-1,
  .font-size-2,
  .font-size-3,
  .font-size-4,
  .font-size-5,
  .font-size-6,
  .font-size-7,
  .h1-font-size,
  .h2-font-size,
  .h3-font-size,
  .h4-font-size,
  .h5-font-size,
  .h6-font-size {
    &.bold {
      font-weight: bold !important;
    }

    &.normal {
      font-weight: 400 !important;
    }

    &.light {
      @include font-mods('light');
    }

    &.wide {
      line-height: 1.7em;
    }

    &.thin {
      line-height: 1.2em;
    }
  }

  %h1-font-size,
  h1,
  .h1-font-size {
    font-size: $h1-font-size-sm;
    line-height: $h1-line-height;

    @include media-breakpoint-up(lg) {
      font-size: $h1-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $h1-font-size;
    }
  }

  %h2-font-size,
  h2,
  .h2-font-size {
    @include h2;

    @include media-breakpoint-up(lg) {
      @include h2('lg');
    }

    @include media-breakpoint-up(xl) {
      @include h2('xl');
    }
  }

  %h3-font-size,
  h3,
  .h3-font-size {
    @include h3;

    @include media-breakpoint-up(lg) {
      @include h3('lg');
    }

    @include media-breakpoint-up(xl) {
      @include h3('xl');
    }
  }

  %h4-font-size,
  h4,
  .h4-font-size {
    font-size: $h4-font-size-sm;
    font-weight: normal;

    @include media-breakpoint-up(lg) {
      font-size: $h4-font-size-lg;
    }

    @include media-breakpoint-up(xl) {
      font-size: $h4-font-size;
    }
  }

  .text-white {
    %h1,
    %h2,
    %h3,
    %h4,
    %h5,
    %h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: var(--color-white);
    }
  }

  .text-orange {
    color: var(--color-orange);
  }

  .text-green-blue {
    color: var(--color-green-blue);

    &%h1,
    &%h2,
    &%h3,
    &%h4,
    &%h5,
    &%h6,
    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5,
    &.h6 {
      color: var(--color-green-blue);
    }
  }

  .highlight-orange {
    background-color: var(--color-orange);
    padding: 0 0 3px;
  }

  .highlight-yellow {
    background-color: var(--color-yellow);
    padding: 0 0 3px;
  }

  .highlight {
    background-color: var(--color-primary);
    padding: 0 0 3px;
  }

  .lead {
    font-size: $font-size-lg;
  }

  %font-size-sm,
  .font-size-sm {
    @include font-size-sm;
  }

  %font-size-xs,
  .font-size-xs {
    @include font-size-xs;
  }

  .is-error,
  %font-size-1,
  .font-size-1 {
    @include font-size-1;
  }

  %font-size-2,
  .font-size-2 {
    @include font-size-2;
  }

  %font-size-3,
  .font-size-3 {
    font-size: $font-size-2;
    line-height: $font-size-3-line-height;

    @include media-breakpoint-up(lg) {
      font-size: $font-size-2;
    }

    @include media-breakpoint-up(xl) {
      font-size: $font-size-3;
    }
  }

  %font-size-4,
  .font-size-4 {
    @include font-size-4;

    @include media-breakpoint-up(lg) {
      @include font-size-4($breakpoint: 'lg');
    }

    @include media-breakpoint-up(xl) {
      @include font-size-4($breakpoint: 'xl');
    }
  }

  %font-size-5,
  .font-size-5 {
    font-size: $font-size-5;
  }

  %font-size-6,
  .font-size-6 {
    font-size: 4rem;
    line-height: $font-size-6-line-height;

    @include media-breakpoint-up(lg) {
      font-size: 5rem;
      margin-left: -5px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 6rem;
    }
  }

  %font-size-7,
  .font-size-7 {
    font-size: $font-size-7-sm;
    line-height: $font-size-7-line-height;
    margin-left: -5px;

    @include media-breakpoint-up(lg) {
      font-size: $font-size-7;
      line-height: $font-size-7-line-height-lg;
      margin-left: -15px;
    }
  }

  .is-error {
    color: var(--color-form-error);
    font-weight: bold;
  }
}

:root {
  --type-default-line-height: #{$default-line-height};
}
