$default-line-height: 1.6;

$font-size-12px: 0.75rem;
$font-size-13px: 0.8125rem;
$font-size-14px: 0.875rem;
$font-size-16px: 1rem;
$font-size-18px: 1.125rem;

// TODO get rid of depdendency
$font-size-base: $font-size-16px;
$font-size-sm: $font-size-base * 0.85;
$font-size-xs: $font-size-sm * 0.89;
$font-size-lg: 1.5rem;

$font-size-1: 1rem;
$font-size-1-line-height: $default-line-height;

$font-size-2: 1.25rem;
$font-size-2-line-height: $default-line-height;

$font-size-3: 1.5625rem;
$font-size-3-sm: 1.25rem;
$font-size-3-lg: 1.25rem;
$font-size-3-line-height: 2.5rem;

$font-size-4: 1.95313rem;
$font-size-4-sm: 1.5625rem;
$font-size-4-lg: 1.5625rem;
$font-size-4-line-height: 2rem;
$font-size-4-line-height-lg: 2.5rem;

$font-size-5: 3rem;
$font-size-5-line-height: $default-line-height;

$font-size-6: 6rem;
$font-size-6-sm: 4rem;
$font-size-6-lg: 5rem;
$font-size-6-line-height: 1.1em;

$font-size-7: 9.76563rem * 1.25;
$font-size-7-sm: 9.76563rem;
$font-size-7-line-height: 8rem;
$font-size-7-line-height-lg: 12rem;

$font-size-8-sm: $font-size-14px;
$font-size-8: $font-size-14px;
$font-size-8-lg: $font-size-14px;
$font-size-8-xl: $font-size-14px;

$h1-font-size: $font-size-base * 5;
$h1-font-size-sm: $h1-font-size / 1.8;
$h1-font-size-lg: $h1-font-size / 1.3;
$h1-line-height: 1.1em;

$h2-font-size: $font-size-base * 3.75;
$h2-font-size-sm: $h2-font-size / 1.8;
$h2-font-size-lg: $h2-font-size / 1.3;
$h2-line-height: 1.2em;

$h3-font-size: $font-size-base * 2.5;
$h3-font-size-sm: $h3-font-size / 1.6;
$h3-font-size-lg: $h3-font-size / 1.3;
$h3-line-height: $default-line-height;

$h4-font-size: $font-size-base * 1.8;
$h4-font-size-sm: $h4-font-size / 0.98;
$h4-font-size-lg: $h4-font-size / 0.95;
$h4-line-height: $default-line-height;

$content-width-lg: 80%;
