@charset 'UTF-8';

@import 'colors';
@import 'user-variables-type';
@import 'user-variables';
@import 'animations';
@import 'mixins';
@import 'type';
@import 'fonts';
@import 'spacings';
@import 'theme';
@import 'bootstrap/bootstrap';
@import 'bootstrap-helper';
@import 'helper';
@import 'loading';
@import 'modal';
@import 'richtext';
@import 'slick';
@import 'streamline-icon';
@import 'z-index';

@import 'components/index';
@import 'pages/index';

html,
body {
  --scroll-top: 80px;
  --utility-animation-index: 1;
  --utility-animation-distance: 25%;
  --utility-animation-to-opacity: 1;
  --utility-animation-items-loaded: 0;
  --icon-scale: 1;

  font-family: var(--font-family);
  color: var(--color-copy);
  // overflow-x: hidden; // removing this might have side-effects so we might need to enable it again

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      --container-width: #{get-container-width($name: $breakpoint, $with-padding: true)};
      --container-width-no-padding: #{get-container-width($name: $breakpoint, $with-padding: false)};
      --breakpoint: #{$breakpoint};
    }
  }

  @include media-breakpoint-up('md') {
    --scroll-top: 100px;
  }
}

body {
  line-height: var(--type-default-line-height);
  background-color: var(--color-background);
}

.other {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

img {
  height: auto;
  max-width: 100%;
}

/* Banner */
.navbar-banner {
  background-size: 289px 180px; // reset cover
  background-position: center center; // top cover
}

.navbar-banner::after {
  background-color: transparent; // reset background-color
}

ul.dashed {
  list-style-type: none;
}

ul.dashed li:before {
  content: '\2014';
  position: absolute;
  margin-left: -30px;
  color: var(--color-macaroni-and-cheese);
}

.drop-shadow {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));
}

.text-shadow {
  text-shadow: 7px 5px 7px #ffffff;
}

#app {
  main {
    opacity: 0;
    pointer-events: none;
  }

  &[data-v-app] {
    main {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

strong[id] {
  &:target {
    &::before {
      content: '';
      display: block;
      height: var(--scroll-top);
      margin: calc(-1 * (var(--scroll-top))) 0 0;
    }
  }
}
