.sb-show-main {
  .shared-components {
    .img__picture-wrapper,
    > img {
      max-width: 600px;
    }

    .fab-button {
      margin-top: 85vh;

      &:after {
        content: '';
        display: block;
        height: 20vh;
      }
    }
  }
}
