{%
  include header.html
%}
<div class="header__test-container light">
  <div style="display: flex;">
    <div style="height: 300vh; width: 50%; background-color: var(--color-black);"></div>
    <div style="height: 300vh; width: 50%"></div>
  </div>
</div>
<div class="header__test-container">
  <div style="height: 300vh"></div>
</div>
<div class="header__test-container light">
  <div style="height: 300vh"></div>
</div>
<style>
  .header__test-container {
    background-color: var(--color-blue-dark);
    margin: -1rem;
  }

  .header__test-container.light {
    background-color: var(--color-white);
    margin: -1rem;
  }
</style>
