{%
  include hero-text-image.html
%}
<div style="background-color: #eee; height: 200vh; display: flex; place-content: center; place-items: center;">
  <div>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
    <h2>DUMMY CONTENT BLOCK</h2>
  </div>
</div>
