.aside__wrapper {
  display: flex;
  margin-bottom: 2rem;
  @include media-breakpoint-down(xl) {
    flex-direction: row;
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  gap: spacing(14);
  .left__side {
    flex: 1 1 60%;
  }
  .right__side {
    flex: 1 1 40%;
    right: 0;

    img {
      width: 100%;
    }
  }
}
