.authors {
  color: var(--color-copy-reduced);

  &.authors--no-link {
    color: $gray-600;
  }

  .authors__link:not([href]) {
    color: var(--color-copy-reduced) !important;
    pointer-events: none;
  }
}

.author {
  .author__intro-block,
  .author__posts {
    border-top: 1px solid var(--color-services-border);
  }

  .author__intro,
  .author__socials {
    padding-top: spacing(5);
  }

  .author__events {
    .container {
      @include media-breakpoint-up(lg) {
        padding: 0;
      }
    }
  }
}
