.back {
  position: relative;
  // display: block !important;
  // display: none;
  display: inline-flex;
  width: spacing(9);
  height: spacing(9);
  cursor: pointer;
  top: spacing($size: 8, $negative: true);

  .icon {
    width: 100%;
    height: 100%;
  }

  &:not(.back--animated) {
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: all;
    }

    @include media-breakpoint-up(lg) {
      top: spacing($size: 24, $negative: true);
      opacity: 0;
      transition: opacity 0.6s $animation-transition;
    }
  }
}
