$back-to-top-size: spacing(12);
$back-to-top-bottom-offset-lg: 16px;
$back-to-top-bottom-offset-xs: 32px;

// TODO figure out a better way of prevent that sticky hover
@media (hover: hover) {
  .back-to-top:hover {
    svg {
      animation: moveRightLeft;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-timing-function: $animation-transition;
      color: var(--color-back-to-top-hover-foreground);
    }

    .back-to-top__icon {
      background-color: var(--color-back-to-top-hover-background);
      border-color: var(--color-back-to-top-hover-background);
    }
  }
}

.back-to-top__start {
  position: absolute;
  top: 200vh;
}

.back-to-top {
  @include z-index;

  position: relative;
  width: 100%;
  pointer-events: none;
  opacity: 0;

  &[style^='height'] {
    pointer-events: all;
    opacity: 1;
    transition: opacity 0.8s $animation-transition;

    .back-to-top__icon {
      transform: translateY(0) rotate(-90deg);
    }
  }

  .back-to-top__icon {
    .icon {
      width: inherit;
      height: inherit;
    }
  }
}

.back-to-top__wrapper {
  position: relative;
  margin-left: auto;
  right: spacing(4);
  top: calc(100vh - (#{$back-to-top-size} + #{$back-to-top-bottom-offset-lg})) !important;
}

.back-to-top__icon {
  position: absolute;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: spacing(3);
  width: $back-to-top-size;
  height: $back-to-top-size;
  right: 0;
  border: 1px solid var(--color-back-to-top-border);
  transition: transform 0.8s $animation-transition;
  transform: translateY(100%) rotate(-90deg);

  svg {
    width: 50%;
  }
}
