.badge {
  &.badge--normal {
    display: inline-flex;
    align-items: center;
    padding: spacing(0) spacing(3);
    text-align: left;
    border-radius: 0;
    transition: none;
  }

  &.badge--overlapping {
    // TODO add inverting css property
    position: relative;
    padding-left: 0;

    &::before {
      @include shadow('super-light');

      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      background-color: inherit;
      width: 50vw;
      z-index: -1;
    }
  }
}

.badge__text {
  display: inline-block;

  + .badge__icon {
    margin-left: spacing(4);
  }
}

.badge__icon {
  display: inline-flex;
}
