$blog-recent-spacing-sm: 2;
$blog-recent-spacing-lg: 4;
$blog-recent-arrow-offset-lg: 10;
$blog-recent-arrow-offset-xl: 12;

.blog-recent {
  position: relative;
  overflow: hidden;
}

.blog-recent__bg {
  position: absolute;
  height: 420vw;
  width: 148vh;
  left: -188px;
  top: 100px;
  transform: rotate(320deg);
  transform-origin: top left;

  @include media-breakpoint-up(md) {
    transform: rotate(310deg);
  }

  @include media-breakpoint-up(lg) {
    left: -100px;
    top: 130px;
    transform: rotate(292deg);
  }
}

.blog-recent__slide {
  padding: 0;

  @include media-breakpoint-up(sm) {
    padding: 0 spacing($blog-recent-spacing-sm);
  }

  @include media-breakpoint-up(lg) {
    padding: 0 spacing($blog-recent-spacing-lg);
  }
}

.blog-recent__container {
  width: 100%;

  @include media-breakpoint-up(sm) {
    margin: 0 spacing($size: $blog-recent-spacing-sm, $negative: true);
    width: calc(100% + (2 * #{spacing($blog-recent-spacing-sm)}));
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    margin: 0;
  }
}

.blog-recent__arrow-left,
.blog-recent__arrow-right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: spacing($blog-recent-arrow-offset-lg);
  height: spacing($blog-recent-arrow-offset-lg);
  border: 1px solid var(--color-black-40);
  background-color: transparent;
  display: none !important;

  &::before {
    position: relative;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  &.slick-disabled {
    pointer-events: none;
    display: none !important;
  }

  &.slick-arrow:not(.slick-disabled) {
    &:hover {
      background-color: transparent;
      border-color: transparent;

      &::before {
        border-color: var(--color-blue-medium);
        filter: invert(28%) sepia(97%) saturate(1365%) hue-rotate(185deg) brightness(96%) contrast(101%);
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: block !important;
  }

  @include media-breakpoint-up(xl) {
    width: spacing($blog-recent-arrow-offset-xl);
    height: spacing($blog-recent-arrow-offset-xl);
  }
}

// TODO refactor to slick classes
.blog-recent__arrow-left {
  left: -#{spacing($blog-recent-arrow-offset-lg)};

  &::before {
    background-image: assets('../../assets/svg/arrow-slider.svg');
    transform: rotate(90deg) translate(-50%, 50%);
  }

  @include media-breakpoint-up(xl) {
    left: -#{spacing($blog-recent-arrow-offset-xl)};
  }
}

.blog-recent__arrow-right {
  right: -#{spacing($blog-recent-arrow-offset-lg)};

  &::before {
    background-image: assets('../../assets/svg/arrow-slider.svg');
    transform: rotate(-90deg) translate(50%, -50%);
  }

  @include media-breakpoint-up(xl) {
    right: -#{spacing($blog-recent-arrow-offset-xl)};
  }
}
