$blog-recent-spacing-sm: 2;
$blog-recent-spacing-lg: 4;
$blog-recent-arrow-offset-lg: 10;
$blog-recent-arrow-offset-xl: 12;

.blog-recent {
  position: relative;
  overflow: hidden;
}

.blog-recent__bg {
  position: absolute;
  height: 420vw;
  width: 148vh;
  left: -188px;
  top: 100px;
  transform: rotate(320deg);
  transform-origin: top left;

  @include media-breakpoint-up(md) {
    transform: rotate(310deg);
  }

  @include media-breakpoint-up(lg) {
    left: -100px;
    top: 130px;
    transform: rotate(292deg);
  }
}

.blog-recent__slide {
  padding: 0;

  @include media-breakpoint-up(sm) {
    padding: 0 spacing($blog-recent-spacing-sm);
  }

  @include media-breakpoint-up(lg) {
    padding: 0 spacing($blog-recent-spacing-lg);
  }
}

.blog-recent__container {
  width: 100%;

  @include media-breakpoint-up(sm) {
    margin: 0 spacing($size: $blog-recent-spacing-sm, $negative: true);
    width: calc(100% + (2 * #{spacing($blog-recent-spacing-sm)}));
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    margin: 0;
  }
}

.blog-recent__cta-row {
  place-content: end;
  margin: spacing(5) 0;
}
