.carousel {
  --color-carousel-background: rgb(227, 47, 47);

  overflow: hidden;
  width: 100%;
  position: relative;

  &.has-background {
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 90px;
      height: 100%;
      z-index: 2;
      pointer-events: none;
      left: 0;
      background: linear-gradient(to right, var(--color-carousel-background) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:after {
      right: 0;
      left: auto;
      top: 0;
      background: linear-gradient(to left, var(--color-carousel-background) 0%, rgba(255, 255, 255, 0) 100%);
    }

    @include media-breakpoint-up('lg') {
      &:before,
      &:after {
        width: 150px;
      }
    }
  }
}

.carousel__content {
  display: flex;
  white-space: nowrap;
  animation: scroll 50s linear infinite;
  align-items: center;

  &:hover {
    animation-play-state: paused;
  }
}

.carousel__item-container {
  display: inline-block;
  max-width: 40%;
  padding: 0 spacing(4);
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;

  @include media-breakpoint-up('lg') {
    max-width: 25%;
  }
}
