.card {
  &:not(.card--no-link):hover {
    @include shadow('medium-light');

    cursor: pointer;
  }

  &:not(.card--large):not(.card--long) {
    max-width: unquote('min(480px, 100%)');

    @include media-breakpoint-up(md) {
      max-width: unquote('min(480px, 100vw)');
    }
  }

  &.card--long {
    max-width: 100%;

    @include media-breakpoint-up(lg) {
      max-width: unquote('min(580px, 100%)');
    }
  }

  &.card--event {
    .card__author {
      text-align: right;
    }
  }

  article {
    margin: 0;
  }

  .ie-curved-x,
  .ie-curved-y {
    display: none;
  }

  .card-img-top {
    @include aspect-ratio(16, 9);

    &:not(.card-img--long) {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-img--long {
      object-fit: cover;
    }

    &.card-img--products {
      .headline {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .card-img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card-footer {
    &:last-child {
      border-radius: 0;
    }
  }

  .card-body {
    &.card-body--products {
      .headline {
        color: var(--color-regent-grey);
      }
    }
  }

  .card-footer,
  .card-body {
    background-color: var(--color-card-background);
  }

  h4 {
    line-height: 1.2em;
  }
}

.card__scope,
.card__points {
  @include font-size-1;
}

.card__scope {
  color: var(--color-card-highlight);
}
