.carousel {
  --color-carousel-background: rgb(227, 47, 47);

  width: 100%;
  position: relative;

  &.has-background {
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 90px;
      height: 100%;
      z-index: 2;
      pointer-events: none;
      left: 0;
      background: linear-gradient(to right, var(--color-carousel-background) 0%, rgba(255, 255, 255, 0) 100%);
    }

    &:after {
      right: 0;
      left: auto;
      top: 0;
      background: linear-gradient(to left, var(--color-carousel-background) 0%, rgba(255, 255, 255, 0) 100%);
    }

    @include media-breakpoint-up('lg') {
      &:before,
      &:after {
        width: 150px;
      }
    }
  }
}

.carousel__container {
  /* prevents css bleeding edge */
  overflow: hidden;
  margin: 0 2px;
  position: relative;
}

.carousel__row {
  display: flex;
  white-space: nowrap;
  position: relative;
  animation: scroll 50s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.carousel__row-section {
  display: inline-block;
  white-space: nowrap;
  align-items: center;
  flex-shrink: 0;

  > * {
    display: inline-block;
    flex-shrink: 0;
    max-width: 40vw;
    padding: 0 spacing(4);

    @include media-breakpoint-up('lg') {
      max-width: 20vw;
    }
  }
}
