.card {
  &:not(.card--large) {
    max-width: unquote('min(480px, 100%)');

    @include media-breakpoint-up(md) {
      max-width: unquote('min(480px, 100vw)');
    }
  }

  &.card--event {
    .card__author {
      text-align: right;
    }
  }

  .ie-curved-x,
  .ie-curved-y {
    display: none;
  }

  .card-img-top {
    img {
      width: 100%;
    }
  }

  .card-img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card-footer {
    &:last-child {
      border-radius: 0;
    }
  }

  .card-footer,
  .card-body {
    background-color: var(--color-card-background);
  }

  h4 {
    line-height: 1.2em;
  }
}
