.contact {
  --color-contact-person: var(--color-yellow);
  --color-contact-quote-person: var(--color-green-blue);
  --color-detail-highlight: var(--color-orange);
  --color-contact-background: var(--color-primary);
  --color-contact-quote-background: var(--color-gigas);
  --contact-spacing-collapsed: #{spacing(3)};

  &.contact--has-shape {
    --color-contact-person: var(--color-primary);
  }

  &:not(.contact--has-shape):not(.is-collapsed):not(.contact--quote) {
    background-color: var(--color-contact-background);
  }
  &:not(.contact--has-shape):not(.is-collapsed) {
    background-color: var(--color-contact-quote-background);
  }

  & .contact--quote {
    color: white;
    overflow: clip;


    .contact__icon {
      width: 100%;
      height: auto;
      padding: spacing(10);
    }

    .contact__image-quote {
      border-radius: 100%;
      overflow: hidden;
      float: right;
      clear: both;
      width: spacing(30);
      max-width: 200px;
      margin-top: spacing(50);
      height: spacing(30);
      display: flex;
      shape-outside: circle(50%);
      img {
        clear: both;
      }
    }
    .contact__quote {
      line-height: spacing(10);
      font-size: spacing(5);
      width: 100%;
    }
  }

  &:not(.is-collapsed) {
    .contact__form {
      .form {
        margin-bottom: spacing(12);
      }
    }

    .contact__subline {
      display: block;
    }

    .contact__subline,
    .contact__healdine {
      text-align: center;
    }

    @include media-breakpoint-up(lg) {
      .contact__form {
        .form {
          margin-bottom: 0;
        }
      }

      .contact__subline,
      .contact__healdine {
        text-align: left;
      }
    }
  }

  &.is-collapsed{
    max-width: 500px;
    overflow: hidden;
    transition: height 0.7s $animation-transition;

    &.show {
      .contact__form {
        padding: spacing(2) spacing(4) spacing(2);
        opacity: 1;
      }

      .contact__box {
        opacity: 0;
      }
    }

    &:not(.show) {
      .contact__form {
        visibility: collapse;
        pointer-events: none;
        opacity: 0;
      }
    }

    .contact__form {
      overflow: hidden;
      flex: 0;
      height: 0;
      transition: opacity 0.7s $animation-transition, height 0.7s $animation-transition;
    }


    .contact__box {
      transition: opacity 0.7s $animation-transition;
    }

    .contact__details {
      font-size: $font-size-1;
      padding-left: var(--contact-spacing-collapsed);

      @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
      }
    }

    .contact__image {
      padding: var(--contact-spacing-collapsed) !important;
    }

    .contact__person {
      padding-bottom: var(--contact-spacing-collapsed) !important;
    }
  }



  + footer {
    margin-top: 0 !important;
  }
}

.contact__detail {
  flex-wrap: wrap;
}

.contact__notes-spacing {
  opacity: 0;
  pointer-events: none;
}

.contact__notes {
  @include font-style('font-size-1');

  flex: 1 0 100%;
}

.contact__person {
  &:not(.contact--quote){
    background-color: var(--color-contact-person);
  }
  background-color: var(--color-contact-quote-person);
  height: 100%;
}

.contact__position{
  @include media-breakpoint-down(md) {
    display: none;
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    left: 45%;
    top: -5.5%;
  }
  //display: none;
}

.contact__detail--quote {
  @include media-breakpoint-down(md) {
    display: none;
  }
  @include media-breakpoint-up(md) {
    padding-top: spacing(130);
    padding-left: spacing(20);
    //color: white;
    span {
      font-size: spacing(7);
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}


.contact__details {
  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 10px;
    position: absolute;
    background-color: var(--color-detail-highlight);
  }

  a,
  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .fas {
    font-size: 1.5em;
  }
}

.page-content {
  > * {
    &:last-of-type {
      &.contact {
        // they must match the footer margin-top
        margin-bottom: -3.5rem !important;

        @include media-breakpoint-up(lg) {
          margin-bottom: -5rem !important;
        }
      }
    }
  }
}
