$content-scroller-orientatio-breakpoint: 'md';

// TODO mobile layout

.content-scroller {
  @include z-index;

  --content-scroller-spacing: #{spacing(15)};
  --content-scroller-spacing-small: #{spacing(10)};
  --content-scroller-background: var(--color-surface-background);
  --content-scroller-top-offset: 20vh;

  position: relative;

  .content-scroller__block-headline {
    @include font-style($style: 'font-size-1', $weight: 'bold');
  }

  .content-scroller__block-content {
    @include font-style($style: 'font-size-1', $weight: 'light');

    margin-bottom: 0;
  }
}

.content-scroller__grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  position: relative;
  min-height: calc(200vh + 30px);
  margin-top: var(--content-scroller-spacing);

  @include media-breakpoint-up($content-scroller-orientatio-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content-scroller__content {
  margin-top: calc(var(--content-scroller-spacing) * 2);
  position: sticky;
  top: var(--content-scroller-top-offset);
  height: calc(max(100vh, var(--content-scroller-min-height)) - var(--content-scroller-top-offset));
}

.content-scroller__content-wrapper {
  padding: var(--content-scroller-spacing) calc(var(--content-scroller-spacing) * 2) 0 0;
  top: 0;
  position: relative;
  height: 100%;
  display: flex;
  align-self: start;
  justify-content: center;
  align-items: flex-start;
}

.content-scroller__blocks {
  position: relative;
  padding-left: var(--content-scroller-spacing);
  width: 100%;
  height: 100%;
}

.content-scroller__blocks-frame {
  top: calc(-1 * var(--content-scroller-spacing));
  position: relative;
  margin-top: calc(var(--content-scroller-spacing) * 3);
}

.content-scroller__block-space {
  padding-bottom: var(--content-scroller-spacing-small);
  border-bottom: 1px solid var(--color-primary-accent);
}

.content-scroller__block {
  --content-scroller-block-start-position: 10rem;
  --content-scroller-block-position: calc(
    var(--content-scroller-block-start-position) -
      (var(--content-scroller-block-start-position) * (var(--content-scroller-block-scroll-percentage) / 100))
  );

  --content-scroller-block-scroll-opacity: calc(var(--content-scroller-block-scroll-percentage) / 100);

  transform: translate3d(0px, var(--content-scroller-block-position), 0px);
  opacity: var(--content-scroller-block-scroll-opacity);
  width: 100%;
  will-change: transform, opacity;
  margin-bottom: calc(var(--content-scroller-spacing-small));

  &:last-of-type {
    margin-bottom: 0;

    .content-scroller__block-space {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.content-scroller__background {
  background-color: var(--content-scroller-background);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(50vw - 2 * (#{$grid-gutter-half-width}));
  height: 100%;
  z-index: -1;
}

.content-scroller__blocks-placeholder {
  position: sticky;
  margin-top: calc(var(--content-scroller-spacing) * 3);
  top: calc(var(--content-scroller-top-offset));
  min-height: calc(100vh - var(--content-scroller-top-offset));
}
