.contact {
  --color-contact-person: var(--color-yellow);
  --color-detail-highlight: var(--color-orange);
  --color-contact-background: var(--color-primary);

  &.contact--has-shape {
    --color-contact-person: var(--color-primary);
  }

  &:not(.contact--has-shape):not(.is-collapsed) {
    background-color: var(--color-contact-background);
  }

  &.is-collapsed {
    .contact__form {
      @include is-invisible;

      flex: 0;
    }
  }

  + footer {
    margin-top: 0 !important;
  }
}

.contact__person {
  background-color: var(--color-contact-person);
  height: 100%;
}

.contact__box {
  margin-bottom: 5rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: -7rem;
  }
}

.contact__details {
  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 10px;
    position: absolute;
    background-color: var(--color-detail-highlight);
  }

  a,
  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }

  .fas {
    font-size: 1.5em;
  }
}

.page-content {
  > * {
    &:last-of-type {
      &.contact {
        // they must match the footer margin-top
        margin-bottom: -3.5rem !important;

        @include media-breakpoint-up(lg) {
          margin-bottom: -5rem !important;
        }
      }
    }
  }
}
