.contact {
  --color-contact-person: var(--color-yellow);
  --color-contact-quote-person: var(--color-green-blue);
  --color-detail-highlight: var(--color-orange);
  --color-contact-background: var(--color-primary);
  --color-contact-quote-background: var(--color-gigas);
  --contact-spacing-collapsed: #{spacing(3)};
  --contact-copy-color: var(--color-copy);

  color: var(--contact-copy-color);

  .input-label,
  .headline {
    color: inherit;
  }

  &.contact--has-shape {
    --color-contact-person: var(--color-primary);
  }

  &:not(.contact--has-shape):not(.is-collapsed):not(.contact--quote) {
    background-color: var(--color-contact-background);
  }
  &:not(.contact--has-shape):not(.is-collapsed) {
    background-color: var(--color-contact-quote-background);
  }

  &.contact--quote {
    --contact-copy-color: var(--color-copy-light);

    .contact__icon {
      width: 100%;
      height: auto;
      margin-bottom: spacing(5);

      svg {
        width: spacing(10);
        height: spacing(10);
      }
    }

    .contact__box {
      margin-top: spacing(20);

      @include media-breakpoint-up(lg) {
        margin-top: spacing($size: 28, $negative: true);
      }
    }

    .contact__person {
      --color-contact-person: var(--color-contact-quote-person);

      position: relative;
      height: auto;
      padding: spacing(12) spacing(8) spacing(12) spacing(11);
    }
  }

  &:not(.is-collapsed) {
    .contact__form {
      .form {
        margin-bottom: spacing(12);
      }
    }

    .contact__subline {
      display: block;
    }

    .contact__subline,
    .contact__healdine {
      text-align: center;
    }

    @include media-breakpoint-up(lg) {
      .contact__form {
        .form {
          margin-bottom: 0;
        }
      }

      .contact__subline,
      .contact__healdine {
        text-align: left;
      }
    }
  }

  &.is-collapsed {
    max-width: 500px;
    overflow: hidden;
    transition: height 0.7s $animation-transition;

    &.show {
      .contact__form {
        padding: spacing(2) spacing(4) spacing(2);
        opacity: 1;
      }

      .contact__box {
        opacity: 0;
      }
    }

    &:not(.show) {
      .contact__form {
        visibility: collapse;
        pointer-events: none;
        opacity: 0;
      }
    }

    .contact__form {
      overflow: hidden;
      flex: 0;
      height: 0;
      transition: opacity 0.7s $animation-transition, height 0.7s $animation-transition;
    }

    .contact__box {
      transition: opacity 0.7s $animation-transition;
    }

    .contact__details {
      font-size: $font-size-1;
      padding-left: var(--contact-spacing-collapsed);

      @include media-breakpoint-up(lg) {
        font-size: $font-size-2;
      }
    }

    .contact__image {
      padding: var(--contact-spacing-collapsed) !important;
    }

    .contact__person {
      padding-bottom: var(--contact-spacing-collapsed);
    }
  }

  + footer {
    margin-top: 0 !important;
  }
}

.contact__detail {
  flex-wrap: wrap;
}

.contact__notes-spacing {
  opacity: 0;
  pointer-events: none;
}

.contact__notes {
  @include font-style('font-size-1');

  flex: 1 0 100%;
}

.contact__person {
  background-color: var(--color-contact-person);
  height: 100%;
  padding-bottom: spacing(20);
}

.contact__detail-quote {
  margin-right: spacing(14);
  margin-top: spacing(16);
  margin-bottom: spacing(12);

  .contact__detail-headline {
    margin-bottom: spacing(8);
  }

  @include media-breakpoint-up(lg) {
    margin-top: spacing(30);
    margin-right: 0;
    margin-bottom: spacing(16);
  }

  @include media-breakpoint-up(xl) {
    margin-right: spacing(18);
  }
}

.contact__details {
  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 10px;
    position: absolute;
    background-color: var(--color-detail-highlight);
  }

  .fas {
    font-size: 1.5em;
  }
}

.contact__detail,
.contact__details {
  a,
  a:visited {
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
  }
}

.contact__person-quote {
  position: relative;
  overflow: clip;
}

.contact__image-quote {
  float: right;
  width: spacing(35);
  height: spacing(35);
  padding-left: spacing(5);
  padding-bottom: spacing(5);
  max-width: 200px;
  position: relative;
  pointer-events: none;
}

.contact__image-spacer {
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  clear: both;
  width: 100%;
  height: 100%;
}

.contact__quote {
  width: 100%;
  margin-bottom: spacing(8);
}

.page-content {
  > * {
    &:last-of-type {
      &.contact {
        // they must match the footer margin-top
        margin-bottom: -3.5rem !important;

        @include media-breakpoint-up(lg) {
          margin-bottom: -5rem !important;
        }
      }
    }
  }
}
