.hover__parent:hover .cta,
.shared-components .cta:hover {
  box-shadow: none;
  color: var(--color-primary-accent);

  &.cta--external {
    .icon svg {
      @include move-top-right;
    }
  }

  &.cta--download {
    .icon svg {
      animation: ctaDownload;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
      animation-timing-function: $animation-transition;
    }
  }

  &.link {
    svg {
      @include move-right-left;
      stroke: var(--color-svg-icon--hover);
    }
  }

  &:not(.btn):not(.custom):not(.nav-link) {
    &.is-light {
      color: var(--color-white);
    }
  }

  &.btn-primary {
    &.is-light {
      &:not(label.btn):not([href]) {
        background-color: var(--color-primary-accent-light);
        color: var(--color-primary-accent);
      }

      background-color: var(--color-primary-accent-light);
      color: var(--color-primary-accent);
    }

    &::after {
      opacity: 1;
      background-position: left bottom;
    }
  }

  &.btn-secondary {
    border-color: var(--color-primary-accent);
    color: var(--color-primary-accent);

    &.is-cutoff {
      &::before {
        background: var(--color-primary-accent);
      }
    }

    &.is-light {
      border-color: var(--color-white);
      color: var(--color-primary-accent);

      &::before {
        background: var(--color-white);
      }

      &::after {
        opacity: 1;
        background-position: left bottom;
      }
    }
  }
}

.cta {
  --cta-active-size: 3px;

  position: relative;
  border-radius: 0;

  &.cta--download,
  &.cta--external {
    &::after,
    &.btn {
      padding-right: spacing(12);
      text-align: left;
      padding-left: spacing(4);
    }

    .icon {
      position: absolute;
      width: 16px;
      height: 16px;
      top: calc(50% - 1px);
      transform: translateY(-50%);
      right: spacing(4);
      z-index: 2;
    }
  }

  &.cta--reversed {
    flex-direction: row-reverse;

    &.link {
      svg {
        margin: 0 spacing(3) 0 0;
        width: spacing(4);
        height: spacing(4);

        @include media-breakpoint-up(lg) {
          margin-right: spacing(4);
          width: spacing(5);
          height: spacing(5);
        }
      }
    }
  }

  &.cta--download {
    .icon {
      transform: translateY(-50%) rotate(135deg);
      width: 14px;
      height: 14px;
    }
  }

  &.btn {
    @include font-style('font-size-1');

    font-weight: bold;
    display: inline-block;
    padding: spacing(3) spacing(4);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    transition: all $transition-tween-t1;
    border: 0.0625rem solid transparent;

    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }
  }

  &.link {
    font-size: inherit;
    display: inline-flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }

    svg {
      margin: 0 0 0 spacing(3);
      stroke: var(--color-primary);
    }
  }
}

@mixin cta-no-btn-is-light {
  color: var(--color-white);
}

@mixin cta-btn-primary-is-light {
  color: var(--color-primary);
  background-color: var(--color-white);

  &:not(label.btn):not([href]) {
    color: var(--color-primary);
    background-color: var(--color-white);
  }

  &::after {
    display: none;
  }
}

@mixin cta-btn-secondary-is-light {
  border-color: var(--color-white);
  color: var(--color-white);

  &::before {
    background: var(--color-white);
  }

  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: attr(data-text);
    color: var(--color-primary-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    opacity: 0;
    transition: background 0.5s $animation-transition;
  }
}

.shared-components {
  $cutoffSize: 15px;

  .cta {
    color: var(--color-primary);
    -webkit-appearance: none;
    appearance: none;

    &.cta--monochrome {
      color: var(--color-copy);
    }

    &:not(.btn):not(.custom):not(.nav-link) {
      &.is-light {
        @include cta-no-btn-is-light;
      }
    }

    &.is-cutoff:not(.link) {
      clip-path: polygon(calc(100% - #{$cutoffSize}) 0, 100% #{$cutoffSize}, 100% 100%, 0 100%, 0 0);
      position: relative;
    }

    &.btn-primary {
      background-color: var(--color-primary);
      color: var(--color-white);
      border: 0;

      &:not(label.btn):not([href]) {
        background-color: var(--color-primary);
        color: var(--color-white);
      }

      &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: attr(data-text);
        color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, var(--color-primary-accent) 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        opacity: 0;
        transition: background 0.5s $animation-transition;
      }

      &.is-light {
        @include cta-btn-primary-is-light;
      }

      &.is-light-lg {
        @include media-breakpoint-up(lg) {
          @include cta-btn-primary-is-light;
        }
      }
    }

    &.btn-secondary {
      background-color: transparent;
      border-color: var(--color-primary);
      color: var(--color-primary);

      &.is-cutoff {
        &::before {
          clip-path: polygon(calc(100% - #{$cutoffSize} + 1px) 0, 100% calc(#{$cutoffSize} - 1px), 100% 100%, 100% 0);
          background: var(--color-primary);
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          height: 100%;
          display: block;
          transition: background 0.5s $animation-transition;
        }
      }

      &.is-light {
        @include cta-btn-secondary-is-light;
      }

      &.is-light-lg {
        @include media-breakpoint-up(lg) {
          @include cta-btn-secondary-is-light;
        }
      }
    }

    &.active {
      .cta__text {
        &::after {
          display: block;
        }
      }
    }
  }
}

.cta__text {
  position: relative;

  &::after {
    display: none;
    content: '';
    position: absolute;
    bottom: calc(-1 * (var(--cta-active-size)));
    width: 100%;
    height: var(--cta-active-size);
    background-color: var(--color-active);
  }
}

cta {
  @include vue-loading;
}

@keyframes ctaDownload {
  0% {
    transform: translateX(0%);
  }

  30% {
    transform: translateX(20%) translateY(-10%);
  }

  100% {
    transform: translateX(0%);
  }
}
