.dropdown {
  --dropdown-label-border: transparent;
  --dropdown-items-offset: #{spacing(3)};
  --dropdown-checkbox-size: #{spacing(4.5)};
  --dropdown-inner-spacing: #{spacing(7)};

  position: relative;
  display: inline-block;
  padding-bottom: var(--dropdown-items-offset);

  &.dropdown--opened {
    .dropdown__label {
      --dropdown-label-border: var(--color-primary);

      .dropdown__label-text {
        @include font-weight('bold');
      }
    }

    .dropdown__label-icon {
      transform: rotate(-180deg);
    }
  }

  &.dropdown--filtering {
    .dropdown__close-icon {
      display: block;
    }

    .dropdown__search-icon {
      display: none;
    }
  }

  .dropdown__close-icon {
    display: none;
  }
}

.dropdown__items {
  @include z-index;

  position: fixed;
  left: 50%;
  bottom: 0;
  background-color: transparent;

  transform: translateX(-50%);

  @include media-breakpoint-up(md) {
    position: absolute;
    left: auto;
    bottom: auto;
    padding: var(--dropdown-items-offset);
    transform: translateX(calc(-1 * (var(--dropdown-items-offset))));
  }
}

.dropdown__items-content {
  @include shadow('super-light');

  background-color: var(--color-background);
  width: 100vw;
  padding: var(--dropdown-inner-spacing) 0;

  @include media-breakpoint-up(md) {
    width: 320px;
  }
}

.dropdown__items-list {
  @include scrollbar;

  padding: 0 var(--dropdown-inner-spacing) spacing(4) var(--dropdown-inner-spacing);
  max-height: 45vh;
  overflow-y: auto;

  @include media-breakpoint-up(md) {
    max-height: 460px;
    padding-bottom: 0;
  }
}

.dropdown__label {
  cursor: pointer;
  display: inline-block;
  background-color: var(--color-surface-background);
  padding: spacing(2.5) spacing(5);
  position: relative;
  user-select: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dropdown-label-border);
  }
}

.dropdown__label-placeholder {
  @include font-weight('bold');

  opacity: 0;
  pointer-events: none;
}

.dropdown__label-text {
  position: absolute;
}

.dropdown__label-icon {
  display: inline-block;
  margin-left: spacing(4);
  transition: transform 0.5s $animation-transition;
  position: relative;

  .icon {
    transform: scaleY(2.2) scale(1.2);
  }
}

.dropdown__toggle-icon {
  @include font-size-sm;

  display: flex;
  gap: spacing(4);
  width: 100%;
  cursor: pointer;
  align-items: center;

  &:hover,
  &.active {
    font-weight: bold;
  }

  + .dropdown__toggle-icon {
    margin-top: spacing(3);
  }
}

.dropdown__item-text {
  flex: 1;
  padding-right: spacing(3);
}

input[type='checkbox'].dropdown__checkbox {
  position: absolute;
  left: 0;
  z-index: -1;
  width: var(--dropdown-checkbox-size);
  height: var(--dropdown-checkbox-size);
  opacity: 0;

  &:checked ~ {
    .dropdown__checkbox-label {
      background-color: var(--color-bg-checkbox);

      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
      }
    }
  }
}

label.dropdown__checkbox-label {
  position: relative;
  pointer-events: none;
  width: var(--dropdown-checkbox-size);
  height: var(--dropdown-checkbox-size);
  border: 1px solid var(--color-border-default);
  border-radius: 4px;
  margin-bottom: 0;

  &::after {
    background: no-repeat 50% / 65% 65%;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: var(--dropdown-checkbox-size);
    height: var(--dropdown-checkbox-size);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.dropdown__search {
  @include font-size-sm;

  border: 0;
  flex: 1;

  &::placeholder {
    color: var(--color-input-placeholder);
  }
}

.dropdown__search-container {
  margin: 0 var(--dropdown-inner-spacing);
  display: flex;

  + .dropdown__items-list {
    margin-top: var(--dropdown-inner-spacing);
  }
}

.dropdown__close-icon,
.dropdown__search-icon {
  color: var(--color-input-placeholder);
  padding: 0 spacing(1) 0 spacing(3);

  svg {
    width: 14px;
    height: 14px;
  }
}

.dropdown__search-icon {
  pointer-events: none;
}

.dropdown__close-icon {
  svg {
    stroke-width: 5px;
  }
}

.dropdown__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: spacing(4);
  border-top: 1px solid var(--color-header-container-border);
  padding: spacing(5) var(--dropdown-inner-spacing) 0;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.dropdown__background-shim {
  @include z-index;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 300vh;
  background-color: rgba(0, 0, 0, 0.5);

  @include media-breakpoint-up(md) {
    display: none;
  }
}
