.dropdown {
  --dropdown-label-border: transparent;
  --dropdown-items-offset: #{spacing(3)};
  --dropdown-checkbox-size: #{spacing(4.5)};

  position: relative;
  display: inline-block;
  padding-bottom: var(--dropdown-items-offset);

  &.dropdown--opened {
    .dropdown__label {
      --dropdown-label-border: var(--color-primary);

      .dropdown__label-text {
        @include font-weight('bold');
      }
    }

    .dropdown__label-icon {
      transform: rotate(-180deg);
    }
  }
}

.dropdown__items {
  @include z-index;

  position: absolute;
  transform: translateX(calc(-1 * (var(--dropdown-items-offset))));
  background-color: transparent;
  padding: var(--dropdown-items-offset);
}

.dropdown__items-content {
  @include shadow('super-light');

  background-color: var(--color-background);
  width: 100vw;

  @include media-breakpoint-up(md) {
    width: 320px;
  }
}

.dropdown__items-list {
  @include scrollbar;

  padding: spacing(7);
  margin-top: spacing(4);
  max-height: 300px;
  overflow-y: auto;

  @include media-breakpoint-up(md) {
    max-height: 460px;
  }
}

.dropdown__label {
  cursor: pointer;
  display: inline-block;
  background-color: var(--color-surface-background);
  padding: spacing(2.5) spacing(5);
  position: relative;
  user-select: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dropdown-label-border);
  }
}

.dropdown__label-placeholder {
  @include font-weight('bold');

  opacity: 0;
  pointer-events: none;
}

.dropdown__label-text {
  position: absolute;
}

.dropdown__label-icon {
  display: inline-block;
  margin-left: spacing(4);
  transition: transform 0.5s $animation-transition;
  position: relative;

  .icon {
    transform: scaleY(2.2) scale(1.2);
  }
}

.dropdown__toggle-icon {
  display: flex;
  gap: spacing(4);
  width: 100%;
  cursor: pointer;
  align-items: center;

  &:hover,
  &.active {
    font-weight: bold;
  }

  + .dropdown__toggle-icon {
    margin-top: spacing(3);
  }
}

.dropdown__item-text {
  flex: 1;
  padding-right: spacing(3);
}

input[type='checkbox'].dropdown__checkbox {
  position: absolute;
  left: 0;
  z-index: -1;
  width: var(--dropdown-checkbox-size);
  height: var(--dropdown-checkbox-size);
  opacity: 0;

  &:checked ~ {
    .dropdown__checkbox-label {
      background-color: var(--color-bg-checkbox);

      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
      }
    }
  }
}

label.dropdown__checkbox-label {
  position: relative;
  pointer-events: none;
  width: var(--dropdown-checkbox-size);
  height: var(--dropdown-checkbox-size);
  border: 1px solid var(--color-border-default);
  border-radius: 4px;
  margin-bottom: 0;

  &::after {
    background: no-repeat 50% / 65% 65%;
  }

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: var(--dropdown-checkbox-size);
    height: var(--dropdown-checkbox-size);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
