.dropdown {
  --dropdown-label-border: transparent;
  --dropdown-items-offset: #{spacing(3)};

  position: relative;
  display: inline-block;
  padding-bottom: var(--dropdown-items-offset);

  &.dropdown--opened {
    .dropdown__label {
      --dropdown-label-border: var(--color-primary);

      .dropdown__label-text {
        @include font-weight('bold');
      }
    }

    .dropdown__label-icon {
      transform: rotate(-180deg);
    }
  }
}

.dropdown__items {
  @include shadow('super-light');
  @include z-index;

  position: absolute;
  transform: translateY(var(--dropdown-items-offset));
  background-color: var(--color-background);
  padding: spacing(5);
  width: 100vw;

  @include media-breakpoint-up(md) {
    width: 320px;
  }
}

.dropdown__label {
  cursor: pointer;
  display: inline-block;
  background-color: var(--color-surface-background);
  padding: spacing(2.5) spacing(5);
  position: relative;
  user-select: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--dropdown-label-border);
  }
}

.dropdown__label-placeholder {
  @include font-weight('bold');

  opacity: 0;
  pointer-events: none;
}

.dropdown__label-text {
  position: absolute;
}

.dropdown__label-icon {
  display: inline-block;
  margin-left: spacing(4);
  transition: transform 0.5s $animation-transition;
  position: relative;

  .icon {
    transform: scaleY(2.2) scale(1.2);
  }
}
