$event-teaser-default-spacing: 6;
$event-teaser-transition-time: 1.3s;
$event-teaser-hover-scale: 1.025;
$event-teaser-content-width: calc(var(--container-width) * 0.6);

.event-teaser {
  @include shadow('super-light');

  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-event-teaser-background);
  cursor: pointer;
  transition: box-shadow 1.5s $animation-transition;

  &:hover {
    @include shadow('medium-light');

    .event-teaser__shapes {
      transform: scale($event-teaser-hover-scale);
      transition-duration: $event-teaser-transition-time;
    }

    .event-teaser__image {
      img {
        transform: scale($event-teaser-hover-scale);
        transition-duration: $event-teaser-transition-time;
      }
    }
  }

  &.event-teaser--training {
    .event-teaser__image {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 85%;
    }

    .event-teaser__details {
      display: none;
    }

    .event-teaser__main {
      .event-teaser__details {
        display: flex;
      }

      .event-teaser__badge {
        display: block;
      }
    }

    .event-teaser__details {
      width: calc(100% + #{spacing($event-teaser-default-spacing)});
      flex-direction: row;
      height: auto;
      justify-content: space-between;
      margin-left: spacing($size: $event-teaser-default-spacing, $negative: true);
      margin-bottom: spacing($event-teaser-default-spacing);

      .badge {
        padding-left: spacing($event-teaser-default-spacing);
      }
    }
  }

  &.event-teaser--teaser {
    background-color: var(--color-event-teaser-teaser-background);
    color: var(--color-event-teaser-teaser-copy);

    &::after,
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 50vw;
      height: 100%;
      background-color: var(--color-event-teaser-teaser-background);
    }

    &::before {
      @include shadow($size: 'light', $x-offset: -10px);

      left: -50vw;
    }

    &::after {
      @include shadow($size: 'light', $x-offset: 10px);

      right: -50vw;
      z-index: 2;

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .event-teaser__header {
      display: none;
    }

    .event-teaser__main {
      padding-top: spacing(12);
      padding-left: 0;
    }

    .event-teaser__headline {
      @include h2;

      margin-bottom: spacing(7);

      @include media-breakpoint-up(lg) {
        @include h3($breakpoint: 'lg');
      }

      @include media-breakpoint-up(xl) {
        @include h3($breakpoint: 'xl');
      }
    }

    .event-teaser__content {
      @include font-style($style: 'font-size-2', $weight: 'light');

      padding-right: spacing(12);
    }

    .event-teaser__footer {
      @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &:not(.event-teaser--training):not(.event-teaser--teaser) {
    .event-teaser__main {
      .event-teaser__timing {
        margin-left: 0;
        color: var(--color-event-teaser-timing-highlight);
      }
    }
  }
}

.event-teaser--size-4 {
  grid-column: auto / span 12;

  .event-teaser__header {
    height: 290px;
  }

  @include media-breakpoint-up(md) {
    grid-column: auto / span 6;
  }

  @include media-breakpoint-up(lg) {
    grid-column: auto / span 4;
    max-width: 400px;
  }
}

.event-teaser--size-6 {
  grid-column: auto / span 12;

  .event-teaser__header {
    height: 270px;
  }

  @include media-breakpoint-up(lg) {
    grid-column: auto / span 6;
    max-width: 600px;

    .event-teaser__header {
      height: 220px;
    }
  }
}

.event-teaser--size-8 {
  grid-column: auto / span 12;

  @include media-breakpoint-up(lg) {
    grid-column: auto / span 8;
  }
}

.event-teaser--size-12 {
  grid-column: auto / span 12;

  &.event-teaser--size-full {
    .event-teaser__foreground,
    .event-teaser__main,
    .event-teaser__footer {
      max-width: get-container-max-width('sm');
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }

    @include media-breakpoint-up(md) {
      .event-teaser__foreground,
      .event-teaser__main,
      .event-teaser__footer {
        max-width: get-container-max-width('md');
      }
    }

    @include media-breakpoint-up(lg) {
      .event-teaser__foreground,
      .event-teaser__main,
      .event-teaser__footer {
        max-width: get-container-max-width('lg');
        padding-left: calc(#{spacing(8)} + 15px);
        padding-right: calc(#{spacing(8)} + 15px);
        width: 100%;

        > * {
          width: 60%;
        }
      }

      .event-teaser__image {
        img {
          bottom: 0;
          top: auto;
          height: 90%;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      .event-teaser__foreground,
      .event-teaser__main,
      .event-teaser__footer,
      .event-teaser__image {
        max-width: get-container-max-width('xl');
      }

      .event-teaser__image {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        position: relative;
      }
    }

    @include media-breakpoint-up(xxl) {
      .event-teaser__foreground,
      .event-teaser__main,
      .event-teaser__footer,
      .event-teaser__image {
        max-width: 1280px;
      }
    }
  }

  .event-teaser__authors {
    display: none;
  }

  .event-teaser__details {
    flex-direction: row;
    height: auto;
  }

  .event-teaser__header {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .event-teaser__main {
    padding-top: spacing(26);
    padding-bottom: spacing(18);
    width: 60%;
  }

  .event-teaser__main,
  .event-teaser__footer {
    position: relative;
    z-index: 4;
  }

  .event-teaser__headline {
    @include font-style($style: 'h3-font-size', $weight: 'lighter', $line: 'thin');

    width: 100%;
  }

  .event-teaser__cta {
    text-align: center;
  }

  @include media-breakpoint-down(lg) {
    .event-teaser__image {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 75%;
    }

    .event-teaser__details {
      width: 100%;
    }
  }

  @include media-breakpoint-down(md) {
    .event-teaser__image {
      height: 55%;
    }

    .event-teaser__main {
      margin-bottom: 30%;
      width: 100%;
    }
  }

  @include media-breakpoint-down(xs) {
    .event-teaser__image {
      height: 40%;
    }

    .event-teaser__main {
      margin-bottom: 30%;
    }
  }
}

.event-teaser__authors {
  flex: 1;
  display: flex;
  align-items: flex-end;

  @include media-breakpoint-up(lg) {
    margin-left: spacing($event-teaser-default-spacing);
  }
}

.event-teaser__header {
  position: relative;

  .badge {
    padding-left: spacing($event-teaser-default-spacing);
    margin-bottom: spacing(2);
  }
}

.event-teaser__main {
  padding: spacing($event-teaser-default-spacing);

  .event-teaser__badge {
    display: none;
  }

  .event-teaser__details {
    height: auto;
  }
}

.event-teaser__footer {
  padding: 0 spacing($event-teaser-default-spacing) spacing($event-teaser-default-spacing);
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.event-teaser__headline {
  width: 80%;
  margin-bottom: spacing(6);
}

.event-teaser__background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.event-teaser__image {
  img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: auto;
    transform-origin: top right;
  }
}

.event-teaser__foreground {
  padding-top: spacing($event-teaser-default-spacing);
  height: 100%;
  position: relative;
  z-index: 4;

  @include media-breakpoint-up(lg) {
    padding-bottom: spacing(4);
  }
}

.event-teaser__timing {
  margin-left: spacing($event-teaser-default-spacing);
  color: var(--color-event-teaser-timing);
}

.event-teaser__moment {
  + .event-teaser__time {
    &::before {
      content: '|';
      display: inline-block;
      padding: 0 spacing(1);
    }
  }
}

.event-teaser__details {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;

  .event-teaser__authors {
    br {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    width: 60%;

    .event-teaser__authors {
      br {
        display: block;
      }
    }
  }
}

.event-teaser__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  &.right {
    left: auto;
    right: 0;
  }
}

.event-teaser__shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
}

.event-teaser__shapes,
.event-teaser__image img {
  transition-property: transform;
  transition-timing-function: $animation-transition;
  transition-duration: 0.4s;
}

.event-teaser__price {
  padding-right: spacing(3);
}

.event-teaser__cta {
  flex: 1;
  text-align: right;
}

.event-teaser__authors-frame {
  position: relative;
  width: 100%;
}

.event-teaser__authors-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $white-30;
  z-index: -1;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.event-teaser__authors-foreground {
  padding: spacing(2) spacing($event-teaser-default-spacing);

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}
