.event-list {
  @include z-index;

  position: relative;

  &.event-list--overlap {
    margin-top: spacing($size: 10, $negative: true);

    @include media-breakpoint-up(lg) {
      margin-top: spacing($size: 40, $negative: true);
    }
  }
}

.event-list__row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: spacing(5);
  width: calc(100% + (2 * #{$header-nav-link-padding-x}));

  > * {
    margin-bottom: spacing(5);
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}
