.event {
  @include hover-scale;

  container-type: inline-size;
  background-color: var(--color-surface-background);
  overflow: hidden;

  .event__headline {
    margin-bottom: spacing(2);
  }

  &:hover {
    cursor: pointer;
  }

  @container (min-width: 740px) {
    .event__inner {
      --event-max-height: 190px;

      flex-direction: row;
      flex-wrap: nowrap;
      max-height: var(--event-max-height);
    }

    .event__content {
      padding: spacing(5) unquote('min(4vw, #{spacing(16)})');
      flex: 1;
      order: 2;
    }

    .event__image-container {
      order: 3;
    }

    .event__date {
      aspect-ratio: 1;
    }

    .event__text {
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }

    .event__headline {
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }

    .event__date,
    .event__image-container {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: unquote('max(16%, var(--event-max-height))');
    }
  }
}

.event__date {
  order: 1;
  background-color: var(--color-event-background);
  color: var(--color-event-copy);
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  padding: spacing(9) spacing(5);
}

.event__date,
.event__image-container {
  flex: 1 1 50%;
}

.event__content {
  order: 3;
  background-color: var(--color-surface-background);
  flex: 1 0 100%;
  padding: spacing(5);
}

.event__image-container {
  @include aspect-ratio(1, 1);

  order: 2;
}

.event__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.event__time + .event__category {
  &::before {
    content: ' | ';
    display: inline;
  }
}

.event__meta {
  margin-bottom: spacing(2);
  color: var(--color-event-time);
}

.event__inner {
  display: flex;
  flex-wrap: wrap;
}

.event__date-month,
.event__date-week-day {
  @include font-style($style: 'font-size-1', $line: 'thin');

  @include media-breakpoint-up(sm) {
    @include font-style($style: 'font-size-3', $line: 'thin');
  }

  @include media-breakpoint-up(lg) {
    @include font-style($style: 'font-size-1', $line: 'thin');
  }
}

.event__date-day {
  @include font-style($style: 'font-size-5', $weight: 'bold', $line: 'thin');

  @include media-breakpoint-up(sm) {
    @include font-style($style: 'font-size-6', $weight: 'bold', $line: 'thin');
  }

  @include media-breakpoint-up(lg) {
    @include font-style($style: 'font-size-5', $weight: 'bold', $line: 'thin');
  }
}
