$event-teaser-default-spacing: 6;

.event-teaser {
  @include shadow('light');

  position: relative;
}

.event-teaser--size-33 {
  width: 33%;

  .event-teaser__header {
    height: 290px;
  }

  .event-teaser__details {
    display: none;
  }
}

.event-teaser--size-50 {
  width: 50%;

  .event-teaser__header {
    height: 220px;
  }
}

.event-teaser--size-100 {
  width: 100%;
}

.event-teaser__authors {
  margin-left: spacing($event-teaser-default-spacing);
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.event-teaser__header {
  position: relative;
}

.event-teaser__footer,
.event-teaser__main {
  padding: spacing($event-teaser-default-spacing);
}

.event-teaser__headline {
  width: 80%;
  margin-bottom: spacing(6);
}

.event-teaser__background {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: green;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.event-teaser__image {
  img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
  }
}

.event-teaser__foreground {
  padding-top: spacing($event-teaser-default-spacing);
  padding-bottom: spacing(4);
  height: 100%;
}

.event-teaser__timing {
  margin-left: spacing($event-teaser-default-spacing);
}

.event-teaser__date {
  + .event-teaser__time {
    &::before {
      content: '|';
      display: inline-block;
      padding: 0 spacing(2);
    }
  }
}

.event-teaser__details {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

.event-teaser__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  &.right {
    left: auto;
    right: 0;
  }
}

.event-teaser__shapes {
  position: absolute;
  width: 100%;
  height: 100%;
}
