$event-teaser-default-spacing: 6;

.event-teaser {
  @include shadow('light');

  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-event-teaser-background);

  &.event-teaser--training {
    .event-teaser__image {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 85%;
    }

    .event-teaser__main {
      .event-teaser__details {
        display: flex;
      }
    }

    .event-teaser__details {
      width: calc(100% + #{spacing($event-teaser-default-spacing)});
      flex-direction: row;
      height: auto;
      justify-content: space-between;
      margin-left: spacing($size: $event-teaser-default-spacing, $negative: true);
      margin-bottom: spacing($event-teaser-default-spacing);
    }
  }

  &.event-teaser--teaser {
    background-color: var(--color-event-teaser-teaser-background);
    color: var(--color-event-teaser-teaser-copy);

    &:before {
      @include shadow($size: 'light', $x-offset: -10px);

      position: absolute;
      content: '';
      display: block;
      width: 50%;
      left: -50%;
      height: 100%;
      background-color: var(--color-event-teaser-teaser-background);
    }

    .event-teaser__header {
      display: none;
    }

    .event-teaser__main {
      padding-top: spacing(12);
      padding-left: 0;
    }

    .event-teaser__headline {
      @include font-style($style: 'h3-font-size', $weight: 'light', $line: 'thin');

      margin-bottom: spacing(7);
    }

    .event-teaser__content {
      @include font-style($style: 'font-size-2', $weight: 'light');

      padding-right: spacing(12);
    }
  }
}

.event-teaser--size-4 {
  grid-column: auto / span 12;

  .event-teaser__header {
    height: 290px;
  }

  .event-teaser__details {
    display: none;
  }

  @include media-breakpoint-up(md) {
    grid-column: auto / span 6;
  }

  @include media-breakpoint-up(lg) {
    grid-column: auto / span 4;
    max-width: 400px;
  }
}

.event-teaser--size-6 {
  grid-column: auto / span 12;

  .event-teaser__header {
    height: 220px;
  }

  @include media-breakpoint-up(lg) {
    grid-column: auto / span 6;
    max-width: 600px;
  }
}

.event-teaser--size-8 {
  grid-column: auto / span 12;

  @include media-breakpoint-up(lg) {
    grid-column: auto / span 8;
  }
}

.event-teaser--size-12 {
  grid-column: auto / span 12;
}

.event-teaser__authors {
  margin-left: spacing($event-teaser-default-spacing);
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.event-teaser__header {
  position: relative;

  .badge {
    padding-left: spacing($event-teaser-default-spacing);
    margin-bottom: spacing(2);
  }
}

.event-teaser__main {
  padding: spacing($event-teaser-default-spacing);

  .event-teaser__details {
    display: none;
  }
}

.event-teaser__footer {
  padding: 0 spacing($event-teaser-default-spacing) spacing($event-teaser-default-spacing);
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.event-teaser__headline {
  width: 80%;
  margin-bottom: spacing(6);
}

.event-teaser__background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.event-teaser__image {
  img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
  }
}

.event-teaser__foreground {
  padding-top: spacing($event-teaser-default-spacing);
  padding-bottom: spacing(4);
  height: 100%;
  position: relative;
  z-index: 4;
}

.event-teaser__timing {
  margin-left: spacing($event-teaser-default-spacing);
  color: var(--color-event-teaser-timing);
}

.event-teaser__moment {
  + .event-teaser__time {
    &::before {
      content: '|';
      display: inline-block;
      padding: 0 spacing(2);
    }
  }
}

.event-teaser__details {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

.event-teaser__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  &.right {
    left: auto;
    right: 0;
  }
}

.event-teaser__shapes {
  position: absolute;
  width: 100%;
  height: 100%;
}

.event-teaser__price {
  padding-right: spacing(3);
}

.event-teaser__cta {
  flex: 1;
  text-align: right;
}
