$fab-button-icon-size: 72px;
$fab-button-bottom-offset-lg: 16px;
$fab-button-bottom-offset-xs: 32px;
$fab-button-scroll-top: 200px;

.fab-button {
  @include z-index;

  --fab-button-scroll-factor: 8;

  position: relative;
  width: 100%;

  &.fab-button--has-scroll-starter {
    &:not(.fab-button--closed-after-scrolled-into) {
      .fab-button__icon {
        will-change: transform, border-radius, height, width, bottom, right;
        transition-property: transform, border-radius, height, width, bottom, right;
        transition-duration: 0.7s;
        transition-timing-function: $animation-transition;
        bottom: -#{$fab-button-icon-size};

        .icon {
          transition: opacity 0.5s ease-in;
        }
      }

      .fab-button__wrapper-inner[style] {
        .fab-button__icon {
          pointer-events: none;
          border-radius: 0;
          height: var(--fab-button-modal-height);
          width: var(--fab-button-modal-width);
          right: spacing($size: 4, $negative: true);
          transform-origin: bottom right;
          transition-timing-function: $animation-transition, ease-in;

          .icon {
            opacity: 0;
          }
        }

        .fab-button__modal {
          opacity: 0.3;
          transform: translateX(calc(100% - var(--fab-button-scroll-percentage)));
          // animation: fade-in 0.5s 2s ease-in forwards;
        }
      }
    }
  }

  &.fab-button--sticky {
    &:not([style^='height']) {
      .fab-button__modal {
        &.is-off-screen {
          transform: translateX(0);
          opacity: 0;
          transition-duration: 0s;
          pointer-events: none;
          width: 0;
        }
      }
    }

    .fab-button__start {
      top: calc(-100vh + (#{$fab-button-bottom-offset-xs} * 2));
    }

    &[style^='height'] {
      .fab-button__wrapper {
        top: calc(100vh - (#{$fab-button-icon-size} + #{$fab-button-bottom-offset-xs})) !important;
      }
    }

    .fab-button__wrapper {
      top: calc(-#{$fab-button-icon-size} + #{$fab-button-bottom-offset-xs});
    }

    @include media-breakpoint-up(lg) {
      .fab-button__start {
        top: calc(-100vh + (#{$fab-button-bottom-offset-lg} * 2));
      }

      &[style^='height'] {
        .fab-button__wrapper {
          top: calc(100vh - (#{$fab-button-icon-size} + #{$fab-button-bottom-offset-lg})) !important;
        }
      }

      .fab-button__wrapper {
        top: calc(-#{$fab-button-icon-size} + #{$fab-button-bottom-offset-lg});
      }
    }
  }

  &.is-expanded {
    .fab-button__icon {
      @include is-invisible;
    }

    .fab-button__modal {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.fab-button__start {
  position: absolute;
}

.fab-button__wrapper {
  position: relative;
  width: 100% !important;
  margin-left: auto;
  right: spacing(4);
}

.fab-button__icon {
  @include shadow;

  position: absolute;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fab-background);
  border-radius: 100%;
  padding: spacing(3);
  width: $fab-button-icon-size;
  height: $fab-button-icon-size;
  right: 0;
  overflow: hidden;

  svg {
    width: 90%;
  }
}

.fab-button__modal {
  @include shadow('light');

  background-color: var(--color-fab-background);
  transition:
    transform 0.7s $animation-transition,
    opacity 0.7s $animation-transition,
    height 0.7s $animation-transition;
  right: 0;
  bottom: 0;
  position: fixed;
  width: unquote('min(460px, 100vw)');
  overflow: hidden;
  will-change: transform, opacity, height;
  display: flex;
  flex-direction: column;

  &.is-off-screen {
    opacity: 0;
    transform: translateX(120%);
  }

  .contact {
    --color-contact-box-background: var(--color-fab-background);
  }

  @include media-breakpoint-up(lg) {
    right: spacing($size: 4, $negative: true);
    flex-direction: row;
    bottom: -#{$fab-button-icon-size};
    position: absolute;
  }
}

.fab-button__close {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 78px;
  height: 78px;

  > .icon {
    margin: spacing(5);
    padding: spacing(1);
    cursor: pointer;

    &.icon--circle svg {
      width: 80%;
    }
  }
}

.fab-trigger {
  cursor: pointer;
}
