.fab {
  position: absolute;
}

.fab__icon {
  @include shadow;

  position: relative;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fab-background);
  border-radius: 100%;
  padding: spacing(3);

  svg {
    width: 90%;
  }
}

.fab__modal {
  position: relative;

  .contact {
    --color-contact-person: var(--color-fab-background);
  }
}
