$fab-button-icon-size: 72px;
$fab-button-top-offset: 80vh;
$fab-button-top-offset-lg: 85vh;

.fab-button {
  @include z-index;

  position: relative;
  width: 100%;

  &.fab-button--sticky {
    top: -62vh;

    &[style^='height'] {
      .fab-button__wrapper {
        top: $fab-button-top-offset;
      }
    }

    .fab-button__wrapper {
      top: 55vh;
    }

    @include media-breakpoint-up(lg) {
      top: -70vh;

      &[style^='height'] {
        .fab-button__wrapper {
          top: $fab-button-top-offset-lg;
        }
      }

      .fab-button__wrapper {
        top: 65vh;
      }
    }
  }

  &.is-expanded {
    .fab-button__icon {
      @include is-invisible;
    }

    .fab-button__modal {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.fab-button__wrapper {
  position: relative;
  width: 100% !important;
  margin-left: auto;
  right: spacing(4);
}

.fab-button__icon {
  @include shadow;

  position: absolute;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fab-background);
  border-radius: 100%;
  padding: spacing(3);
  width: $fab-button-icon-size;
  height: $fab-button-icon-size;
  right: 0;

  svg {
    width: 90%;
  }
}

.fab-button__modal {
  @include shadow('light');

  background-color: var(--color-fab-background);
  transition: transform 0.7s $animation-transition, opacity 0.7s $animation-transition,
    height 0.7s $animation-transition;
  right: spacing($size: 4, $negative: true);
  top: -#{$fab-button-top-offset};
  position: absolute;
  width: unquote('min(500px, 100vw)');
  overflow: hidden;
  will-change: transform, opacity, height;
  display: flex;
  flex-direction: column;

  &.is-off-screen {
    opacity: 0;
    transform: translateX(120%);
  }

  .contact {
    --color-contact-person: var(--color-fab-background);
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    bottom: -#{$fab-button-icon-size};
    right: 0;
    top: auto;
  }
}

.fab-button__close {
  display: flex;
  justify-content: flex-end;

  .icon {
    padding-right: spacing(3);
    padding-left: spacing(2);
    padding-top: spacing(4);
    padding-bottom: spacing(4);
    cursor: pointer;
  }

  @include media-breakpoint-up(lg) {
    display: block;

    .icon {
      padding-right: spacing(8);
      padding-left: spacing(4);
      padding-top: spacing(2);
    }
  }
}
