.feature-grid {
  @include utility-animation-options($distance: 15%, $delay: 100ms, $duration: 0.8s);

  .lottie {
    max-height: 400px;
  }
}

.feature-grid__overline {
  color: var(--color-orange);
}