.filter-bar__controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: spacing(12);
  z-index: 1;
}

.filter-bar__toggle {
  background-color: var(--color-surface-background);
  display: inline-flex;
}

.filter-bar__toggle-icon {
  display: flex;
  cursor: pointer;
  padding: spacing(3);

  &.active {
    color: var(--color-primary);
  }

  &:hover {
    color: var(--color-primary-accent);
  }

  &:not(:first-of-type) {
    position: relative;
    margin-left: 1px;

    &::before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      width: 1px;
      height: 120%;
      height: calc(100% - #{spacing(4)});
      transform: translateY(#{spacing($size: 1, $negative: true)});
      background-color: var(--color-border-light);
    }
  }
}

.filter-bar__dropdowns {
  display: flex;
  gap: spacing(4);
}

.filter-bar__views {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.filter-bar__reset {
  @include font-size-sm;

  margin-left: spacing(2);
  display: inline-flex;
  cursor: pointer;
  gap: spacing(2);
  place-items: center;

  > .icon.vue-component {
    width: 12px;
    height: 12px;
    stroke-width: 5px;

    > svg {
      width: 100%;
      height: 100%;
    }
  }
}

.filter-bar__tags {
  display: flex;
  flex-wrap: wrap;
  gap: spacing(1);
  place-items: center;

  .filter-bar__tag {
    margin-top: spacing(2);
  }
}
