footer {
  --color-footer-border: var(--color-white-50);
  --footer-spacing: #{spacing(10)};

  .footer__socials {
    .fab {
      font-size: 1.6em;
    }
  }

  hr {
    border-color: var(--color-footer-border);
  }

  .streamline-site-phone {
    &.streamline-xs {
      .streamline-icon {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }

  .streamline-site-mail {
    .streamline-icon {
      height: 0.94rem;
    }
  }

  .nav {
    + .nav {
      margin-top: spacing(4);
    }
  }
}

.footer__links {
  text-decoration: underline;
}

.footer__contacts {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid var(--color-white-30);
  }
}

.footer__address-block {
  &.is-reversed {
    display: inline-flex;
    flex-wrap: wrap;

    > * {
      flex: 0 auto;
    }

    .footer__city {
      order: 1;

      &::after {
        content: '\00A0';
        display: inline-block;
      }
    }

    .footer__postal-code {
      order: 2;

      &::after {
        display: none;
      }
    }

    .footer__country {
      order: 3;
    }
  }
}

.footer__postal-code {
  &::after {
    content: '\00A0';
    display: inline-block;
  }
}

.footer__contacts {
  .footer__country {
    display: block;
    flex: 1 100%;
  }
}

.footer__partner-image {
  width: inherit;

  @include media-breakpoint-up(md) {
    max-width: 400px;
  }
}

.footer__highlight-link {
  max-width: 300px;
  img {
    width: 100%;
  }
}

.footer__locations {
  padding-bottom: var(--footer-spacing);
  border-bottom: 1px solid var(--color-footer-border);

  @include media-breakpoint-up(lg) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.footer__images {
  padding-top: var(--footer-spacing);

  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}
