.form-attachments {
  border: 2px dashed var(--color-primary);
  padding: spacing(6);
  background-color: var(--color-form-background);
  display: flex;
  align-items: center;
  transition: background-color 0.5s $animation-transition;

  &.is-dragging {
    background-color: transparent;

    .icon {
      transform: scale(1.5);

      svg {
        --icon-rotation: 135deg;
      }
    }
  }

  .is-light & {
    background-color: var(--color-form-background-light);
  }

  &.has-error {
    border-color: var(--color-form-error);

    .form-attachments__text {
      margin-bottom: spacing(3.5);
    }

    .form-attachments__error {
      display: block;
    }
  }
}

.form-attachments__button {
  width: spacing(11);
  height: spacing(11);
  margin-right: spacing(6);
  color: var(--color-form-background);
  flex: 0 0 auto;

  --color-icon-hover-background: var(--color-primary-accent);

  .icon {
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transition: transform 0.5s $animation-transition;

    svg {
      transition: transform 0.5s $animation-transition;
      --icon-rotation: 45deg;
    }
  }
}

.form-attachments__description {
  @include font-style($style: 'font-size-1', $weight: 'bold');

  margin-bottom: spacing(2);
}

.form-attachments__description,
.form-attachments__text {
  color: var(--color-primary);
}

.form-attachments__text {
  @include font-style($style: 'font-size-sm');

  cursor: pointer;
  text-decoration: underline;
  margin-bottom: spacing(10);

  &:hover {
    color: var(--color-primary-accent);
  }
}

.form-attachments__extensions {
  color: var(--color-copy-lowlight);
}

.form-attachments__error,
.form-attachments__files {
  display: none;
}
