$form-background-color: var(--color-form-background);
$form-background-color-light: var(--color-form-background-light);
$form-error-color: var(--color-form-error);
$form-success-color: var(--color-form-success);
$form-border-hover-color: var(--color-form-border-hover);
$form-checkbox-size: 2em;
$form-checkbox-spacing: 1em;
$form-checkbox-offset: $form-checkbox-size + $form-checkbox-spacing;
$form-radio-size: $form-checkbox-size;

.shared-components {
  .custom-control-input,
  .form-control {
    border-radius: 0;
  }

  .form {
    &.is-light {
      textarea.form-textarea,
      input[type=''].form-control,
      input[type='text'].form-control,
      input[type='phone'].form-control,
      input[type='number'].form-control,
      input[type='email'].form-control,
      .form__input {
        background-color: $form-background-color-light;
        border-color: $form-background-color-light;

        &:hover {
          border-color: $form-border-hover-color;
        }
      }

      .custom-checkbox label.custom-control-label,
      .form__checkbox-label {
        &::before {
          background-color: $form-background-color-light;
        }
      }

      .form__checkbox:checked ~ .form__checkbox-label::before {
        background-color: var(--color-bg-checkbox);
      }
    }

    .invalid-feedback {
      color: $form-error-color;
    }

    .form__checkbox:checked ~ .form__checkbox-label::before {
      background-color: var(--color-bg-checkbox);
    }

    .form__radio.is-invalid {
      border-color: $form-error-color;
    }

    .form__radio.is-invalid ~ .form__radio-label {
      color: $form-error-color;
    }

    .was-validated .form-control:invalid,
    .form-control.is-invalid {
      border-color: $form-error-color;
      background-repeat: no-repeat;
      background-position: right calc(0.4em + 0.375rem) center;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23e44418' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ed4c78' stroke='none'/%3e%3c/svg%3e");
    }

    .was-validated .form-control:valid,
    .form-control.is-valid,
    .was-validated .form-control:valid:focus,
    .form-control.is-valid:focus {
      border-color: $form-success-color;
      background-repeat: no-repeat;
      background-position: right calc(0.4em + 0.375rem) center;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23008774' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    }

    .is-valid ~ {
      .form__checkbox-label {
        color: var(--color-copy);
      }
    }

    .is-valid:checked ~ {
      .form__checkbox-label {
        &::before {
          border-color: var(--color-bg-checkbox);
        }
      }
    }
  }
}

.form__row {
  overflow: hidden;

  @include media-breakpoint-up(md) {
    justify-content: center;
  }
}

.form-textarea {
  resize: none;
}

input {
  &[readonly] {
    pointer-events: none;
  }
}

label.input-label,
.form__label {
  color: var(--color-midnight);
  opacity: 0.7;

  + .invalid-feedback {
    margin-bottom: 0.5em;
  }
}

textarea.form-textarea,
input[type=''].form-control,
input[type='text'].form-control,
input[type='email'].form-control,
input[type='phone'].form-control,
input[type='number'].form-control,
input[type='radio'],
.form__input {
  background-color: $form-background-color;
  border-color: $form-background-color;

  &:hover {
    border-color: $form-border-hover-color;
  }
}

.is-light {
  textarea.form-textarea,
  input[type=''].form-control,
  input[type='text'].form-control,
  input[type='email'].form-control,
  input[type='phone'].form-control,
  input[type='number'].form-control,
  input[type='radio'],
  .form__input {
    background-color: var(--color-white);
    border-color: $form-background-color;

    &:hover {
      border-color: $form-border-hover-color;
    }
  }
}

input[type='checkbox'].custom-control-input,
.form__checkbox {
  position: absolute;
  left: 0;
  z-index: -1;
  width: $form-checkbox-size;
  height: $form-checkbox-size;
  opacity: 0;

  &:checked ~ {
    .form__checkbox-label {
      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
      }
    }
  }
}

.custom-checkbox label.custom-control-label,
.form__checkbox-label {
  position: relative;
  padding-top: 3px;
  margin-bottom: 0;
  vertical-align: top;
  cursor: pointer;

  &::before {
    background-color: $form-background-color;
    border: 1px solid var(--color-form-border);
    border-radius: 0;
    pointer-events: none;
  }

  &::after {
    background: no-repeat 50% / 50% 50%;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: $form-checkbox-size;
    height: $form-checkbox-size;
    top: 0;
    left: -#{$form-checkbox-offset};
  }

  + .form__input {
    display: inline-block;
    margin-left: -4px;
    flex: 1;

    @include media-breakpoint-up(lg) {
      flex-basis: 50%;
      flex-grow: 0;
    }
  }

  &:hover {
    &::before {
      border-color: $form-border-hover-color;
    }
  }
}

div.custom-control,
.form__checkbox-control {
  padding-left: $form-checkbox-offset;
  min-height: $form-checkbox-size;
  display: flex;

  + .invalid-feedback {
    display: none !important;
  }

  .custom-control-input {
    width: $form-checkbox-size;
    height: $form-checkbox-size;
  }
}

.form__submit {
  display: flex;
  margin-bottom: spacing(2);
}

.form__form {
  margin-top: spacing(10);
}

.form__super-field {
  opacity: 0.0001;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  border: 0;
  padding: 0;
  margin: 0;
  transform: translateY(-100%);
}

.form__radio-control {
  display: flex;
  flex-direction: row;

  input[type='radio'],
  .form__radio {
    appearance: none;
    width: $form-radio-size;
    height: $form-radio-size;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    margin-left: 1px;
    border-color: var(--color-form-border);

    &:checked {
      background-color: $form-background-color;
      border: 0.6em solid var(--color-primary);
      box-shadow: 0 0 0 1px var(--color-form-border);
    }

    &:hover {
      box-shadow: 0 0 0 1px $form-border-hover-color;
    }
  }

  .form__radio-label {
    margin: auto 0;
    margin-left: spacing(4);
  }

  .form__radio,
  .form__radio-label {
    cursor: pointer;
  }
}

.form-field {
  @include utility-animation-options($distance: 15%, $delay: 200ms, $duration: 0.8s, $selector: '&');
}
