$header-expand-breakpoint: 'lg';
$header-border-size: 1px;

.shared-components {
  .header {
    @include z-index;
  }
}

.header {
  --header-vertical-spacing: #{spacing(5)};

  position: fixed;
  display: flex;
  border-bottom: $header-border-size solid var(--color-header-border);

  &:not(.header--light) {
    background-color: var(--color-header-background);
  }

  &.header--light {
  }

  &.is-expanded {
    nav {
      display: block;
    }
  }

  &.is-hovering {
    @include media-breakpoint-up($header-expand-breakpoint) {
      .header__flyout {
        display: flex;
      }
    }
  }

  .header__menu {
    .icon {
      width: spacing(8);
      height: spacing(8);
    }
  }

  nav {
    display: none;
    background-color: var(--color-header-background);
    position: absolute;
    bottom: -#{$header-border-size};
    left: 50%;
    transform: translateY(100%) translateX(-50%);
    width: 100vw;
  }

  @include media-breakpoint-up($header-expand-breakpoint) {
    .header__menu {
      display: none;
    }

    nav {
      display: block;
      position: relative;
      width: auto;
      left: auto;
      transform: translateY(0);
      background-color: transparent;
    }

    .header__list {
      flex-wrap: nowrap;
    }

    .header__item {
      flex: 0 0 auto;
    }

    .header__col {
      padding: 0;
    }

    .header__link {
      width: auto;
      border: 0;
      padding: var(--header-vertical-spacing) spacing(4);
      display: block;
    }

    .header__link-content {
      width: auto;
    }
  }
}

.header__logo {
  flex: 0 1 auto;

  img {
    width: #{'min(80%, 36vw)'};
    height: auto;
  }
}

.header__col {
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding-top: var(--header-vertical-spacing);
  padding-bottom: var(--header-vertical-spacing);
}

.header__menu {
  flex: 0 1 auto;
  display: flex;
  place-items: center;
}

.header__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &.header__list--expanded {
    display: none;
  }
}

.header__link {
  width: 100%;
  display: flex;
  border-bottom: $header-border-size solid var(--color-header-border);
  padding: var(--header-vertical-spacing) $grid-gutter-half-width;
  place-content: center;
}

.header__link-content {
  display: inline-block;
  width: 100%;

  @include media-breakpoint-up(sm) {
    width: var(--container-width);
  }
}

.header__item {
  list-style-type: none;
  padding: 0;
  flex: 1 0 100%;
}

.header__flyout {
  display: none;
  position: absolute;
  bottom: -#{$header-border-size};
  left: 0;
  transform: translateY(100%);
  width: 100%;
  background-color: var(--color-header-background);
}

.header__flyout-content {
  display: none;

  &.is-expanded {
    display: block;
  }
}

.header__flyout-items {
  display: flex;
  margin-top: spacing(16);
  margin-bottom: spacing(27);
}

.header__flyout-block {
  margin-right: spacing(20);
  width: 23%;
}

.header__flyout-title {
  text-transform: uppercase;
  padding-bottom: spacing(5);
  margin-bottom: spacing(5);
  border-bottom: $header-border-size solid var(--color-header-border);
}

.header__flyout-list {
  list-style-type: none;
  padding: 0;
}
