.shared-components {
  .hero-text-image {
    h1 {
      &.h2-font-size {
        font-size: $h2-font-size-sm;
        font-weight: bold;

        @include media-breakpoint-up(lg) {
          font-size: $h2-font-size-lg;
        }

        @include media-breakpoint-up(xl) {
          font-size: $h2-font-size;
        }
      }
    }
  }

  .container {
    &.hero-text-image__background {
      &:not(.has-icon) {
        padding-right: 0;

        .row {
          > div {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.hero-text-image {
  position: relative;

  &.has-content-img {
    .hero-text-imge__img-spacer {
      @include media-breakpoint-up(lg) {
        display: none;

        + .hero-text-image__wrapper {
          position: relative;
        }
      }
    }
  }

  &.is-fullscreen {
    overflow: hidden;

    .hero-text-image__background {
      top: auto;
      bottom: -4rem;
    }

    .hero-text-image__fullscreen {
      width: 100%;
      height: 100%;
      text-align: center;

      img {
        object-fit: cover;
        min-height: 100%;
      }
    }
  }

  &.hero-text-image--bottom-spacing {
    .hero-text-image__wrapper {
      padding-bottom: spacing($size: 5);

      @include media-breakpoint-up(md) {
        padding-bottom: spacing($size: 15);
      }
      @include media-breakpoint-up(lg) {
        padding-bottom: spacing($size: 33);
      }
    }
  }

  .fab {
    bottom: 0;
    right: spacing(4);
    transform: translateY(50%);

    @include media-breakpoint-up(lg) {
      right: spacing(8);
    }
  }

  .text-animation {
    @include media-breakpoint-up(lg) {
      margin-right: spacing(16);
    }
  }

  .container:not(.animation) {
    position: relative;
    padding-bottom: spacing(16);
  }
}

.hero-text-image__animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: spacing($size: 32);
  left: 0;

  .hero-text-image__animation-content {
    margin-top: spacing(12);
    order: 2;
  }

  .hero-text-image__animation-icon {
    order: 1;
  }

  .hero-text-image__icon {
    text-align: center;

    svg {
      width: 75vw;
    }
  }

  @include media-breakpoint-down(md) {
    .icon {
      &.is-end {
        animation: hero-text-animation-hide-smiley 4s 3s;
        animation-fill-mode: forwards;
      }
    }

    .text-animation {
      &.is-end {
        margin-top: spacing($size: 12, $negative: true);

        .text-animation__text {
          opacity: 0;
          animation: hero-text-animation-show-text 6s 4s;
          animation-fill-mode: forwards;
        }

        .text-animation__subline {
          opacity: 0;
          animation: hero-text-animation-show-text 2s 5s;
          animation-fill-mode: forwards;
        }

        .text-animation__cta {
          opacity: 0;
          animation: hero-text-animation-show-text 2s 5.5s;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    top: 0;

    .row,
    .container {
      height: 100%;
    }

    .hero-text-image__animation-content {
      margin-top: 0;
      order: 1;
    }

    .hero-text-image__animation-icon {
      order: 2;
    }
  }
}

.hero-text-image__overline {
  @include background-grow($color: var(--color-yellow), $spacing: spacing(1));

  display: inline-block;
  margin-bottom: spacing(2);
  padding: spacing(1) 0 spacing(1) spacing(2);
}

.hero-text-image__background {
  pointer-events: none;

  &.position-absolute {
    @include media-breakpoint-down(md) {
      position: relative !important;
    }
  }

  &.has-icon {
    .hero-text-image__background-wrapper {
      margin-top: spacing($size: 12, $negative: true);
      justify-content: center;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
        justify-content: flex-end;
      }
    }

    @include media-breakpoint-up(lg) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.hero-text-imge__img-spacer {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
    opacity: 0;
    pointer-events: none;
    min-height: 700px;

    + .hero-text-image__wrapper {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.hero-text-image__wrapper {
  position: relative;
  padding-top: spacing(16);
  pointer-events: all;

  @include media-breakpoint-up(lg) {
    padding-top: spacing(50);
  }
}

.hero-text-image__keyvisual {
  &.is-svg {
    max-height: 600px;

    &.is-large {
      @include media-breakpoint-up(lg) {
        max-height: 900px;
      }
    }

    @include media-breakpoint-up(lg) {
      max-height: 725px;
    }
  }
}

.hero-text-image {
  &.hero--pattern {
    .hero-text-image__wrapper {
      @include media-breakpoint-up(xl) {
        padding-top: spacing(60);
      }
    }

    .hero-text-image__background-wrapper img,
    .hero-text-imge__img-spacer img {
      max-width: unquote('min(760px, 100%)');
    }

    .container {
      @include media-breakpoint-up(lg) {
        padding-bottom: spacing(8);
      }
    }
  }

  &.hero--text {
    .container {
      max-width: 1200px;

      @include media-breakpoint-up(md) {
        padding: 0 spacing(18);
      }
    }

    .hero-text-image__overline {
      @include font-style($style: 'font-size-3', $weight: 'light');
      padding: 0 spacing(2);

      &::before {
        animation-name: growFull;
        background-color: var(--color-hero-text-overline-text);
      }
    }

    .hero-text-image__headline {
      @include font-style($style: 'h2-font-size', $line: 'thin', $weight: 'light');
    }
    .hero-text-image__wrapper {
      flex: none;
      max-width: none;
    }
  }

  &.hero--career {
    min-height: 100vh;

    > .container {
      &.z-index-4 {
        pointer-events: none;
      }
    }

    &.text-white {
      .hero-text-image__overline {
        color: var(--color-copy);
      }
    }

    .hero-text-image__overline {
      margin-bottom: spacing(16);
      padding-right: spacing(6);

      &::before {
        animation-name: growFull;
      }
    }

    .hero-text-imge__img-spacer {
      min-height: 750px;
    }

    .hero-text-image__wrapper {
      .lead {
        @include font-style($style: 'h3-font-size', $line: 'thin');
      }
    }
  }

  &.hero--medium {
    .hero-text-imge__img-spacer {
      @include media-breakpoint-up(lg) {
        min-height: 600px;
      }
    }
  }

  &.hero--small {
    .hero-text-imge__img-spacer {
      @include media-breakpoint-up(lg) {
        min-height: 300px;

        .is-svg {
          max-height: 300px;
        }
      }
    }

    .hero-text-image__keyvisual {
      @include media-breakpoint-up(lg) {
        &.is-svg {
          max-height: 300px;
        }
      }
    }
  }

  &:is(.hero--study, .hero--safety) {
    overflow: hidden;

    &:not(.text-white) {
      .hero-text-image__subline {
        color: var(--color-hero-study-copy);
      }
    }

    @include media-breakpoint-down(md) {
      .container:not(.animation) {
        padding-bottom: 0;
        margin-bottom: spacing($size: 8, $negative: true);
      }

      .hero-text-image__headline {
        margin-bottom: spacing(4);
      }
    }

    .hero-text-image__headline {
      line-height: 1.2em;
    }

    &:not(.hero--safety) {
      .hero-text-image__background {
        top: auto;
        bottom: -4rem;

        @include media-breakpoint-up(lg) {
          width: 100vw;
          padding-left: 0;
          height: 100%;
          left: 50%;
          right: auto;
          display: flex;
          align-items: flex-end;
        }
      }
    }

    .hero-text-image__subline {
      @include font-size-2;

      .highlight {
        @include text-highlight;
      }
    }

    .hero-text-imge__img-spacer {
      @include media-breakpoint-up(lg) {
        padding-top: spacing(20) !important;
        min-height: 650px;
      }
    }

    .hero-text-imge__img-spacer,
    .hero-text-image__background-wrapper {
      @include media-breakpoint-down(md) {
        padding-left: 0;
      }
    }

    .hero-text-image__wrapper {
      @include media-breakpoint-up(lg) {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }

    @include media-breakpoint-up(lg) {
      &:not(.hero--safety)::after {
        top: 0;
        background-color: var(--color-background);
        width: get-full-column-width($container: 'lg', $columns: 3);
      }

      &:not(.hero--study)::after {
        top: 90%;
        background-color: var(--color-background);
        width: 100%;
      }

      &:not(.hero--study)::after,
      &:not(.hero--safety)::after {
        pointer-events: none;
        right: 0;
        position: absolute;
        content: '';
        display: block;
        height: 100%;
      }
    }
  }

  &.hero--security {
    min-height: 100vh;

    .hero-text-image__wrapper {
      padding-top: 0;

      @include media-breakpoint-up(lg) {
        padding-top: 0;
      }
    }

    .hero-text-image__row {
      min-height: 100vh;
      place-content: center;
    }

    .hero-text-image__headline {
      display: none;
    }
  }

  &:not(.text-white) {
    .hero-text-image__subline {
      color: var(--color-blue-dark);
    }
  }

  &.hero--image-content-grid-security {
    .hero-text-imge__img-spacer {
      min-height: auto;
    }

    .container {
      @include media-breakpoint-up(lg) {
        padding-bottom: spacing(18);
      }
    }
  }

  &.hero--image-content-grid,
  &.hero--image-content-grid-security {
    .hero-text-image__background,
    .hero-text-image__headline + .hero-text-image__subline {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    .hero-text-image__headline {
      color: var(--color-hero-text-image-headline);
    }

    .hero-text-image__background {
      @include media-breakpoint-up(xl) {
        // margin-right: calc((100vw - var(--container-width) + #{spacing(12)}) / 2);
        margin-right: spacing(12);

        .hero-text-image__keyvisual.is-svg {
          height: auto;
          max-width: 666px;
          width: 27vw;
        }
      }
    }

    .hero-text-image__img-spacer-subline {
      display: block;
    }

    .hero-text-image__overline {
      @include font-style($style: 'font-size-3', $weight: 'bold', $line: 'wide');
      margin-bottom: spacing(8);
      padding-right: spacing(2);
      color: var(--color-hero-image-content-grid-overline-text);

      &::before {
        animation-name: growFull;
      }
    }

    .hero-text-imge__img-spacer {
      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;

        .hero-text-image__keyvisual.is-svg {
          margin-top: spacing($size: 16, $negative: true);
          margin-bottom: spacing($size: 12, $negative: true);
        }
      }
    }
  }

  &.hero--safety {
    .hero-text-image__headline {
      @include media-breakpoint-up(lg) {
        margin-bottom: spacing(10);
      }
    }

    .hero-text-image__underline {
      @include font-style($style: 'font-size-4', $weight: 'bold', $line: 'wide');

      @include media-breakpoint-up(lg) {
        margin-bottom: spacing(12);
      }
    }

    .hero-text-image__background {
      top: auto;
      bottom: 0;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .hero-text-imge__img-spacer {
      @include media-breakpoint-down(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        text-align: center;
      }
    }

    .hero-text-image__subline {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    .hero-text-image__img-spacer-subline {
      display: block;
      text-align: left;
      order: 3;
      padding: spacing(5);

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .hero-text-image__background-wrapper img,
    .hero-text-imge__img-spacer img {
      max-width: 90%;
      text-align: center;

      @include media-breakpoint-up(md) {
        width: 50%;
        max-width: 150%;
      }
    }

    @include media-breakpoint-down(md) {
      .container:not(.animation) {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      background: linear-gradient(
        180deg,
        var(--color-hero-text-image-background) 0%,
        var(--color-hero-text-image-background) 86%,
        rgba(0, 0, 0, 0) 86%
      );
      background-color: inherit !important;
    }
  }

  .hero-text-image__headline {
    margin-bottom: spacing(8);
  }
}

.hero-text-video--desktop {
  display: none;

  @include media-breakpoint-up(md) {
    z-index: 5;
    width: 100%;
    height: auto;
    display: block;
  }
}

.hero-text-video--mobile {
  z-index: 5;
  width: 100%;
  height: auto;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.hero-text-image__subline {
  display: inline;

  &.is-light {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.57);
  }
}

.hero-video__animation {
  height: 0;
  overflow: hidden;

  transition: height 0.7s $animation-transition, opacity 1.6s $animation-transition;

  &:first-of-type {
    margin-top: spacing($size: 8, $negative: true);

    @include media-breakpoint-up(md) {
      margin-top: spacing(4);
    }
  }

  &:not(.show) {
    @include is-invisible;
  }
}

.hero-text-image__wrapper {
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.is-light {
      @include light-text-shadow;
    }
  }
}

.hero-text-image__cta {
  @include z-index;

  position: relative;
  margin-top: spacing($size: 6, $negative: true);
  padding-bottom: spacing(14);

  @include media-breakpoint-up(lg) {
    margin-top: spacing($size: 32, $negative: true);
    padding-bottom: spacing(30);
  }
}

.hero-text-image__icon {
  &.hero-text-image__icon--fixed {
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .icon {
    @include z-index;

    color: var(--color-hero-icon);
    position: relative;
  }

  svg {
    height: 100%;
    width: 36vw;
    max-width: 300px;

    @include media-breakpoint-up(lg) {
      width: 300px;
    }
  }
}

.hero-text-image__background-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hero-text-image__video {
  margin-top: spacing($size: 18, $negative: true);

  @include media-breakpoint-up(lg) {
    margin: 0 spacing($size: 34, $negative: true);
  }
}

.hero-text-image__headline {
  + .hero-text-image__underline {
    margin-top: spacing($size: 4, $negative: true);

    @include media-breakpoint-up(lg) {
      margin-top: spacing($size: 10, $negative: true);
    }
  }
}

.hero-text-image__img-spacer-subline {
  display: none;
}

@keyframes hero-text-animation-hide-smiley {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes hero-text-animation-show-text {
  0% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}
