.hiking-tips {
  margin-top: spacing(40);
}

.hiking-tips__contents {
  margin-top: spacing(60);
}

.hiking-tips__subline {

  @include media-breakpoint-up(lg) {
    width: 55%;
  }
}

.hiking-tips__content {
  margin-top: 2rem;
  @include media-breakpoint-up(xl){
    margin-top: -10rem;
  }
  &.hiking-tips__content--left {
    img {
      height: 500px;
      width: 400px;
      max-width: 100%;
      object-fit: cover;
    }
  }
  &.hiking-tips__content--right {
    img {
      @include aspect-ratio(1, 1);
      height: 400px;
      width: 400px;
      object-fit: cover;
    }
  }
}
