.icon {
  display: inline-flex;

  svg {
    margin-bottom: 0;

    // height: 500px;
    // width: 500px;

    path,
    line,
    polyline {
      transition: d $animation-transition 0.7s, stroke-width ease-in 0.3s, transform $animation-transition 0.7s;
    }
  }

  &.icon--circle {
    flex: 1;
    border: 1px solid var(--color-icon);
    border-radius: 100%;
    justify-content: center;
    align-items: center;

    svg {
      width: 60%;
    }
  }

  &.icon--hover {
    cursor: pointer;

    &:hover {
      background-color: var(--color-icon-hover-background);
      color: var(--color-icon-hover-color);
    }
  }

  &.icon--smile {
    &.icon--step-1 {
      svg {
        .hand,
        .left-eyebrow,
        .right-eyebrow {
          stroke-width: 6px !important;
        }

        .hand {
          transition-delay: 0.2s;
        }
      }
    }

    &.icon--step-2 {
      svg {
        .left-eyebrow,
        .right-eyebrow {
          transition-delay: 0s;
        }

        .mouth-upper {
          stroke-width: 6px !important;
        }

        .circle {
          transform: rotate(54deg);
          transform-origin: center center;
        }

        .hand-upper {
          stroke-width: 6px !important;
          transition-delay: 0.15s;
        }

        .hand {
          stroke-width: 0 !important;
        }
      }
    }

    &.icon--step-3 {
      svg {
        .right-eye,
        .left-eye,
        .mouth-upper {
          stroke-width: 0px !important;
        }

        .right-eyebrow,
        .left-eyebrow {
          stroke-width: 6px !important;
          transition-delay: 0.2s;
          transition-duration: 0.2s;
        }

        .circle {
          transform-origin: center center;
        }

        .hand-upper {
          transition-duration: 0s;
          stroke-width: 0 !important;
        }
      }
    }
  }
}

.shared-components {
  .icon {
    width: auto;
    height: auto;
  }
}
