$job-list-entries-gap: spacing(6);

.job-list {
  &.is-loading {
    .job-list__entry {
      opacity: 0;
    }
  }
}

.job-list__entry {
  border: 2px solid var(--color-border);
  padding: spacing(8);
  opacity: 1;
  transition: opacity 1.3s $animation-transition;
  flex: 1 0 100%;
  margin-bottom: spacing(3);

  @include media-breakpoint-up(lg) {
    flex: 1 0 calc(50% - #{$job-list-entries-gap});
  }
}

.job-list__entries {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    gap: $job-list-entries-gap;
  }
}

.job-list__entry-title {
  @include font-style('font-size-4');

  margin-top: spacing(4);
}

.job-list__entry-gender {
  @include font-style('font-size-2');
}
