.letter-switch {
  text-align: center;
  margin-bottom: spacing(10);

  &.show {
    .letter-switcher__overline,
    .letter-switcher__animation {
      opacity: 1;
    }
  }

  &.is-end {
    .letter-switcher__animation {
      opacity: 0;
    }

    .letter-switcher__end-animation {
      opacity: 1;
    }
  }
}

.letter-switcher__animation {
  pointer-events: none;
  display: inline-block;
  opacity: 0;
  overflow: hidden;
  letter-spacing: 10px;
  color: var(--color-letter-switcher-copy);
}

.letter-switcher__overline,
.letter-switcher__animation {
  transition: opacity 0.5s $animation-transition;
}

.letter-switcher__group {
  display: inline-flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 60px;
  position: relative;
  bottom: -100%;
  transform: translateY(-100%);
  text-align: center;
}

.letter-switcher__letter {
  flex: 1 0 auto;
  padding: 10px 0;
}

.letter-switcher__middle {
  color: var(--color-letter-switcher-highlight);
}

.letter-switcher__overline {
  opacity: 0;
  margin-bottom: spacing(4);
  color: var(--color-letter-switcher-overline);
}

.letter-switcher__end-animation {
  pointer-events: none;
  position: absolute;
  opacity: 0;
  bottom: 0;
  top: spacing(4);
  display: flex;
  place-content: center;
  width: 100%;
  color: var(--color-letter-switcher-copy);
}

.letter-switcher__end::before,
.letter-switcher__end-text {
  width: calc(100% + #{spacing(4)});
  transition: width 0.8s $animation-transition;
}

.letter-switcher__end-text {
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: -#{spacing(2)};
  top: 0;
  background-color: var(--color-gigas);
  z-index: 2;
}

.letter-switcher__end {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    display: block;
    height: 40%;
    left: -#{spacing(2)};
    background-color: var(--color-letter-switcher-underline);
    z-index: -1;
    bottom: 0;
    transition-duration: 1.2s;
  }

  &.is-collapsed {
    &::before {
      width: 0;
    }
  }
}

.letter-switcher__spacer,
.letter-switcher__container {
  position: relative;
}

@keyframes letter-switch {
  0% {
    transform: translateY(-100%);
    bottom: -100%;
  }

  100% {
    transform: translateY(0%);
    bottom: 0;
  }
}
