$link-list-breakpoint: 'lg';

.link-list {
  --link-list-border-size: 1px;

  transition: height 0.4s $animation-transition, opacity 0.5s 0.15s $animation-transition,
    transform 0.4s 0.15s $animation-transition;

  &.link-list--in-transition,
  &.link-list--hidden {
    @include is-invisible;

    width: 0;
  }

  &.link-list--in-transition {
    width: auto;
  }

  &.active {
    .link-list__title {
      color: var(--color-active);

      @include media-breakpoint-up($link-list-breakpoint) {
        color: inherit;
      }
    }
  }

  &.is-expanded,
  &:last-of-type:not(:first-of-type) {
    .link-list__title {
      border-bottom-width: 0;

      @include media-breakpoint-up($link-list-breakpoint) {
        border-bottom-width: 1px;
      }
    }
  }

  &.is-expanded {
    .link-list__icon {
      --icon-rotation: 180deg !important;
    }

    .link-list__title {
      margin-bottom: 0;

      @include media-breakpoint-up($link-list-breakpoint) {
        margin-bottom: spacing(5);
      }
    }
  }

  &:not(.is-expanded) {
    .link-list__title {
      + .link-list__list {
        display: none;

        @include media-breakpoint-up($link-list-breakpoint) {
          display: flex;
        }
      }
    }
  }
}

.link-list__title {
  color: var(--color-link-list-title);
  padding-bottom: spacing(3);
  margin-bottom: spacing(4);
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  .link-list__icon {
    color: var(--color-link-list-icon);
  }

  @include media-breakpoint-up($link-list-breakpoint) {
    cursor: auto;
    border-bottom: var(--link-list-border-size) solid var(--color-link-list-border);
  }
}

.link-list__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.link-list__item {
  flex: 1 0 100%;
  list-style-type: none;
  margin: 0;
  padding: spacing(2) 0;

  @include media-breakpoint-down(md) {
    .cta__text {
      @include font-size-custom($sm: $font-size-13px);
    }
  }
}

.link-list__icon {
  margin-right: spacing(2);

  @include media-breakpoint-up($link-list-breakpoint) {
    display: none;
  }
}
