.logo-list {
  &.logo-list--aspect-ratio {
    .logo-list__item {
      > img {
        aspect-ratio: var(--aspect-ratio-width) / var(--aspect-ratio-height);
      }
    }
  }

  &.logo-list--is-overlapping {
    @include shadow('light');

    background-color: var(--logo-list-background);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(spacing($size: 12, $negative: true));

    .logo-list__col {
      gap: spacing(4);

      @include media-breakpoint-up(lg) {
        gap: spacing(6);
      }
    }

    .logo-list__item {
      // filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%)
      // contrast(100%);
      filter: brightness(0) invert(1);
      opacity: 0.7;

      img {
        // min-height: 40px;
        max-height: spacing(10);
      }

      &:hover {
        filter: brightness(0) invert(1);
        box-shadow: none;
      }

      &[data-utility-animation-step] {
        --utility-animation-to-opacity: 0.7;
      }

      @include media-breakpoint-up(md) {
        // flex-basis: 12%;
        flex-basis: auto;
        flex-grow: 1;
        max-width: none;
      }

      // @include media-breakpoint-up(lg) {
      //   flex-basis: var(--column-width);
      //   max-width: var(--column-width);
      // }
    }
  }

  .logo-list__item {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.22);
    flex-basis: 100%;
    filter: grayscale(1);
    opacity: 0.4;
    transition-property: filter, opacity, box-shadow;
    transition-duration: 0.6s;
    transition-timing-function: $animation-transition;

    &[data-utility-animation-step] {
      --utility-animation-to-opacity: 0.4;

      opacity: 0;
      animation-delay: var(--utility-animation-delay);
      animation-duration: 1.4s;
    }

    img {
      object-fit: contain;
      height: inherit;
      height: intrinsic;
      width: auto;
    }

    &:hover {
      filter: grayscale(0);
      opacity: 1;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);

      &[data-utility-animation-step] {
        --utility-animation-to-opacity: 1;
      }
    }

    @include media-breakpoint-up(md) {
      box-shadow: none;
      flex-basis: 48%;
      max-width: 48%;
    }

    @include media-breakpoint-up(lg) {
      flex-basis: var(--column-width);
      max-width: var(--column-width);
    }
  }
}
