.people-square {
  @include aspect-ratio(1, 1);

  margin-bottom: spacing(14);

  &.people-square--absolute {
    @include media-breakpoint-up(lg) {
      @include z-index;

      position: absolute;
      width: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    max-width: 600px;
  }
}

.people-square__grid {
  display: inline-grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.people-square__element,
.people-square__element--extended {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.people-square__element {
  img,
  picture {
    position: absolute;
    max-height: max-content;
    max-width: max-content;
    height: 100%;
  }
  &.people-square__element--extended {
    img,
    picture {
      width: 100%;
      height: auto;
    }
  }
}

.people-square__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.people-square__content {
  position: relative;
  text-align: center;
  color: var(--color-people-square-copy);
}

.people-square__number {
  @include font-style($style: 'h3-font-size', $weight: 'bold');
}

.people-square__text {
  @include font-style($style: 'font-size-1');
}
