$post-offset-spacing-xl: 7.5rem;
$post-content-width-lg: 80%;

.post {
  container-type: normal;

  .post-title {
    @include richtext-width;

    &.h3-font-size {
      font-size: $h3-font-size-sm;
      font-weight: bold;

      @include media-breakpoint-up(lg) {
        font-size: $h3-font-size-lg;
      }

      @include media-breakpoint-up(xl) {
        font-size: $h3-font-size;
      }
    }
  }
}

.post-content {
  main {
    > p {
      @include richtext-width;

      &:not(.post__sticky-excerpt) {
        line-height: 2;
      }

      &:last-of-type {
        margin-bottom: 0;

        img {
          margin-bottom: 0;
        }
      }
    }
  }

  iframe {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  > img {
    &:first-of-type {
      margin-top: 0;

      + figcaption {
        margin-top: -2rem;
        margin-bottom: 2.5rem;

        @include media-breakpoint-up(lg) {
          position: relative;
          margin-top: -3rem;
          margin-bottom: 3.5rem;
        }

        @include media-breakpoint-up(xl) {
          left: -#{$post-offset-spacing-xl};
        }
      }
    }
  }

  .img__picture-wrapper img,
  .post__intro-img > img,
  picture > img,
  p > img {
    border-radius: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    .img__picture-wrapper img,
    .post__intro-img > img,
    picture > img,
    p > img {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      left: 0;
      position: relative;
    }

    iframe {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .img__picture-wrapper img,
    .post__intro-img > img,
    picture > img,
    p > img {
      left: -#{$post-offset-spacing-xl};
      max-width: calc(#{get-container-width($name: 'xl', $with-padding: true)} - (#{$post-offset-spacing-xl}));
    }
  }

  @include media-breakpoint-up(xxl) {
    .img__picture-wrapper img,
    .post__intro-img > img,
    picture > img,
    p > img {
      max-width: get-container-width($name: 'xl', $with-padding: true);
    }
  }
}

.post__sticky-bar {
  &.post__sticky-bar--lg-only {
    display: none;

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    margin-bottom: 0;
    margin-left: -#{$post-offset-spacing-xl};
  }
}

.post__sticky-socials {
  .socials {
    padding-top: spacing(3);
  }

  @include media-breakpoint-up(xl) {
    height: 10px !important; /* force the sticky plugin to not create a gap */
    flex-shrink: 0;
    flex-basis: $post-offset-spacing-xl;
  }
}

.post__sticky-excerpt {
  @include font-style($style: 'font-size-3', $weight: 'light');
  @include richtext-width;

  padding-top: spacing(3);
}
