.post-teaser {
  &.post-teaser--author {
    .post-teaser__img-container {
      @include aspect-ratio(16, 9);
    }

    .post-teaser__date {
      order: 3;
    }
  }
}
.post-teaser__img-container {
  @include hover-scale-transform;

  .is-foreground {
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }
}

.post-teaser__date {
  color: var(--color-copy-lowlight);
}

.post-teaser__title {
  @include font-size-5;

  font-weight: 100;
  line-height: 1.3em;
}

.post-teaser__abstract {
  line-height: 1.9em;
}
