.quotes {
  background-color: var(--color-green-blue);
  color: var(--color-white);

  &.quotes--no-image {
    padding-bottom: spacing(24);

    .quotes__entry-quote,
    .quotes__entry-infos,
    .quotes__entry-text {
      text-align: center;
    }

    .quotes__entry-text {
      @include h2;
    }

    .quotes__entry-text-wrapper {
      margin: spacing(16) 0;
    }
  }

  &:not(.quotes--no-image) {
    &:last-child {
      margin-bottom: spacing(0) !important;
    }

    .quotes__entry-text {
      @include media-breakpoint-up(lg) {
        &.font-size-3 {
          // TODO check can't we use an existing font?
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }

      @include media-breakpoint-up(xl) {
        &.font-size-3 {
          font-size: 1.1rem;
          line-height: 1.8rem;
        }
      }

      @include media-breakpoint-up(xxl) {
        &.font-size-3 {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }

    .quotes__entry-quote-wrapper {
      display: flex;
      flex-direction: column;
    }

    .quotes__entry-infos {
      display: flex;
      flex-wrap: wrap;
      margin-top: auto;
    }
  }

  .slick-arrow {
    background-color: transparent;
    position: absolute;

    &:not(.slick-disabled) {
      &:hover {
        background-color: transparent;
        border-color: var(--color-white);
        border: 1px solid var(--color-white);
      }
    }
  }

  .slick-initialized {
    .quotes__entry {
      &.slick-slide {
        padding-left: 1px;

        @include media-breakpoint-up(lg) {
          display: flex;
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

.quotes__entry-quote {
  position: relative;
  font-size: 10rem;
  color: var(--color-yellow);
  line-height: 0;
  top: -4%;
  pointer-events: none;
  padding-bottom: 4.5rem;

  @include media-breakpoint-up(lg) {
    font-size: 8rem;
    top: -5%;
    padding-bottom: 2.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 13rem;
    top: -9.5%;
    padding-bottom: 4.5rem;
  }
}

.quotes__entry-position {
  margin-top: spacing(4);
}

.quotes__entry-name {
  color: var(--color-yellow);
  flex: 1 0 100%;
}

.quotes__entry-company {
  flex: 1 0 100%;
}

.quotes__headline {
  text-align: left;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

.quotes__row {
  justify-content: center;

  @include media-breakpoint-up(lg) {
    justify-content: left;
  }
}

.quotes__entry-img {
  width: 100%;

  @include media-breakpoint-down(md) {
    @include aspect-ratio(1, 1);
  }
}

.quotes__entry-quote-wrapper,
.quotes__entry-img-wrapper {
  @include media-breakpoint-down(md) {
    margin: auto;
    margin-left: 0;
  }

  @include media-breakpoint-up(md) {
    max-width: 63%;
  }

  @include media-breakpoint-up(lg) {
    max-width: none;
  }
}

.quotes__arrow-right {
  background-image: assets('../../assets/svg/right.svg');
  right: spacing(4);

  @include media-breakpoint-up(lg) {
    right: 0;
  }
}

.quotes__arrow-left {
  @include safari {
    transform: rotate(180deg);
  }

  background-image: assets('../../assets/svg/left.svg');
  right: spacing(20);

  @include media-breakpoint-up(lg) {
    right: spacing(14);
  }
}

.quotes__entry-infos {
  @include media-breakpoint-up(lg) {
    padding-bottom: spacing(12);
    width: 85%;

    .font-size-2 {
      font-size: 1.1rem;
    }
  }

  @include media-breakpoint-up(xl) {
    .font-size-2 {
      font-size: 1.25rem;
    }
  }
}

.quotes__entry-quote,
.quotes__entry-text,
.quotes__entry-infos {
  text-align: center;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

.quotes__arrow-left,
.quotes__arrow-right {
  background-repeat: no-repeat;
  background-size: 28px 17px;
  background-position: center center;
  bottom: 1rem;
  display: none !important;

  &.slick-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @include media-breakpoint-up(lg) {
    display: inline-block !important;
    bottom: 6rem;
  }

  @include media-breakpoint-up(xxl) {
    bottom: 8rem;
  }
}

.quotes__entry {
  .quotes__entry-quote-wrapper {
    opacity: 0;
    pointer-events: none;
  }

  &.slick-active,
  &.slick-current {
    .quotes__entry-quote-wrapper {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.quotes__entry-quote-wrapper {
  @include media-breakpoint-up(lg) {
    padding-bottom: spacing(16);
  }
}

.quotes__entry-text-wrapper {
  margin-bottom: spacing(10);
}
