.hover__parent:hover .scroll-arrow__button,
.shared-components .scroll-arrow__button:hover {
  // @include move-right-left;
  animation: moveUpDown 0.5s;
}

.scroll-arrow {
  margin-top: spacing(10);
  margin-bottom: spacing(10);
  position: relative;
}

.scroll-arrow__button {
  cursor: pointer;
  transform: rotate(90deg);
}
