.search {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;

    &.search--initialized {
      .search__icon {
        display: none;
      }

      .search__bar {
        display: block;
      }
    }

    .search__icon {
      cursor: pointer;
      margin: 0 auto;
    }

    .search__bar {
      display: none;
    }
  }
}
