$service-overview-offset: $grid-gutter-half-width;

.service-overview {
  margin-bottom: spacing(10);

  @include media-breakpoint-up(lg) {
    margin-top: spacing(20);
    margin-bottom: 0;
  }
}

.service-overview__socials {
  flex: 1 0 100%;
  margin-top: spacing(10);
  margin-bottom: spacing(6);
  padding-bottom: spacing(4);
  border-bottom: 1px solid var(--color-service-overview-border);

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.service-overview__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: spacing(4);

  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid var(--color-service-overview-border);
    margin-bottom: spacing(3);
  }
}

.service-overview__logo-frame {
  display: flex;
  align-items: flex-end;

  .icon {
    align-self: center;
  }
}

.service-overview__logo {
  @include z-index;

  background-color: var(--color-white);
  padding: spacing(3) spacing(4) spacing(3) #{$service-overview-offset};
  margin-left: -#{$service-overview-offset};
  transform: translateY(-99%);
  position: absolute;

  &:hover {
    .icon {
      svg {
        @include move-top-right;
      }
    }
  }

  .icon {
    width: spacing(4);
    height: spacing(4);
  }

  @include media-breakpoint-up(lg) {
    order: 2;
    z-index: auto;
    transform: none;
    padding: 0;
    display: flex;
    position: relative;
  }
}

.service-overview__img {
  margin-right: spacing(5);
}

.service-overview__title {
  flex: 1 0 100%;

  @include media-breakpoint-up(lg) {
    line-height: 1em;
    order: 1;
    flex: 1 1 auto;
  }

  @include media-breakpoint-up(xl) {
    line-height: 1.2em;
  }
}

.service-overview__content {
  display: flex;
  flex-wrap: wrap;
}

.service-overview__list {
  @include media-breakpoint-up(lg) {
    flex: 1 0 60%;
    padding-right: spacing(16);
  }
}

.service-overview__services {
  width: 100%;
  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    flex: 1 0 40%;
    width: 40%;
  }
}
