.slider {
  overflow: hidden;

  &.has-background {
    position: relative;
    padding-bottom: spacing(16);

    .slider__wrapper {
      &:before {
        display: block;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-bottom: spacing(22);
    }
  }

  .is--desktop,
  .slider__item--desktop {
    display: none;
  }

  .slick-list {
    @include media-breakpoint-up(sm) {
      width: calc(100%);

      .slick-track {
        left: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .is--desktop,
    .slider__item--desktop {
      display: block;
    }

    .is--mobile,
    .slider__item--mobile {
      display: none;
    }
  }
}

.slider__wrapper {
  &:before {
    display: none;
    content: '';
    background-color: inherit;
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
