.stage {
  &.hero--text {
  }
}

.stage__wrapper {
  // position: relative;
  padding-top: spacing(16);

  @include media-breakpoint-up(lg) {
    padding-top: spacing(50);
  }
}

.stage__container {
  // was 4 before
  @include z-index;
}

.stage__row {
  padding: spacing(22) 0;

  @include media-breakpoint-up(lg) {
    justify-content: space-between;
  }
}

// TODO equivalent to .bg-img-hero which is cover + no-repeat + top center
