$step-list-counter-width: spacing(16);
$step-list-counter-width-small: spacing(13);

.step-list {
  padding: spacing(24) 0;
  background-color: var(--step-list-background);
  color: var(--step-list-color);

  &:not(.step-list--small) {
    .step-list__counter {
      @include font-style($style: 'h3-font-size', $weight: 'light');
    }
  }

  &.step-list--small {
    --step-list-color: var(--color-copy);
    --color-step-list-highlight: var(--color-primary-accent-light);
    --color-step-list-highlight-copy: var(--color-primary-accent);

    .step-list__title {
      padding-left: 0;
    }

    .step-list__list-element {
      position: relative;
    }

    .step-list__counter {
      @include font-style($style: 'font-size-1', $weight: 'bold');

      &.step-list__counter--manual {
        &::before {
          content: attr(data-content);
        }
      }

      &::before {
        width: $step-list-counter-width-small;
        height: $step-list-counter-width-small;
      }

      &::after {
        content: '';
        position: absolute;
        border-top: 2px solid var(--color-step-list-border);
        width: calc(100% - #{spacing(12)});
        height: 2px;
        top: calc(#{$step-list-counter-width-small} / 2);
        transform: translateX(spacing(4));
      }
    }

    .step-list__icon {
      opacity: 0;
      pointer-events: none;

      svg {
        width: spacing(2);
      }
    }

    .step-list__title--no-small {
      display: none;
    }

    .step-list__title--no-default {
      @include font-style($style: 'h4-font-size', $weight: 'light');

      display: block;
      margin-bottom: spacing(4);
    }
  }

  @include media-breakpoint-up(lg) {
    .step-list__list {
      display: flex;
    }

    .step-list__icon {
      padding-right: spacing(6);
      display: list-item;

      svg {
        --icon-rotation: 0deg;
      }
    }
  }
}

.step-list__headline {
  --color-headlines: var(--step-list-color);
}

.step-list__subline {
  margin-top: spacing(8);
  margin-bottom: spacing(14);
}

.step-list__list {
  counter-reset: step-list;
  list-style: none;
  padding-left: 0;
  gap: 6px;
  justify-content: space-between;
}

.step-list__icon {
  display: flex;
  justify-content: center;

  svg {
    width: 64px;
    height: 100%;

    --icon-rotation: 90deg;
  }
}

.step-list__list-element {
  color: var(--color-step-list-highlight);
  display: grid;
  grid-template-columns: fit-content($step-list-counter-width) 1fr;
  grid-template-rows: min-content max-content;
  flex: 1;
}

.step-list__title {
  padding-left: spacing(6);
  display: flex;
  align-items: center;
}

.step-list__counter {
  grid-row-start: 1;
  grid-row-end: 2;

  &::before {
    counter-increment: step-list;
    content: counter(step-list);
    background-color: var(--color-step-list-highlight);
    color: var(--color-step-list-highlight-copy);
    width: $step-list-counter-width;
    height: $step-list-counter-width;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.step-list__content {
  margin-top: spacing(8);
  grid-column-start: 1;
  grid-column-end: 3;
  color: var(--step-list-color);
}

.step-list__title--no-default {
  display: none;
}
