.tab-list {
  margin-top: spacing(14);
  margin-bottom: spacing(12);
  width: 100%;
  position: relative;

  &.show-right-arrow .tab-list__right,
  &.show-left-arrow .tab-list__left {
    opacity: 1;
    pointer-events: all;
  }

  &.tab-list--small {
    .tab-list__list {
      flex-wrap: nowrap;

      @include media-breakpoint-up(sm) {
        justify-content: center;
      }
    }
  }

  .tab-list__content {
    .tab-list__text {
      @include font-size-custom(
        $sm: $font-size-1,
        $md: $font-size-1,
        $lg: $font-size-2,
        $xl: $font-size-2,
        $important: false
      );

      position: relative;
      font-weight: normal;
      --color-headlines: var(--color-primary);
    }
  }
}

.tab-list__list {
  scroll-behavior: smooth;
  overflow-x: auto;

  @include media-breakpoint-up(lg) {
    overflow-x: hidden;
  }
}

.tab-list__tab,
.tab-list__content {
  position: relative;
  height: 100%;
}

.tab-list__tab {
  display: block;

  &.active {
    .tab-list__text {
      color: var(--color-primary-accent);

      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--color-primary-accent);
        bottom: spacing($size: 2, $negative: true);
      }
    }
  }
}

.tab-list__text {
  flex: 0 0 auto;
  white-space: nowrap;
}

.tab-list__controls {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 4;
  pointer-events: none;
}

.tab-list__arrow-icon {
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &::before {
    background-image: assets('../../assets/svg/arrow-slider.svg');
    transform: rotate(90deg) translate(-50%, 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    left: 50%;
    top: 50%;
    z-index: 1;
    border: 2px solid transparent;
  }

  &::after {
    @include shadow('medium-light');
  }
}

.tab-list__left,
.tab-list__right {
  display: flex;
  opacity: 0;
  align-items: center;
  position: absolute;
  height: 74%;
  width: auto;
  top: -10%;
  background-color: var(--color-white);
  padding: 0 spacing(2);

  cursor: pointer;
  transition: opacity 0.5s $animation-transition;

  &:hover {
    &::before {
      border-color: var(--color-blue-medium);
    }

    &::before {
      filter: invert(28%) sepia(97%) saturate(1365%) hue-rotate(185deg) brightness(96%) contrast(101%);
    }
  }
}

.tab-list__left {
  left: 0;
}

.tab-list__right {
  right: 0;

  .tab-list__arrow-icon {
    &::before {
      transform: rotate(-90deg) translate(50%, -50%);
    }
  }
}
