.tag-cloud {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  --size: 5rem;

  .tag-cloud__header {
    margin-top: var(--size);
    margin-bottom: var(--size);
    margin-left: var(--size);
    h2 {
      color: var(--color-white);
      font-weight: 400;
    }
  }

  .tag-cloud__content {
    text-align: center;
    justify-content: center;
    .tag-cloud__container {
      max-width: 1500px;
      margin: auto;
      li {
        list-style: none;
      }
      a {
        text-decoration: none;
        padding: 5px;
        color: var(--color-white) !important;
        }
    }
  }
}

.tag-cloud__items {
  display: grid;
  //place-items: center;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.tag-cloud__item {
  border: 1px solid red;
  transition: transform 1s ease-in-out;
  &:hover {
    transform: scale(1.4);
  }
}
