.tag-cloud {
    background-color: var(--color-midnight);
    color: var(--color-white);
    h2 {
        color: var(--color-white);
    }
    .tag-cloud-content {
      display: flex;
      justify-content: center;
      .tag-cloud-container {
        position: relative;
        margin: 0 auto;
        width: 800px;
        height: 700px;

        .tag-cloud-items {

          a {
            position: absolute;
            top: 0;
            left: 0;
            padding: 3px 6px;
            text-decoration: none;
            color: var(--color-white) !important;
          }
        }

    }
    }

}
