.tag-cloud {
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    --size: 5rem;

    .tag-cloud-header {
        margin-top: var(--size);
        margin-left: var(--size);
        h2 {
          color: var(--color-white);
          font-weight: 400;
      }
    }

    .tag-cloud-content {
      display: flex;
      justify-content: left;
      margin-left: var(--size);
      .tag-cloud-container {
        position: relative;
        height: 43.75rem;
        width: 30rem;

        .tag-cloud-items {

          a {
            position: absolute;
            top: 0;
            left: 0;
            padding: 3px 6px;
            text-decoration: none;
            color: var(--color-white) !important;

            &:hover {
              color: var(--color-blue-lighter) !important;
            }
          }
        }

    }
    }

}
