.testimonial-list {
  margin-top: spacing(40);
}

.testimonial-list__contents {
  margin-top: spacing(30);
}

.testimonial-list__content-block {
  // align-items: center;
  @include media-breakpoint-up(lg) {
    margin-bottom: spacing(15);
  }
}

.testimonial-list__content--square {
  // margin-top: spacing(-10);
}

.testimonial-list__content {
  display: flex;
  justify-content: center;
  @include media-breakpoint-down(md) {
    margin-bottom: spacing(10);
  }
  &.show {
    visibility: visible;
    animation: slideIn 2s forwards;
  }
  &:not(.show) {
    visibility:  hidden;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
