.testimonial-list__content-block {
  @include media-breakpoint-up(lg) {
    margin-bottom: spacing(15);
  }
}


.testimonial-list__content {
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(md) {
    margin-bottom: spacing(10);
  }

  &.show {
    visibility: visible;
    animation: slideIn 2s forwards;
  }

  &:not(.show) {
    visibility:  hidden;
  }
}
