.text-image {
  position: relative;
  background-repeat: no-repeat;
  width: 100%;

  &.text-image--bg-color {
    + .sticky-scroller__spacer + *[class*='mt-'],
    + *[class*='mt-'] {
      margin-top: 0 !important;
    }
  }

  &.text-image--float {
    .row {
      .text-image__first-col {
        order: 2;
        margin-top: 2rem;
      }

      .text-image__second-col {
        order: 1;
      }
    }
  }

  .row {
    &.flex-row-reverse {
      .text-image__first-col {
        @include media-breakpoint-up(lg) {
          margin-top: 0;
          order: 1;
        }
      }

      .text-image__second-col {
        @include media-breakpoint-up(lg) {
          order: 2;
        }
      }
    }
  }

  .img__picture-wrapper {
    &.ratio-1x1 {
      @include aspect-ratio(1, 1);

      overflow: hidden;

      > img {
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
      }
    }
  }

  &.text-image--float {
    @include media-breakpoint-up(lg) {
      .text-image__img {
        margin-bottom: -#{$bootstrap-space-3};
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.text-image__badge {
  margin-bottom: spacing(4);
}

.text-image__cta {
  margin-top: spacing(8);
  margin-bottom: spacing(24);
  order: 3;
  display: flex;
  flex: 1;
  justify-content: center;
}

.text-image__overline {
  color: var(--color-orange);
}

.text-image__floating-img {
  padding-right: 0;
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    max-height: calc(100% + 40px);

    img {
      max-height: 100%;
      display: block;
      height: 100%;
      width: auto;
      margin-left: auto;
      object-fit: contain;
    }
  }
}

.text-image__img {
  &.text-image__img--floating {
    width: 100vw;
    left: 100vw;
    transform: translate(-100vw);

    .img__picture-wrapper {
      width: 100vw;

      @include media-breakpoint-up(lg) {
        width: auto;
      }
    }

    @include media-breakpoint-up(sm) {
      width: calc(100vw - (100vw - 530px) / 2);
      left: calc(100vw - (100vw - 530px) / 2);
      transform: translateX(-540px);
    }

    @include media-breakpoint-up(md) {
      width: calc(100vw - (100vw - 710px) / 2);
      left: calc(100vw - (100vw - 710px) / 2);
      transform: translateX(-720px);
    }

    @include media-breakpoint-up(lg) {
      left: 0;
      transform: none;
      width: 100%;
    }
  }

  &.text-image__img--subline {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &.text-image__img--mobile {
    img {
      display: none;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  img {
    object-fit: contain;
    height: intrinsic;
    height: max-content;

    &.is-svg {
      padding: 1.5rem;
    }

    @include safari {
      height: auto;
      width: 100%;

      &.is-svg {
        width: auto;
      }
    }
  }
}
