.timeline {
  --color-timeline-line: rgba(255, 255, 255, 0.4);
  --color-timeline-dot: var(--color-blue-light);
  --timeline-line-size: 8px;
  --timeline-line-width: 100px;
  --timeline-line-width-lg: 200px;
  --timeline-line-corner-size: calc(2 * var(--timeline-line-size));
  --timeline-animation-step-1-duration: 0.4s;
  --timeline-animation-step-2-duration: 0.2s;
  --timeline-animation-step-3-duration: 0.45s;
  --timeline-animation-timing-function: linear;
  --timeline-animation-scroll-step-duration: 0.9s;

  background-color: var(--color-timeline-background);
  color: var(--color-timeline-color);

  .timeline__headline {
    color: inherit;
    margin-bottom: spacing(8);
  }

  &.is-ready.is-expanded {
    .timeline__line-corner,
    .timeline__line-start {
      &::after {
        width: 0;
      }
    }

    .timeline__entry-line {
      &::after {
        height: 0;
      }
    }

    .timeline__line-end {
      &::before {
        height: 0;
      }
    }

    .timeline__entry-container {
      .timeline__entry-spacer {
        opacity: 1;
        pointer-events: all;
      }

      @include media-breakpoint-up(lg) {
        &:nth-child(even) {
          .timeline__entry {
            opacity: 1;
            pointer-events: all;
          }

          .timeline__entry-spacer {
            opacity: 0;
            pointer-events: none;
          }
        }

        &:nth-child(odd) {
          .timeline__entry-spacer {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }

  &:not(.is-expanded).is-ready {
    .timeline__line-corner,
    .timeline__line-start {
      &::after {
        width: 0;
      }
    }

    .timeline__entry-container {
      &.show {
        .timeline__entry-line {
          &::after {
            height: calc(var(--timeline-entry-container-percentage) * 1%);

            transition-duration: 0s;
            transition-delay: 0s;
            // transition-delay: calc(
            //   var(--timeline-animation-step-1-duration) + var(--timeline-animation-step-2-duration)
            // );
            transition-timing-function: $animation-transition;
            // transition-duration: var(--timeline-animation-scroll-step-duration);
          }
        }

        + .timeline__line-end {
          &::before {
            transition-delay: 0s;
            transition-duration: 0s;
          }
        }

        &.is-full + .timeline__line-end {
          &::before {
            height: 0;
            // transition-delay: calc(
            //   var(--timeline-animation-step-1-duration) + var(--timeline-animation-step-2-duration) +
            //     var(--timeline-animation-scroll-step-duration)
            // );
            transition-timing-function: $animation-transition;
            transition-duration: var(--timeline-animation-scroll-step-duration);
          }
        }

        @include media-breakpoint-up(lg) {
          &:nth-child(even) .timeline__entry,
          &:nth-child(odd) .timeline__entry-spacer {
            transition-delay: var(--timeline-animation-scroll-step-duration);
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}

.timeline__row {
  padding-top: spacing(10);
  padding-bottom: spacing(14);
}

.timeline__content {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  overflow: hidden;
}

.timeline__line {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;

  @include media-breakpoint-up(md) {
    padding-left: spacing(8);
  }

  @include media-breakpoint-up(lg) {
    align-items: center;
    transform: translateX(calc(-1 * (var(--timeline-line-width-lg) / 2)));
    padding-left: 0;
  }
}

.timeline__line-start {
  position: relative;
  display: flex;
  height: calc(2 * var(--timeline-line-size));
  overflow: hidden;

  &::after,
  &::before {
    content: '';
    display: block;
    width: var(--timeline-line-width);
    height: var(--timeline-line-size);

    @include media-breakpoint-up(lg) {
      width: var(--timeline-line-width-lg);
    }
  }

  &::before {
    order: 2;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 20%, var(--color-timeline-line) 100%);

    @include media-breakpoint-up(lg) {
      order: 1;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, var(--color-timeline-line) 100%);
    }
  }

  &::after {
    position: absolute;
    background-color: var(--color-timeline-background);
    z-index: 2;
    transition: width var(--timeline-animation-step-1-duration) var(--timeline-animation-timing-function);
    left: var(--timeline-line-corner-size);

    @include media-breakpoint-up(lg) {
      right: var(--timeline-line-corner-size);
      left: auto;
    }
  }
}

.timeline__line-end {
  position: relative;

  &::after {
    content: '';
    display: block;
    width: inherit;
    height: spacing(30);
    background: linear-gradient(to bottom, var(--color-timeline-line) 20%, rgba(255, 255, 255, 0) 100%);
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: var(--color-timeline-background);
    transition: height var(--timeline-animation-step-3-duration) var(--timeline-animation-timing-function)
      calc(
        var(--timeline-animation-step-1-duration) + var(--timeline-animation-step-2-duration) +
          var(--timeline-animation-step-3-duration) * var(--timeline-line-position)
      );
  }
}

.timeline__line-corner {
  position: relative;
  overflow: hidden;
  width: var(--timeline-line-corner-size);
  height: var(--timeline-line-corner-size);
  order: 1;

  span {
    display: block;
    border-radius: 50%;
    border-color: var(--color-timeline-line);
    border-width: var(--timeline-line-size);
    border-style: solid;
    height: calc(4 * var(--timeline-line-size));
    width: calc(4 * var(--timeline-line-size));
    position: absolute;

    @include media-breakpoint-up(lg) {
      left: calc(-1 * calc(2 * var(--timeline-line-size)));
    }
  }

  &::after {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: var(--color-timeline-background);
    content: '';
    display: block;
    transition: width var(--timeline-animation-step-2-duration) var(--timeline-animation-timing-function)
      var(--timeline-animation-step-1-duration);

    @include media-breakpoint-up(lg) {
      right: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    order: 2;
  }
}

.timeline__entry-line {
  position: relative;
  background-color: var(--color-timeline-line);

  &::after {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-color: var(--color-timeline-background);
    transition: height var(--timeline-animation-step-3-duration) var(--timeline-animation-timing-function)
      calc(
        var(--timeline-animation-step-1-duration) + var(--timeline-animation-step-2-duration) +
          var(--timeline-animation-step-3-duration) * var(--timeline-line-position)
      );
  }
}

.timeline__entry-line,
.timeline__line-end {
  width: var(--timeline-line-size);
  flex-shrink: 0;

  @include media-breakpoint-up(lg) {
    margin-left: calc(var(--timeline-line-width-lg) + calc(var(--timeline-line-size)));
  }
}

.timeline__entry-container {
  display: flex;
  width: 100%;

  &:nth-child(2) {
    .timeline__entry-inner {
      margin-top: spacing(40);
    }
  }
}

.timeline__entry {
  position: relative;
  pointer-events: none;
  display: none;
  justify-content: flex-end;
  transform: translateX(calc(var(--timeline-line-width-lg) + calc(var(--timeline-line-size))));

  .timeline__entry-inner-text {
    text-align: right;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.timeline__entry-inner-line {
  position: relative;
  height: 2px;
  width: spacing(18);
  background-color: var(--color-timeline-line);

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: spacing(4);
    height: spacing(4);
    background-color: var(--color-timeline-dot);
    border-radius: 50%;
    left: spacing($size: 2, $negative: true);
    top: spacing($size: 2, $negative: true);
    box-shadow: 0 0 10px 1px var(--color-timeline-dot);
  }
}

.timeline__entry,
.timeline__entry-spacer {
  opacity: 0;

  pointer-events: none;
  transition: opacity var(--timeline-animation-step-3-duration) var(--timeline-animation-timing-function)
    calc(
      var(--timeline-animation-step-1-duration) + var(--timeline-animation-step-2-duration) +
        var(--timeline-animation-step-3-duration) * var(--timeline-line-position)
    );

  @include media-breakpoint-up(lg) {
    width: calc(50% - calc(var(--timeline-line-size) / 2));
  }
}

.timeline__entry-inner {
  width: 100%;
  display: inline-flex;
  margin: spacing(5) 0 spacing(40);
  align-items: center;
  justify-content: flex-end;
}

.timeline__entry-inner-text {
  @include font-style($style: 'font-size-2', $weight: 'light');

  border: 1px solid var(--color-timeline-line);
  border-radius: 4px;
  padding: spacing(4) spacing(6);
  min-height: spacing(20);
  display: flex;
  align-items: center;
  max-width: 80%;

  @include media-breakpoint-up(lg) {
    max-width: spacing(60);
  }
}

.timeline__entry-spacer {
  .timeline__entry-inner {
    justify-content: flex-start;
  }

  .timeline__entry-inner-text {
    order: 2;
  }

  .timeline__entry-inner-line {
    order: 1;

    &::before {
      left: auto;
      right: spacing($size: 2, $negative: true);
    }
  }
}
