.toggle-switch {
  .toggle-switch__text {
    @include font-style($style: 'font-size-1', $line: 'thin');
  }
  .toggle-switch__text--right {
    text-align: right;
  }

  .toggle-switch__text--left {
    text-align: left;
  }
}

.toggle-switch__on {
  display: none;
}
