.video-frame.video-frame--has-video:hover {
  cursor: pointer;

  .video-frame__player-icon {
    transform: scale(1.1);
    color: var(--color-primary-accent);
  }
}

.video-frame {
  display: inline-block;

  &.video-frame--played {
    pointer-events: none;

    + .video-frame__corner-img:not(.video-frame__corner-img--top-overflow),
    .video-frame__headline-container {
      display: none;
    }

    .video-frame__player-icon {
      animation: scaleOut 0.4s ease-in-out forwards;
    }

    .video-frame__target {
      pointer-events: all;
    }
  }

  &:not(.video-frame--played) {
    + .video-frame__corner-img {
      &:not(.video-frame__corner-img--top-overflow) {
        bottom: 0;
        right: 0;
        width: 23%;
      }
    }
  }

  &.video-frame--has-video {
    .video-frame__play-wrapper {
      display: inline-block;
    }
  }

  &.video-frame--container {
    width: 100%;
  }

  &.video-frame--full-width {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .video-frame__headline-container {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      position: absolute;
      top: 25%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    .video-frame__headline {
      @include font-style($style: 'h2-font-size', $weight: 'bold', $line: 'thin');

      filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.35));

      color: var(--video-frame-headline-color);
    }
  }
}

.video-frame__player,
.video-frame {
  position: relative;
}

.video-frame__target {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-frame__play-wrapper {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-frame__container {
  @include z-index;

  position: relative;

  &.video-frame__container--spacing {
    &:not(.video-frame--top-overflow) {
      @include media-breakpoint-up(xs) {
        margin-top: spacing($size: 25, $negative: true);
      }

      @include media-breakpoint-up(md) {
        margin-top: spacing($size: 25, $negative: true);
      }
    }

    @include media-breakpoint-up(lg) {
      margin-top: spacing($size: 70, $negative: true);
    }
  }

  &.video-frame--top-overflow {
    --video-frame-top-offset: 50%;

    // margin-top: min(var(--video-frame-top-offset), 230px);
    // margin-top: unquote('min(var(--video-frame-top-offset), 240px)');

    .video-frame {
      order: 2;
    }

    .video-frame__corner-img {
      order: 1;
    }

    .video-frame__play-wrapper {
      // margin-top: 20%;
    }

    @include media-breakpoint-up(md) {
      // margin-top: unquote('min(var(--video-frame-top-offset), 290px)');
    }

    @include media-breakpoint-up(lg) {
      // margin-top: 0;

      .video-frame {
        order: 1;
      }

      .video-frame__corner-img {
        order: 2;
      }

      .video-frame__play-wrapper {
        // margin-top: 0;
      }
    }
  }
}

.video-frame__corner-img {
  position: absolute;
  height: auto;

  &.video-frame__corner-img--top-overflow {
    position: relative;

    // position: relative;
    // height: var(--video-frame-top-offset);
    width: 80vw;
    // max-width: 440px;
    // max-height: 238px;
    max-height: 43vw;

    overflow: hidden;
    // margin: spacing(32) 0 0 auto;
    margin: 0 0 0 auto;

    bottom: 0;

    // top: 0;
    right: 0;
    // width: 60%;
    // height: auto;
    z-index: -1;
    // transform: translateY(calc(-1 * var(--video-frame-top-offset) + 20%)) translateX(0);
    // transform: translateY(-33%);

    @include media-breakpoint-up(sm) {
      width: 80vw;
      max-width: 440px;
      max-height: 238px;
      // width: 65vw;
      // height: 35vw;
      // max-width: none;
      // max-height: none;
      // transform: translateY(-37%);
    }

    // @include media-breakpoint-up(md) {
    // width: 65vw;
    // // height: 35vw;
    // max-width: none;
    // max-width: 530px;
    // max-height: none;
    // transform: translateY(-45%);
    // }

    @include media-breakpoint-up(lg) {
      position: absolute;
      // margin: 0;
      max-width: none;
      max-height: none;
      top: 0;
      bottom: auto;
      right: 0;
      width: 60%;
      height: auto;
      z-index: -1;
      transform: translateY(-61%) translateX(27%);
    }
  }
}
