.video__player-btn:hover,
.video__player.video__player--has-link:hover {
  cursor: pointer;

  .video__player-icon {
    transform: scale(1.1);
    color: var(--color-primary-accent);
  }
}

.video__content:hover {
  &.hover__parent {
    cursor: pointer;
  }
}

.video {
  .video--large {
    img {
      width: 100%;
      //object-fit: fill;
    }
  }


  &.video--post {
    img {
      left: 0;
      max-width: inherit;
    }
  }
}

.video__content {
  background-color: var(--color-black-4);
}

.video__logo {
  text-align: right;
}

.video__player {
  position: relative;
}

.video__player-btn {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  place-content: center;
}
