.video-frame.video-frame--has-video:hover {
  cursor: pointer;

  .video-frame__player-icon {
    transform: scale(1.1);
    color: var(--color-primary-accent);
  }
}

.video-frame {
  display: inline-block;

  &.video-frame--played {
    pointer-events: none;

    .video-frame__corner-img {
      display: none;
    }

    .video-frame__player-icon {
      animation: scaleOut 0.4s ease-in-out forwards;
    }

    .video-frame__target {
      pointer-events: all;
    }
  }

  &:not(.video-frame--played) {
    .video-frame__corner-img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 23%;
      height: auto;
    }
  }

  &.video-frame--has-video {
    .video-frame__play-wrapper {
      display: inline-block;
    }
  }

  &.video-frame--container {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.video-frame__player,
.video-frame {
  position: relative;
}

.video-frame__target {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-frame__play-wrapper {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-frame__container {
  &.video-frame__container--spacing {
    @include media-breakpoint-up(xs) {
      margin-top: spacing($size: 25, $negative: true);
    }

    @include media-breakpoint-up(md) {
      margin-top: spacing($size: 25, $negative: true);
    }

    @include media-breakpoint-up(lg) {
      margin-top: spacing($size: 70, $negative: true);
    }
  }
}
