$page-detail-transition-1-delay: 0.9s;
$page-detail-transition-2-delay: 1.3s;
$page-detail-transition-3-delay: 1.8s;
$page-detail-image-offset-size: 20;
$page-detail-image-offset-size-double: $page-detail-image-offset-size * 2;
$page-detail-padding-top: 36;
$page-detail-subline-left-spacing: calc(#{$header-floating-inner-padding-x} + ((100vw - var(--container-width)) / 2));
$page-detail-subline-background-color: rgba(255, 255, 255, 0.3);

.page-detail {
  min-height: 100vh;
  position: relative;

  &.page-detail--image {
    .page-detail__description {
      margin-top: spacing($page-detail-image-offset-size);
      padding-top: spacing(6);

      @include media-breakpoint-up(lg) {
        padding-top: 0;
        margin-top: 0;
      }
    }
  }

  &.page-detail--has-back {
    .page-detail__shape,
    .page-detail__start {
      padding-top: spacing(26);

      @include media-breakpoint-up(lg) {
        padding-top: spacing(50);
      }
    }

    .page-detail__back {
      display: inline-flex;
    }

    .page-detail__intro {
      margin-top: 0;
    }
  }

  .loading__shape {
    top: 300px;
  }

  &.is-loading {
    @include media-breakpoint-up(lg) {
      &::before {
        width: 0;
      }

      .page-detail__animation-1,
      .page-detail__animation-2,
      .page-detail__animation-3,
      .cta,
      .page-detail__headline,
      .page-detail__subline {
        opacity: 0;
        transition: none;
        pointer-events: none;
      }
    }
  }

  .page-detail__animation-1,
  .page-detail__headline,
  .page-detail__subline {
    color: var(--color-page-detail-copy);

    @include media-breakpoint-up(lg) {
      transition: opacity 0.4s $page-detail-transition-1-delay $animation-transition;
    }
  }

  .page-detail__animation-2,
  .cta {
    @include media-breakpoint-up(lg) {
      transition: opacity 0.6s $page-detail-transition-2-delay $animation-transition;
    }
  }

  .page-detail__animation-3 {
    @include media-breakpoint-up(lg) {
      transition: opacity 0.6s $page-detail-transition-2-delay $animation-transition;
    }
  }

  &::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--page-detail-color);
    z-index: 0;
    box-shadow: 0px 0px 23px rgba(0, 0, 0, 0.12);

    @include media-breakpoint-up(md) {
      transition: width 0.6s $animation-transition;
      width: get-full-column-width($container: 'md', $columns: 11);
      test: get-container-width('lg', false);
    }

    @include media-breakpoint-up(lg) {
      width: get-full-column-width($container: 'lg', $columns: 5, $with-padding: false);
      test: get-container-width('lg', true);
    }
  }
}

.page-detail__description {
  @include font-style($style: 'font-size-2', $line: 'wide');

  margin-bottom: spacing(20);

  &:not(.has-no-border) {
    border-bottom: 1px solid var(--color-page-detail-border);
  }

  > p:first-of-type {
    @include font-style($style: 'font-size-3', $weight: 'light');
  }

  > h1:first-child,
  > h2:first-child,
  > h1:first-child + h2 {
    display: none;
  }

  h2 {
    @include font-style($style: 'h3-font-size', $weight: 'light');

    margin-bottom: spacing(4);
  }
}

.page-detail__start {
  padding-top: spacing($page-detail-padding-top);
}

.page-detail__back {
  position: absolute;
  cursor: pointer;
  display: none;
  width: spacing(9);
  height: spacing(9);
  top: spacing($size: 18, $negative: true);

  .icon {
    width: 100%;
    height: 100%;
  }

  @include media-breakpoint-up(lg) {
    top: spacing($size: 24, $negative: true);
  }
}

.page-detail__content {
  margin-bottom: spacing(10);
  margin-top: spacing(16);
  padding-top: spacing(8);
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: calc(100% + #{spacing(10)});
    width: 101vw;
    background-color: var(--color-white);
    z-index: -1;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
    padding-top: 0;

    &::before {
      display: none;
    }
  }
}

.page-detail__intro {
  @include media-breakpoint-up(lg) {
    margin-top: -56px;
    padding-bottom: spacing(10);
  }
}

.page-detail__img {
  margin-top: spacing(8);
  margin-bottom: spacing($size: $page-detail-image-offset-size-double, $negative: true);

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.page-detail__shape {
  position: absolute;
  left: 0;
  height: 100%;
  overflow: hidden;
  padding-top: spacing($page-detail-padding-top);

  @include media-breakpoint-up(lg) {
    width: get-full-column-width($container: 'lg', $columns: 5);
  }
}

.page-detail__shape-corner {
  position: relative;
  padding-bottom: 5px;

  &::after {
    content: '';
    display: block;
    height: calc(100% + 6px);
    width: 100%;
    position: absolute;
    top: calc(100% - 4px);
    background-color: var(--color-page-detail-shape);
  }
}

.page-detail__shape-background {
  position: relative;
  height: 100%;
  background-color: var(--color-page-detail-shape);
  width: 100%;
}

.page-detail__shape-spacer {
  pointer-events: none;
  opacity: 0;
  padding-left: spacing(8);
  margin-right: 30px;
  margin-left: calc((100vw - var(--container-width)) / 2);
  margin-bottom: spacing(50);
}

.page-detail__sticky-start {
  @include media-breakpoint-up(lg) {
    min-height: 200px;
  }
}

.page-detail__badge {
  margin-bottom: spacing(10);
}

.page-detail__subline {
  &.page-detail__subline--overlapped {
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 0;

    @include media-breakpoint-up(md) {
      // width: calc(
      //   #{get-full-column-width($container: 'md', $columns: 11)} - (#{$page-detail-subline-left-spacing} + 53px)
      // );
      width: 100%;
    }

    @include media-breakpoint-up(lg) {
      // width: calc(
      //   #{get-full-column-width($container: 'lg', $columns: 5)} - (#{$page-detail-subline-left-spacing} + 13px)
      // );
    }
  }
}

.page-detail__img-wrapper {
  position: relative;
}

.page-detail__subline-background {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  background-color: $page-detail-subline-background-color;
  width: 100%;
  height: 100%;
  z-index: -1;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: spacing(8);
    background-color: $page-detail-subline-background-color;
  }

  &::before {
    transform: translateX(-100%);
    left: 0;
  }

  &::after {
    right: 0;
    transform: translateX(100%);
  }
}

.page-detail__subline-foreground {
  position: relative;
  z-index: 1;
  margin: spacing(2) spacing(4) spacing(2) 0;
}

.page-detail__moment {
  + .page-detail__time {
    &::before {
      content: '|';
      display: inline-block;
      padding: 0 spacing(1);
    }
  }
}

.page-detail__details {
  color: var(--color-page-detail-details);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}
