{%
  include get-posts-data.html
%}

{% assign paginatorPosts = getPostsData %}

{{ paginatorPosts | size }}##########

{%- assign paginator_page = paginator.page %}
{%- assign paginator_total_pages = paginator.total_pages %}
{%- assign paginator_previous_page = paginator.previous_page %}
{%- assign paginator_previous_page_path = paginator.previous_page_path %}
{%- assign paginator_next_page = paginator.next_page %}
{%- assign paginator_next_page_path = paginator.next_page_path %}
{%- assign blogNewsTitle = include.newsTitle -%}

<div class="container space-bottom-2 space-bottom-lg-3">
  <div class="row justify-content-lg-between align-items-lg-center mb-7">
    <div class="col-lg-12 mb-5 mb-lg-0">
      {%
        include tags.html
        all=true
      %}
    </div>

    {% comment %}
      search is currently not used
      <div class="col-lg-4">
        <!-- Input -->
        <form class="input-group input-group-sm input-group-merge input-group-flush">
          <input type="search" class="form-control" placeholder="Search articles" aria-label="Search articles" aria-describedby="searchLabel">
          <div class="input-group-append">
            <div class="input-group-text" id="searchLabel">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </form>
        <!-- End Input -->
      </div>
    {% endcomment %}
  </div>

  {% assign firstUrl = '' %}

  {%
    include get-posts-data.html
    getSite=true
  %}

  {% assign posts = site.posts | where_exp:"item","item.lang == page.lang" %}

  §§§{{ posts | size }}###

  {% assign posts = getPostsData %}


  ---{{ posts | size }}###


  {% for post in posts limit:1 %}
    {% assign firstUrl = post.url %}
    {% capture imgUrl %}{{ site.blog_image_path }}{{ post.blogtitlepic }}{% endcapture %}
    {%
      include card.html
      title=post.title
      blogtitlepic=imgUrl
      excerpt=post.excerpt
      date=post.date
      url=post.url
      author=post.author
      large=true
      hasAnimation=true
    %}
  {% endfor %}

  {% if paginatorPosts %}
  <!-- Title -->
  <div class="row mb-5 utility-animation fade-in-bottom" data-utility-animation-step="1">
    <div class="col-12">
      <h2 class="h3 mb-0">{{ blogNewsTitle }}</h2>
    </div>
  </div>
  <!-- End Title -->
  {% endif %}

  <div class="row mb-3">
    {% for post in paginatorPosts %}
      {% if post.url != firstUrl %}
        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-8">
          {% capture imgUrl %}{{ site.blog_image_path }}{{ post.blogtitlepic }}{% endcapture %}
          {%
            include card.html
            title=post.title
            blogtitlepic=imgUrl
            excerpt=post.excerpt
            date=post.date
            url=post.url
            author=post.author
            hasAnimation=true
            index=forloop.index
          %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {%
    include pagination.html
    page=paginator_page
    total_pages=paginator_total_pages
    previous_page=paginator_previous_page
    previous_page_path=paginator_previous_page_path
    next_page=paginator_next_page
    next_page_path=paginator_next_page_path
  %}
</div>
