{%
  include get-posts-data.html
%}

{% assign paginatorPosts = getPostsData %}
{% assign blogMaxBlogPosts = site.maxBlogPosts | plus: 1 %}

{%- assign paginator_page = paginator.page %}
{%- assign paginator_total_pages = paginator.total_pages %}
{%- assign paginator_previous_page = paginator.previous_page %}
{%- assign paginator_previous_page_path = paginator.previous_page_path %}
{%- assign paginator_next_page = paginator.next_page %}
{%- assign paginator_next_page_path = paginator.next_page_path %}
{%- assign blogNewsTitle = include.newsTitle -%}

<div class="container space-bottom-2 space-bottom-lg-3">
  <div class="row justify-content-lg-between align-items-lg-center mb-7">
    {% comment %}
      search is currently not used
      <div class="col-lg-4">
        <!-- Input -->
        <form class="input-group input-group-sm input-group-merge input-group-flush">
          <input type="search" class="form-control" placeholder="Search articles" aria-label="Search articles" aria-describedby="searchLabel">
          <div class="input-group-append">
            <div class="input-group-text" id="searchLabel">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </form>
        <!-- End Input -->
      </div>
    {% endcomment %}
  </div>

  {% assign firstUrl = '' %}

  {%
    include get-posts-data.html
    getSite=true
  %}

  {% assign posts = getPostsData %}

  {% for post in posts limit:1 %}
    {% assign firstUrl = post.url %}
    {% assign postExternalLanguage = null %}

    {% if post.lang != page.lang %}
      {% assign postExternalLanguage = site.data.lang[post.lang].onlyLanguage %}
    {% endif %}

    {% capture imgUrl %}{{ site.blog_image_path }}{{ post.blogtitlepic }}{% endcapture %}
    {%
      include card.html
      title=post.title
      blogtitlepic=imgUrl
      excerpt=post.excerpt
      date=post.date
      url=post.url
      author=post.author
      large=true
      hasAnimation=true
      externalLanguage=postExternalLanguage
      spacing="mt-n48"
    %}
  {% endfor %}

  {%
    include filter-bar.html
    items=paginatorPosts
    title=blogNewsTitle
    maxBlogPosts=blogMaxBlogPosts
  %}

  <div style="display: none" class="col-lg-12 mb-5 mb-lg-0">
    REMOVE ME
    {%
      include tags.html
      all=true
    %}
  </div>

  {% if paginatorPosts %}
    <!-- Title -->
    <div class="row mb-5 utility-animation fade-in-bottom" data-utility-animation-step="1">
      <div class="col-12">
        <headline level="h3" classes="h2-font-size mb-0">
          {{ blogNewsTitle }}
        </headline>
      </div>
    </div>
    <!-- End Title -->
  {% endif %}

  <div class="row mb-3 utility-animation__group">
    {% for post in paginatorPosts limit: blogMaxBlogPosts %}
      {% if post.url != firstUrl %}
        {% assign postExternalLanguage = null %}

        {% if post.lang != page.lang %}
          {% assign postExternalLanguage = site.data.lang[post.lang].onlyLanguage %}
        {% endif %}

        <div class="col-sm-6 col-lg-4 mb-3 mb-sm-8">
          {% capture imgUrl %}{{ site.blog_image_path }}{{ post.blogtitlepic }}{% endcapture %}
          {%
            include card.html
            title=post.title
            blogtitlepic=imgUrl
            excerpt=post.excerpt
            date=post.date
            url=post.url
            author=post.author
            hasAnimation=true
            index=forloop.index
            externalLanguage=postExternalLanguage
            store=true
          %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {%
    include pagination.html
    page=paginator_page
    total_pages=paginator_total_pages
    previous_page=paginator_previous_page
    previous_page_path=paginator_previous_page_path
    next_page=paginator_next_page
    next_page_path=paginator_next_page_path
  %}
</div>
