{%- assign blogRecentSlider = include.slider -%}
{%- assign blogRecentReversed = include.reversed -%}
{%- assign blogRecentTag = include.tag -%}
{%- assign blogRecentHeadline = include.headline -%}
{%- assign blogRecentHeadlineLevel = include.level -%}
{%- assign blogRecentLimit = include.limit | default: 3 -%}
{%- assign blogRecentLimitEvents = include.limitEvents | default: blogRecentLimit -%}
{%- assign blogRecentBgColor = include.bgColor | default: 'var(--color-blue-light)' -%}
{%- assign blogRecentEvents = include.events -%}
{%- assign blogRecentCombine = include.combine -%}
{%- assign blogRecentCta = include.cta -%}

{%- if blogRecentCombine -%}
  {%- assign blogRecentEvents = true -%}
{%- endif -%}

{%- if blogRecentSlider -%}
  {%- assign skin = 'has-slider' -%}
  {%- assign containerClasses = 'js-slick-carousel' -%}
  {%- assign itemClasses = 'mb-6 mb-lg-0 blog-recent__slide' -%}
  {%- assign hideContainer = false -%}
{%- else -%}
  {%- assign skin = '' -%}
  {%- assign containerClasses = 'row mb-3' -%}
  {%- assign itemClasses = 'col-sm-6 col-lg-4 mb-3 mb-sm-8' -%}
  {%- assign hideContainer = include.hideContainer | default: false -%}
{%- endif -%}

{%- if blogRecentEvents -%}
  {% assign events = site.events | where_exp:"item","item.lang == page.lang" | sort: 'date' %}

  {% unless blogRecentReversed %}
    {% assign events = events | reverse %}
  {% endunless %}

  {% assign events = events | where_exp:"item","item.webcast == true" %}
  {% assign events = events | where_exp:"item","item.hideInRecent != true" | slice: 0, blogRecentLimitEvents %}
{%- endif -%}

{%- if blogRecentCombine -%}
  {% assign posts = site.posts | where_exp:"item","item.lang == page.lang" %}
  {% assign posts = posts | concat: events %}
  {% assign posts = posts | sort: 'date' %}

  {% unless blogRecentReversed %}
    {% assign posts = posts | reverse %}
  {% endunless %}
{%- else -%}
  {% if blogRecentEvents %}
    {% assign posts = events %}
  {% else %}
    {% assign posts = site.posts | where_exp:"item","item.lang == page.lang" %}
  {% endif %}
{%- endif -%}

{% if blogRecentTag %}
  {% assign tagExpression = '' %}

  {% for tag in blogRecentTag %}
    {% capture tagExpression %}{{ tagExpression }}item.tags contains '{{ tag }}'{% unless forloop.last %} or {% endunless %}{% endcapture %}
  {% endfor %}

  {% assign posts = posts | where_exp: "item", tagExpression %}
{% endif %}


{%- capture postsString -%}[
    {%- for post in posts -%}
      {
        "url": "{{ post.url }}",
        "youtubeUrl": "{{ post.youtubeUrl }}",
        "layout": "{{ post.layout }}",
        "title": "{{ post.title }}",
        "date": "{{ post.date }}",
        "author": {{ post.author | jsonify }},
        "categories": {{ post.categories | jsonify }},
        "tags": {{ post.tags | jsonify }},
        "blogtitlepic": "{{ post.blogtitlepic }}",
        "socialimg": "{{ post.socialimg }}",
        "excerpt": "{{ post.excerpt }}"
      }{% unless forloop.last %},{% endunless -%}
    {% endfor %}
  ]
{%- endcapture %}

<blog-recent
  slider="{{ blogRecentSlider }}"
  hide-container="{{ blogRecentHideContainer }}"
  bg-color="{{ blogRecentBgColor }}"
  headline="{{ blogRecentHeadline }}"
  :posts="{{ postsString | jsonify | escape }}"
  limit="{{ blogRecentLimit }}"
  img-url="{{ site.blog_image_path }}"
  cta="{{ blogRecentCta | jsonify | escape}}"
></blog-recent>
