<!-- Shared Contact Section -->
{%- assign contactInfos = include.infos -%}
{%- assign contactCollapsed = include.collapsed -%}
{%- assign contactAjax = include.ajax -%}
{%- assign contactQuote = include.quote | default: false -%}
{%- assign contactSpacing = include.spacing -%}

{%- if contactInfos -%}
  {%- assign contact = contactInfos -%}
{%- else -%}
  {%- if page.contact == 'form-long' -%}
    {%- assign contact = site.data.contact.form-long  -%}
  {%- else -%}
    {%- if page.contact == 'form-short' -%}
      {%- assign contact = site.data.contact.form-short  -%}
    {%- else -%}
      {%- if page.lang == 'en' -%}
        {%- assign contact = site.data.contact.infosEn -%}
      {%- else -%}
        {%- assign contact = site.data.contact.infos -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endif -%}

{%- assign contactLight = contact.light -%}

{%- assign contactDetails = contactInfos.person.details -%}

{%- if contact.svgShape -%}
  {%- assign contactVariantClass = 'contact--has-shape' -%}

  {% include svg-shape.html
    align=contact.svgShape.align
    peak=contact.svgShape.peak
    spacing="mt-8 mt-lg-10"
    color="var(--color-bg-grey)"
  %}
{%- else -%}
  {%- assign contactVariantClass = '' -%}
{%- endif -%}

{%- if contactQuote -%}
  {%- assign contactVariantClass = 'contact--quote' -%}
{%- endif -%}

{%- if contactLight -%}
    {%- assign contactLight = 'contact__person--light' -%}
{%- endif -%}

{%- if contactCollapsed -%}
  {%- assign contactVariantClass = contactVariantClass | append: 'is-collapsed' -%}
  {%- assign contactOffsetClass = '' -%}
  {%- assign contactContainerClass = '' -%}
  {%- assign contactRowClass = '' -%}
  {%- assign contactFormClass = '' -%}
  {%- assign contactBoxClass = '' -%}
{%- else -%}
  {%- assign contactOffsetClass = 'offset-lg-1 ' -%}
  {%- assign contactContainerClass = 'container pt-8 pt-lg-10' -%}
  {%- assign contactRowClass = 'row justify-content-center' -%}
  {%- assign contactFormClass = 'col-md-10 col-lg-6 order-1' -%}
  {%- capture contactBoxClass %}col-md-10 col-lg-5 {{ contactOffsetClass }} order-2{% endcapture -%}
{%- endif -%}

<div class="contact {{ contactVariantClass }} {% unless page.contactNoTopSpacing or contact.svgShape or contactCollapsed %} {{ contactSpacing }} {% endunless %}{% if contact.hasGreyBackground %} bg-grey{% else %} {% endif %} {% unless contactCollapsed %}space-bottom-2{% endunless %}">
  <div class="{{ contactContainerClass }}">
    <div class="{{ contactRowClass }}">
      <div class="contact__form {{ contactFormClass }}">
        {%- capture contactHeadlineClasses %}{{ contact.headlineClasses }} contact__healdine{% endcapture -%}
        {%
          include headline.html
          level=contact.level
          text=contact.headline
          classes=contactHeadlineClasses
        %}
        <span class="contact__subline font-weight-bold font-size-2">{{ contact.subline }}</span>
        {% if contact.form %}
          {%
            include form.html
            form=contact.form
            ajax=contactAjax
            uncentered='false'
          %}
        {% endif %}

        {% if contact.buttons %}
          <div class="pt-4 pt-lg-6 pb-6">
            {%
              include cta-list.html
              list=contact.buttons
            %}
          </div>
        {% endif %}
      </div>

      <div class="contact__box {{ contactBoxClass }} {{ contactBoxQuoteClass }}">
        <div class="contact__person {{ contactLight }}">
          {% if contactQuote %}
            <div class="contact__person-quote">
              <div class="contact__icon">
                {%
                  include icon.html
                  icon="quotes"
                %}
              </div>
              <div class="contact__image-quote">
                <div class="contact__image-spacer">
                  {%
                    include img.html
                    img=contact.person.image
                    cloudinary=contact.person.cloudinary
                    alt=contact.person.alt
                  %}
                </div>
              </div>
              <div class="contact__quote font-size-3 middle font-weight-light">{{ contact.person.quote }}</div>
              <div class="d-flex flex-column">
                <span class="">{{ contact.person.quotee }}</span>
                <span class="font-weight-light">{{ contact.person.quoteeTitle }}</span>
              </div>
            </div>
          {% else %}
            <div class="contact__image">
              {%
                include img.html
                img=contact.person.image
                cloudinary=contact.person.cloudinary
                alt=contact.person.alt
              %}
            </div>
            <div class="contact__name font-size-4 my-6 mx-5">{{ contact.person.name }}</div>
            <div class="contact__details font-size-2 position-relative py-2 d-flex align-items-center flex-wrap">
              {% for detail in contactDetails %}
                <div class="contact__detail w-100 px-5 d-flex align-items-center {% unless forloop.last %}mb-3 mb-lg-4{% endunless %}">
                  <a href="{{ detail.href }}" class="custom"><span class="streamline-sm mr-4">{% if detail.icon == 'site/mail' %}{% siteicons "site/mail" %}{% else %}{% siteicons "site/phone" %}{% endif %}</span>{{ detail.text }}</a>
                  {% if detail.notes %}
                    <div class="contact__notes">
                      <span class="contact__notes-spacing streamline-sm mr-4">{% if detail.icon == 'site/mail' %}{% siteicons "site/mail" %}{% else %}{% siteicons "site/phone" %}{% endif %}</span>
                      {{ detail.notes }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}

              {% if contact.person.number %}
                <div class="contact__number w-100 px-5 d-flex align-items-center mb-3 mb-lg-4"><a href="tel:{{ contact.person.number }}" class="custom"><span class="streamline-sm mr-4">{% siteicons "site/phone" %}</span>{{ contact.person.number }}</a></div>
              {% endif %}
              {% if contact.person.mail %}
                <div class="contact__mail w-100 px-5 d-flex align-items-center"><a href="mailto:{{ contact.person.mail }}" class="custom"><span class="streamline-sm mr-4">{% siteicons "site/mail" %}</span>{{ contact.person.mail }}</a></div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        {% if contactQuote %}
          <div class="contact__detail-quote">
            {%
              include headline.html
              text=contactInfos.person.detailsHeader
              level="h4"
              classes="contact__detail-headline"
            %}

            {% for detail in contactDetails %}
              <div class="contact__detail font-size-2 w-100 d-flex align-items-center {% unless forloop.last %}mb-3 mb-lg-4{% endunless %}">
                <a href="{{ detail.href }}" class="custom"><span class="streamline-sm mr-4">{% if detail.icon == 'site/mail' %}{% siteicons "site/mail" %}{% else %}{% siteicons "site/phone" %}{% endif %}</span>{{ detail.text }}</a>
                {% if detail.notes %}
                  <div class="contact__notes">
                    <span class="contact__notes-spacing streamline-sm mr-4">{% if detail.icon == 'site/mail' %}{% siteicons "site/mail" %}{% else %}{% siteicons "site/phone" %}{% endif %}</span>
                    {{ detail.notes }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- End Shared Contact Section -->
