{% comment %}
                                      NOTICE ! There is a static version of this file in static-templates.js so if you update this file update the static version as well ! NOTICE
{% endcomment %}
<!-- Shared Cta Section -->
{% assign ctaText = include.text %}
{% assign ctaAnalytics = include.analytics %}
{% assign ctaLink = include.link | default: false %}
{% assign ctaSkin = include.skin %}
{% assign ctaWidth = include.width %}
{% assign ctaGrow = include.grow | default: false %}
{% assign ctaHref = include.href %}
{% assign ctaTarget = include.target %}
{% assign ctaButton = include.button | default: false %}
{% assign ctaAlternativeHref = include.alternativeHref %}
{% assign ctaType = include.type %}
{% assign ctaTrigger = include.trigger %}
{%- assign ctaExternal = include.external -%}

{% capture ctaIconBox %}
  {% if ctaLink or ctaExternal %}
    {% if ctaLink %}
      {% assign ctaIcon = 'arrow' %}
    {% else %}
      {% assign ctaIcon = 'arrow-external' %}
      {% assign ctaTarget = '_blank' %}
    {% endif %}
    {%
      include icon.html
      icon=ctaIcon
    %}
  {% endif %}
{% endcapture %}

<cta
      text="{{ ctaText }}"
      analytics="{{ ctaAnalytics }}"
      :link={{ ctaLink }}
      skin="{{ ctaSkin }}"
      width="{{ ctaWidth }}"
      :grow={{ ctaGrow }}
      href="{{ ctaHref }}"
      target="{{ ctaTarget }}"
      :button={{ ctaButton }}
      alternative-href="{{ ctaAlternativeHref }}"
      type="{{ ctaType }}"
      trigger="{{ ctaTrigger }}"
      external="{{ ctaExternal }}"
>
  {{ ctaIconBox }}
</cta>
<!-- End Shared Cta Section -->
