<!-- Shared Cta Section -->
{% assign ctaText = include.text %}
{% assign ctaAnalytics = include.analytics | default: false %}
{% assign ctaLink = include.link %}
{% assign ctaSkin = include.skin %}
{% assign ctaWidth = include.width %}
{% assign ctaGrow = include.grow %}
{% assign ctaHref = include.href %}
{% assign ctaTarget = include.target %}
{% assign ctaButton = include.button %}
{% assign ctaAlternativeHref = include.alternativeHref %}
{% assign ctaType = include.type %}
{% assign ctaTrigger = include.trigger %}

{%- if ctaAnalytics -%}
  {%- capture analytics -%}data-analytics="{{ ctaAnalytics }}"{%- endcapture -%}
{%- else -%}
  {%- assign analytics = '' -%}
{%- endif -%}

{% if ctaLink %}
  {% capture innerSkin %}{% if ctaSkin %}{{ ctaSkin }}{% endif %}{% endcapture %}
  {% assign baseClass = "link" %}
{% else %}
  {% capture ctaInnerWidth %}{% if ctaWidth %}{{ ctaWidth }}{% else %}w-100{% unless ctaGrow == true %} w-lg-auto{% endunless %}{% endif %}{% endcapture %}
  {% capture innerSkin %}{% if ctaSkin %}btn-{{ ctaSkin }}{% else %}btn-primary{% endif %}{% endcapture %}
  {% capture baseClass %}btn {{ ctaInnerWidth }}{% endcapture %}
{% endif %}
{% if ctaButton %}
  <button class="cta {{ baseClass }} {{ innerSkin }}" role="button" type="{{ ctaType }}" data-text="{{ ctaText }}" {{ analytics }} {% if ctaTrigger %}data-trigger="{{ ctaTrigger }}"{% endif %}>
    {{ ctaText }}
  </button>
{% else %}
  <a class="cta {{ baseClass }} {{ innerSkin }}"
    role="button"
    href="{{ ctaHref }}"
    data-text="{{ ctaText }}"
    {{ analytics }}
    {% if ctaTarget %}target="{{ ctaTarget }}"{% endif %}
    {% if ctaAlternativeHref %}data-alternative-href="{{ ctaAlternativeHref }}"{% endif %}
  >
    {{ ctaText }}

    {% if ctaLink %}
      {%
        include icon.html
        icon='arrow'
      %}
    {% endif %}
  </a>
{% endif %}
<!-- End Shared Cta Section -->
