{%- assign lang = page.lang | default: 'de' -%}

{%- assign eventId = include.id -%}

{% if eventId %}
  {% capture eventExpression %}item.eventid contains '{{ eventId }}'{% endcapture %}
  {% assign events = site.events | where_exp: "item", eventExpression %}
  {% assign event = events[0] %}

  {%- assign eventTeaserHeadline = event.headline -%}
  {%- assign eventTeaserContent = event.content -%}
  {%- assign eventTeaserMoment = event.moment -%}
  {%- assign eventTeaserTime = event.time -%}
  {%- assign eventTeaserShapes = include.shapes | default: event.shapes -%}
  {%- assign eventTeaserAuthor = event.author -%}
  {%- assign eventTeaserImage = event.image -%}
  {%- assign eventTeaserBadge = include.badge | default: event.badge -%}
  {%- assign eventTeaserPrice = event.price -%}
  {%- assign eventTeaserCta = event.cta -%}
  {%- assign eventTeaserVariant = event.variant | default: '12 event-teaser--size-full' %}
  {%- assign eventTeaserWebcast = event.webcast -%}
  {%- assign eventTeaserTeaser = event.teaser -%}
  {%- assign eventTeaserUrl = event.url -%}
  {%- assign eventTeaserIndex = event.index -%}
{% else %}
  {%- if include.json -%}
    {%- assign eventTeaserHeadline = include.json.headline -%}
    {%- assign eventTeaserContent = include.json.content -%}
    {%- assign eventTeaserMoment = include.json.moment -%}
    {%- assign eventTeaserTime = include.json.time -%}
    {%- assign eventTeaserShapes = include.json.shapes -%}
    {%- assign eventTeaserAuthor = include.json.author -%}
    {%- assign eventTeaserImage = include.json.image -%}
    {%- assign eventTeaserBadge = include.json.badge -%}
    {%- assign eventTeaserPrice = include.json.price -%}
    {%- assign eventTeaserCta = include.json.cta -%}
    {%- assign eventTeaserVariant = include.json.variant | default: '4' -%}
    {%- assign eventTeaserWebcast = include.json.webcast -%}
    {%- assign eventTeaserTeaser = include.json.teaser -%}
    {%- assign eventTeaserUrl = include.json.url -%}
    {%- assign eventTeaserIndex = include.json.index -%}
  {%- else -%}
    {%- assign eventTeaserHeadline = include.headline -%}
    {%- assign eventTeaserContent = include.content -%}
    {%- assign eventTeaserMoment = include.moment -%}
    {%- assign eventTeaserTime = include.time -%}
    {%- assign eventTeaserShapes = include.shapes -%}
    {%- assign eventTeaserAuthor = include.author -%}
    {%- assign eventTeaserImage = include.image -%}
    {%- assign eventTeaserBadge = include.badge -%}
    {%- assign eventTeaserPrice = include.price -%}
    {%- assign eventTeaserCta = include.cta -%}
    {%- assign eventTeaserVariant = include.variant | default: '4' %}
    {%- assign eventTeaserWebcast = include.webcast -%}
    {%- assign eventTeaserTeaser = include.teaser -%}
    {%- assign eventTeaserUrl = include.url -%}
    {%- assign eventTeaserIndex = include.index -%}
  {%- endif -%}
{% endif %}

{% unless eventTeaserShapes %}
  {% assign eventTeaserImageFullWidth= 'event-teaser--image-full-width' %}
{% endunless %}

{%- assign eventTeaserHref = eventTeaserCta.href | default: eventTeaserUrl -%}

<!-- Shared Event Teaser Section -->
<article class="event-teaser utility-animation fade-in-bottom hover__parent event-teaser--size-{{ eventTeaserVariant }} {{ eventTeaserImageFullWidth }}
              {% if eventTeaserWebcast %}event-teaser--webcast
              {% elsif eventTeaserTeaser %}event-teaser--teaser
              {% else %}event-teaser--training
              {% endif %}"
          onclick="this.querySelector('a').click()"
          data-utility-animation-step="1"
          style="{% if eventTeaserIndex %}--utility-animation-index:{{ eventTeaserIndex }};{% endif %}"
>
  <header class="event-teaser__header">
    <div class="event-teaser__background">
      <div class="event-teaser__shapes is-background">
        {% for eventTeaserShape in eventTeaserShapes %}
          {% if eventTeaserWebcast %}
            {% if eventTeaserShapes.size > 1 %}
              {% if forloop.index == 1 %}
                {% assign eventTeaserShapePeak = eventTeaserShape.peak | default: 'left' %}
                {% assign eventTeaserShapeHeight = eventTeaserShape.height | default: '84' %}
                {% assign eventTeaserShapeWidth = eventTeaserShape.width | default: '100' %}
              {% else %}
                {% assign eventTeaserShapePeak = eventTeaserShape.peak | default: 'right' %}
                {% assign eventTeaserShapeHeight = eventTeaserShape.height | default: '17' %}
                {% assign eventTeaserShapeWidth = eventTeaserShape.width | default: '60' %}
              {% endif %}
            {% else %}
              {% assign eventTeaserShapePeak = eventTeaserShape.peak | default: 'right' %}
              {% assign eventTeaserShapeHeight = eventTeaserShape.height | default: '40' %}

              {% if eventTeaserVariant == 12 %}
                {% assign eventTeaserShapeWidth = eventTeaserShape.width | default: '80' %}
              {% else %}
                {% assign eventTeaserShapeWidth = eventTeaserShape.width | default: '100' %}
              {% endif %}
            {% endif %}
          {% else %}
            {% if forloop.index == 1 %}
              {% assign eventTeaserShapePeak = eventTeaserShape.peak | default: 'right' %}
              {% assign eventTeaserShapeHeight = eventTeaserShape.height | default: '12' %}
              {% assign eventTeaserShapeWidth = eventTeaserShape.width | default: '237' %}
              {% assign eventTeaserShapeObliquity = eventTeaserShape.obliquity | default: '4' %}
            {% else %}
              {% assign eventTeaserShapePeak = eventTeaserShape.peak | default: 'left' %}
              {% assign eventTeaserShapeHeight = eventTeaserShape.height | default: '10' %}
              {% assign eventTeaserShapeWidth = eventTeaserShape.width | default: '80' %}
            {% endif %}
          {% endif %}
          <div class="event-teaser__shape {{ eventTeaserShapePeak }}" {% if eventTeaserShapeWidth %}style="width: {{ eventTeaserShapeWidth }}%;"{% endif %}>
            {%
              include svg-shape.html
              color=eventTeaserShape.color
              peak=eventTeaserShapePeak
              height=eventTeaserShapeHeight
              obliquity=eventTeaserShapeObliquity
            %}
          </div>
        {% endfor %}
      </div>
      <div class="event-teaser__image is-foreground">
        {%
          include img.html
          img=eventTeaserImage.img
          alt=eventTeaserImage.alt
          cloudinary=true
          imgSrcSets=site.data.imgSrcSets.eventTeaser
          lottie=eventTeaserImage.lottie
        %}
      </div>
    </div>
    <div class="event-teaser__foreground">
      <div class="event-teaser__details">
        <div class="event-teaser__badge">
          {%
            include badge.html
            text=eventTeaserBadge.text
            icon=eventTeaserBadge.icon
            color=eventTeaserBadge.color
            textColor=eventTeaserBadge.textColor
          %}
        </div>
        {% if eventTeaserAuthor %}
          <div class="event-teaser__authors font-size-2 thin bold">
            <div class="event-teaser__authors-frame">
              <div class="event-teaser__authors-background"></div>
              <div class="event-teaser__authors-foreground">{{ site.data.lang[lang].withAuthor }} {{ eventTeaserAuthor | join: '</br>& '}}</div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </header>
  <main class="event-teaser__main">
    <div class="event-teaser__details">
      <div class="event-teaser__badge">
        {%
          include badge.html
          text=eventTeaserBadge.text
          icon=eventTeaserBadge.icon
          color=eventTeaserBadge.color
          textColor=eventTeaserBadge.textColor
        %}
      </div>
      {% if eventTeaserMoment or eventTeaserTime %}
        <div class="event-teaser__timing">
          {% if eventTeaserMoment %}<span class="event-teaser__moment font-size-1 bold">{{ eventTeaserMoment }}</span>{% endif %}
          {% if eventTeaserTime %}<span class="event-teaser__time font-size-1">{{ eventTeaserTime }}</span>{% endif %}
        </div>
      {% endif %}
    </div>
    <div class="event-teaser__headline font-size-4">
      {% if eventTeaserWebcast or eventTeaserTeaser %}
      {% else %}
        {% if eventTeaserUrl %}
          <a href="{{ eventTeaserUrl }}">
        {% endif %}
      {% endif %}
      {{ eventTeaserHeadline }}
      {% if eventTeaserWebcast or eventTeaserTeaser %}
      {% else %}
        {% if eventTeaserUrl %}
          </a>
        {% endif %}
      {% endif %}
    </div>
    {% if eventTeaserWebcast or eventTeaserTeaser %}
      <div class="event-teaser__content richtext">{{ eventTeaserContent }}</div>
    {% endif %}
  </main>
  {% if eventTeaserPrice or eventTeaserCta %}
    <footer class="event-teaser__footer">
      {% if eventTeaserPrice %}
        <div class="event-teaser__price font-size-2 bold">
          {{ eventTeaserPrice }}
        </div>
      {% endif %}
      {% if eventTeaserCta %}
        {% assign eventTeaserCtaSkin = eventTeaserCta.skin | default: 'primary' %}
        {% assign eventTeaserCtaWidth = eventTeaserCta.width | default: 'w-100 w-lg-auto' %}

        <div class="event-teaser__cta">
          {%
            include cta.html
            text=eventTeaserCta.text
            href=eventTeaserHref
            skin=eventTeaserCtaSkin
            width=eventTeaserCtaWidth
            external=eventTeaserCta.external
          %}
        </div>
      {% endif %}
    </footer>
  {% endif %}
</article>

<!-- End Shared Event Teaser Section -->
