{%- assign eventTitle = include.title -%}
{%- assign eventDate = include.date -%}
{%- assign eventCategory = include.category -%}
{%- assign eventText = include.text -%}
{%- assign eventBgColor = include.bgColor -%}
{%- assign eventColor = include.color -%}
{%- assign eventImage = include.image -%}
{%- assign eventTime = include.time -%}
{%- assign eventTimeColor = include.timeColor -%}
{%- assign eventUrl = include.url -%}
{%- assign eventClasses = include.classes -%}
{%- assign eventExternal = include.external -%}

{% if eventExternal == true %}
  {% assign eventExternal = true %}
{% else %}
  {% assign eventExternal = false %}
{% endif %}

<!-- Shared Event Section -->
<event
  title="{{ eventTitle }}"
  date="{{ eventDate }}"
  category="{{ eventCategory }}"
  text="{{ eventText }}"
  bg-color="{{ eventBgColor }}"
  color="{{ eventColor }}"
  image="{{ eventImage | jsonify | escape }}"
  time="{{ eventTime }}"
  time-color="{{ eventTimeColor }}"
  classes="{{ eventClasses }}"
  url="{{ eventUrl }}"
  :external="{{ eventExternal }}"
>
</event>
<!-- End Shared Event Section -->
