{%- assign eventListList = include.list -%}
{%- assign eventListOverlap = include.overlap -%}
{%- assign eventListSettings = include.settings -%}
{%- assign eventListSticky = include.sticky -%}

{% comment %}
TODO figure out what happens when the teaser is the last element so the variants are bigger than the list. add only the missing teaser after that
{% endcomment %}

<!-- Shared Event List Section -->
<div class="event-list container {% if eventListOverlap %}event-list--overlap{% endif %} {% if eventListSticky %}is-sticky-scroller{% endif %}">
  <div class="event-list__row row col-lg-12">
    {% assign eventListTeaserIndex = 0 %}
    {% for eventListTeaser in eventListList %}
      {% assign eventListTeaserSetting = eventListSettings[eventListTeaserIndex] %}
      {% assign eventListTeaserVariant = eventListTeaser.variant | default: eventListTeaserSetting.variant %}

      {% if eventListTeaserSetting.teaser %}
        {% assign eventListTeaserIndex = eventListTeaserIndex | plus: 1 %}
        {% assign eventListTeaserData = eventListTeaserSetting.teaser %}
        {%
          include event-teaser.html
          headline=eventListTeaserData.headline
          content=eventListTeaserData.content
          moment=eventListTeaserData.moment
          time=eventListTeaserData.time
          shapes=eventListTeaserData.shapes
          author=eventListTeaserData.author
          image=eventListTeaserData.image
          badge=eventListTeaserData.badge
          price=eventListTeaserData.price
          cta=eventListTeaserData.cta
          variant=eventListTeaserVariant
          webcast=eventListTeaserData.webcast
          teaser=eventListTeaserData.teaser
          url=eventListTeaserData.url
        %}
      {% endif %}

      {% assign eventListTeaserSetting = eventListSettings[eventListTeaserIndex] %}
      {% assign eventListTeaserVariant = eventListTeaser.variant | default: eventListTeaserSetting.variant %}

      {%
        include event-teaser.html
        headline=eventListTeaser.headline
        content=eventListTeaser.content
        moment=eventListTeaser.moment
        time=eventListTeaser.time
        shapes=eventListTeaser.shapes
        author=eventListTeaser.author
        image=eventListTeaser.image
        badge=eventListTeaser.badge
        price=eventListTeaser.price
        cta=eventListTeaser.cta
        variant=eventListTeaserVariant
        webcast=eventListTeaser.webcast
        teaser=eventListTeaser.teaser
        url=eventListTeaser.url
      %}
      {% assign eventListTeaserIndex = eventListTeaserIndex | plus: 1 %}
    {% endfor %}
  </div>
</div>
<!-- End Shared Event List Section -->
