<!-- Shared Fab button Section -->
{% assign fabButtonIcon = include.icon | default: 'phone-mail' %}
{% assign fabButtonModal = include.modal %}
{% assign fabButtonNoSticky = include.noSticky %}
{% assign fabButtonBgColor = include.bgColor %}
{% assign fabButtonIconColor = include.iconColor %}
{% assign fabButtonTrigger = include.trigger %}

<fab-button
  icon="{{ fabButtonIcon }}"
  :modal="{{ fabButtonModal | jsonify | escape }}"
  no-sticky="{{ fabButtonNoSticky }}"
  bg-color="{{ fabButtonBgColor }}"
  icon-color="{{ fabButtonIconColor }}"
  trigger="{{ fabButtonTrigger }}"
>
  <template v-slot:contact>
    {% comment %}
      TODO move contact to vue
    {% endcomment %}
    {%
      include contact.html
      infos=fabButtonModal.contact.infos
      collapsed=true
      ajax=true
    %}
  </template>
</fab-button>
<!-- End Shared Fab Button Section -->


{% comment %}
<div class="fab-button {% unless fabButtonNoSticky %}fab-button--sticky{% endunless %}{% if fabButtonTrigger %} fab-button--has-trigger{% endif %}">
  <div class="fab-button__start"></div>
  <div class="fab-button__wrapper {% unless fabButtonNoSticky %}js-sticky-block{% endunless %}"
    data-hs-sticky-block-options='{
      "parentSelector": ".fab-button",
      "breakpoint": "xs",
      "startPoint": ".fab-button__start",
      "endPoint": "999999",
      "stickyOffsetTop": "0",
      "stickyOffsetBottom": 20
    }'
  >
    {% if fabButtonModal %}
      <div class="fab-button__modal is-off-screen">
        <div class="fab-button__close">
          {%
            include icon.html
            icon='close'
            circle=true
            hover=true
            size='medium'
          %}
        </div>
        {% if fabButtonModal.contact %}
          {%
            include contact.html
            infos=fabButtonModal.contact.infos
            collapsed=true
            ajax=true
          %}
        {% endif %}
      </div>
    {% endif %}
    <div class="fab-button__icon"
        style=" {% if fabButtonBgColor %}--color-fab-background: {{ fabButtonBgColor }};{% endif %}
                {% if fabButtonIconColor %}color: {{ fabButtonIconColor }}{% endif %}"
        {% if fabButtonTrigger %}data-trigger-id="{{ fabButtonTrigger }}"{% endif %}
    >
      {%
        include icon.html
        icon=fabButtonIcon
        size="large"
      %}
    </div>
  </div>
  <div class="fab-button__end"></div>
</div>
{% endcomment %}
<!-- End Shared Fab Button Section -->
