<!-- Shared Fab Section -->
{%- assign fabIcon = include.icon | default: 'phone-mail' -%}
{%- assign fabModal = include.modal -%}

<div class="fab d-inline-block">
  <div class="fab__icon">
    {%
      include icon.html
      icon=fabIcon
      size="large"
    %}
  </div>
  {% if fabModal %}
    <div class="fab__modal">
      {% if fabModal.contact %}
        {%
          include contact.html
          infos=fabModal.contact.infos
          collapsed=true
        %}
      {% endif %}
    </div>
  {% endif %}
</div>
<!-- End Shared Fab Section -->
