<!-- Shared Feature Grid Section -->
{% assign props = include.featureGrid %}

{% assign backgroundColor = props.backgroundColor %}
{% assign headline = props.headline %}
{% assign gridSize = props.gridSize | default: 4 %}
{% assign image = props.image %}
{% assign features = props.features %}
{% assign footer = props.footer %}
{%- assign featureGridCentered = include.centered -%}
{%- assign featureGridHeadlineClasses = props.headlineClasses -%}
{%- assign featureGridOverline = props.overline -%}
{%- assign featureGridOverlineClasses = props.overlineClasses -%}
{%- assign featureGridLightOverline = props.lightOverline -%}
{%- assign featureGridSubline = props.subline -%}
{%- assign featureGridImageWidth = props.imageWidth -%}
{%- assign featureGridOverlinePosition = props.overlinePosition -%}

{% capture columnClass %}
col-lg-{{ 12 | divided_by: gridSize }}
{% endcapture %}

{% if featureGridOverline %}
  {%- assign featureGridHeadlineSpacing = ' ' -%}
{% else %}
  {%- assign featureGridHeadlineSpacing = nil -%}
{% endif %}

<div
  class="feature-grid utility-animation py-7"
  style="background-color:{{ backgroundColor | default: 'var(--color-bg-grey)' }}"
>
  <div class="container {{ include.spacing }}" >
    {% capture featureGridHeadlineRowClasses %}fade-in-bottom {{ featureGridHeadlineClasses }}{% endcapture %}

    {% if featureGridOverline %}
      <div class="col {% if featureGridOverlinePosition %}text-{{ featureGridOverlinePosition }}{% else %}text-right{% endif %}">
        <span class="feature-grid__overline  d-inline-block mb-2 py-1 px-2 {{ featureGridOverlineClasses }}{% if featureGridLightOverline %} is-light-overline{% endif %}">
          {{ featureGridOverline }}
        </span>
      </div>
    {% endif %}

    {%
      include headline-row.html
      text=headline
      centered=true
      classes=featureGridHeadlineRowClasses
      spacing=featureGridHeadlineSpacing
      utilityAnimationStep="1"
      noContainer=true
    %}

    {% if featureGridSubline %}
      <div class="col mt-2 pb-6 {% unless featureGridHeadlineClasses contains 'text-left' %}text-center{% endunless %}">
        <span class="feature-grid__subline font-size-2 ">
          {{ featureGridSubline }}
        </span>
      </div>
    {% endif %}

    {% if image %}
      <figure class="d-flex mt-8 justify-content-center fade-in-bottom" data-utility-animation-step="1">
        {%
          include img.html
          img=image.src
          cloudinary=image.cloudinary
          alt=image.alt
          lottie=image.lottie
        %}
      </figure>
    {% endif %}

    <div class="my-8">
      <div class="d-flex flex-wrap">
        {% for feature in features %}
          <feature-grid-item
            classes="{{ columnClass }}"
            :index="{{ forloop.index }}"
            :item="{{ feature | jsonify | escape }}"
            :centered="{{ featureGridCentered }}"
            image-width="{{ featureGridImageWidth }}"
          >
          </feature-grid-item>
        {% endfor %}
      </div>
    </div>
    {% if footer %}
    <div class="container pb-6">
      {{ footer }}
    </div>
    {% endif %}
  </div>
</div>
<!-- End Shared Feature Grid Section -->
