<!-- Shared Feature Grid Section -->
{% assign props = include.featureGrid %}

{% assign backgroundColor = props.backgroundColor %}
{% assign headline = props.headline %}
{% assign gridSize = props.gridSize | default: 4 %}
{% assign image = props.image %}
{% assign features = props.features %}
{% assign footer = props.footer %}

{% capture columnClass %}
col-lg-{{ 12 | divided_by: gridSize }}
{% endcapture %}

<div
  class="feature-grid utility-animation py-7"
  style="background-color:{{ backgroundColor | default: 'var(--color-bg-grey)' }}"
>
  <div class="container {{ include.spacing }}" >
    {%
      include headline-row.html
      text=headline
      centered=true
      classes="fade-in-bottom"
      utilityAnimationStep="1"
    %}

    {% if image %}
      <figure class="d-flex mt-8 justify-content-center fade-in-bottom" data-utility-animation-step="1">
        {%
          include img.html
          img=image.src
          cloudinary=image.cloudinary
          alt=image.alt
        %}
      </figure>
    {% endif %}

    <div class="my-8">
      <div class="d-flex flex-wrap">
        {% for feature in features %}
          <div class="feature-grid__item {{ columnClass }} mb-3 fade-in-bottom" data-utility-animation-step="1" style="--utility-animation-index:{{ forloop.index }};">
            {%
              include feature-grid-item.html
              featureGridItem=feature
            %}
          </div>
        {% endfor %}
      </div>
    </div>
    {% if footer %}
    <div class="container pb-6">
      {{ footer }}
    </div>
    {% endif %}
  </div>
</div>
<!-- End Shared Feature Grid Section -->
