<!-- Shared Form Section -->
{%- assign formForm = include.form -%}
{%- assign formLight = include.light -%}
{%- assign formAnalytics = include.analytics -%}
{%- assign formSpace = include.space -%}
{%- assign formContainer = include.container -%}
{%- assign formCustomValidation = include.customValidation -%}
{%- assign formAjax = include.ajax -%}
{%- assign formAdditionalFields = include.additionalFields -%}
{%- assign formUncentered = formForm.uncentered -%}
{%- assign formReplaceValue = include.replaceValue -%}
{%- assign formOptions = "" | split: "" -%}
{%- assign formTextStyling = include.textStyle | default: false -%}

{% assign formOptionsText = "{" %}
{% for field in formForm.fields %}
  {% if field.type == 'select' and field.options %}
    {% unless field.options.first %}
      {%- assign options = site.data[field.options].list -%}
      {% capture formOptionsText %}{{ formOptionsText }}"{{ field.options }}":{{ options | jsonify }},{% endcapture %}
    {% endunless %}
  {% endif %}
{% endfor %}

{% if formOptionsText.size > 2 %}
  {% assign formOptionsLength = formOptionsText | size | minus: 1 %}
{% endif %}
{% assign formOptionsText = formOptionsText | slice: 0, formOptionsLength | append : '}' | escape %}

<Formular
  :form="{{ formForm | jsonify | escape }}"
  light="{{ formLight }}"
  analytics="{{ formAnalytics }}"
  space="{{ formSpace }}"
  container="{{ formContainer }}"
  custom-validation="{{ formCustomValidation }}"
  ajax="{{ formAjax }}"
  :additional-fields="{{ formAdditionalFields | jsonify | escape }}"
  uncentered="{{ formUncentered }}"
  replace-value="{{ formReplaceValue }}"
  :options="{{ formOptionsText }}"
  text-style="{{ formTextStyling }}"
></Formular>

<!-- End Shared Form Section -->
