<!-- Shared Form Checkboxes Section -->
{%- assign formCheckboxField = include.field | default: field -%}

<form-checkboxes :field="{{ field  | jsonify | escape }}" />
<!-- End Shared Form Checkboxes Section -->
