<!-- Shared Headline Section -->
{%- assign headlineClasses = include.classes | default: classes -%}
{%- assign headlineLevel = include.level | default: level | default: 'h2' -%}
{%- assign headlineText = include.text | default: text -%}

{%- capture classList %}{{ headlineClasses }} {{ headlineLevel }}-font-size{% endcapture -%}

<{{ headlineLevel }} {% if classList %}class="{{ classList }}"{% endif %}>
  {{ headlineText }}
</{{ headlineLevel }}>
<!-- Shared End Headline Section -->
