<!-- Shared Headline Row Section -->
{%- assign headlineRowCentered = include.centered -%}
{%- assign headlineRowLevel = include.level | default: "h2" -%}
{%- assign headlineRowText = include.text -%}
{%- assign headlineRowSpacing = include.spacing | default: "space-top-3" -%}
{%- assign headlineRowHasAnimation = include.hasAnimation -%}
{%- assign headlineRowClasses = include.classes -%}
{%- assign headlineRowHeadlineClasses = include.headlineClasses -%}

{% capture headlineRowClassesValue %}
  {%- if headlineRowClasses and headlineRowClasses contains "text-" -%}
    {{ headlineRowClasses }}
  {%- else -%}
    {%- if headlineRowCentered -%}text-center{%- endif -%}
  {%- endif -%}
{% endcapture %}

<div class="container {{ headlineRowSpacing }} headline-row {% if headlineRowHasAnimation %}utility-animation{% endif %}">
  <div class="row">
    <div class="col-sm-12 {% if headlineRowHasAnimation %}fade-in-bottom{% endif %} {{ headlineRowClassesValue }}" data-utility-animation-step="1">
      {%
        include headline.html
        level=headlineRowLevel
        text=headlineRowText
        classes=headlineRowHeadlineClasses
      %}
    </div>
  </div>
</div>
<!-- End Shared Headline Row Section -->
