{% comment %}
                                      NOTICE ! There is a static version of this file in static-templates.js so if you update this file update the static version as well ! NOTICE
{% endcomment %}
<!-- Shared Headline Section -->
{%- assign headlineClasses = include.classes | default: classes -%}
{%- assign headlineLevel = include.level | default: level | default: 'h2' -%}
{%- assign headlineText = include.text | default: text -%}

{% if headlineClasses contains 'font-size' %}
  {%- assign headlineLevelClass = '' -%}
{% else %}
  {%- capture headlineLevelClass -%}
    {{ headlineLevel }}-font-size
  {%- endcapture -%}
{% endif %}

{%- capture classList %}{{ headlineClasses }} {{ headlineLevelClass }}{% endcapture -%}

<{{ headlineLevel }} {% if classList %}class="{{ classList }}"{% endif %}>
  {{ headlineText }}
</{{ headlineLevel }}>
<!-- Shared End Headline Section -->
