<!-- Shared Hero Text Image Section -->
{%- assign heroTextImageHero = page.hero | default: include.hero | default: hero -%}
{%- assign heroTextImageVariant = heroTextImageHero.variant | default: '' -%}
{%- assign heroTextImagePattern = heroTextImageHero.pattern | default: false -%}
{%- assign heroTextVideo = heroTextImageHero.video | default: false -%}


{%- assign heroContainerPosition = "justify-content-lg-between" -%}
{%- assign heroSublineStyling = "hero-text-image__subline" %}

{%- if heroTextImageVariant == 'hero--career' -%}
  {% assign heroTextImageCtaTop = false -%}
  {% assign heroTextImageSrcSet = false %}
{%- else if heroTextImageVariant == 'hero--study' -%}
  {% assign heroTextImageCtaTop = false -%}
  {% assign heroTextImageSrcSet = site.data.imgSrcSets.heroStudy %}

{%- else -%}
  {% assign heroTextImageCtaTop = true -%}
  {% assign heroTextImageSrcSet = false %}
{%- endif -%}

{%- if heroTextImageVariant == 'hero--security' -%}
  {% assign heroTextImageCtaTop = true %}
  {% assign heroContainerPosition = "justify-content-lg-center" %}
  {% assign heroSublineStyling = "" %}
{% endif %}
{%- if heroTextImageHero.cta -%}
  {%- capture heroTextImageCta -%}
    <div class="hero-text-image__cta-wrapper">
      {{Test}}
      {%
        include cta.html
        text=heroTextImageHero.cta.text
        href=heroTextImageHero.cta.href
        type=heroTextImageHero.cta.type
        target=heroTextImageHero.cta.target
        link=heroTextImageHero.cta.link
        skin=heroTextImageHero.cta.skin
      %}
    </div>
  {%- endcapture -%}
{%- endif -%}

{%- if heroTextImageHero.cloudinary == false or heroTextImageHero.img contains '.svg' -%}
  {%- assign heroTextImageCloudinary = heroTextImageHero.cloudinary -%}
{%- else -%}
  {%- assign heroTextImageCloudinary = true -%}
{% endif %}

{%- if heroTextImageHero.background.cloudinary == false or heroTextImageHero.background.img contains '.svg' -%}
  {%- assign heroTextImageBackgroundCloudinary = heroTextImageHero.background.cloudinary -%}
{%- else -%}
  {%- assign heroTextImageBackgroundCloudinary = true -%}
{% endif %}

{%- if heroTextImageHero.fullscreen.cloudinary == false or heroTextImageHero.fullscreen.img contains '.svg' -%}
  {%- assign heroTextImageFullscreenCloudinary = heroTextImageHero.fullscreen.cloudinary -%}
{%- else -%}
  {%- assign heroTextImageFullscreenCloudinary = true -%}
{% endif %}

{%- if heroTextImageHero.background -%}
  {%- capture heroClasses -%}hero-text-image__keyvisual {{ heroTextImageHero.background.class }}{%- endcapture -%}
  {%- capture heroImage -%}
    {% if heroTextImageHero.background.img %}
      {%
        include img.html
        img=heroTextImageHero.background.img
        alt=heroTextImageHero.background.alt
        class=heroClasses
        cloudinary=heroTextImageBackgroundCloudinary
        imgSrcSets=heroTextImageSrcSet
      %}
    {% endif %}
  {% endcapture -%}
{%- else -%}
  {%- assign heroClasses = "" -%}
  {%- assign heroImage = "" -%}
{%- endif -%}

{%- if heroTextImageVariant == '' and heroTextImagePattern -%}
  {%- assign heroTextImageVariant = 'hero--pattern' -%}
{%- endif -%}


{% if heroTextImageHero.sublineClass contains 'is-light' or heroTextImageHero.headlineClass contains 'is-light' %}
  {%- assign heroTextImageIsLight = true -%}
{% else %}
  {%- assign heroTextImageIsLight = false -%}
{% endif %}

{% if heroTextImageIsLight %}
  {%- assign heroTextImageIsLightClass = 'is-light' -%}
{% else %}
  {%- assign heroTextImageIsLightClass = '' -%}
{% endif %}

<div class="hero-text-image is-component {{ heroTextImageVariant }} {% if heroTextImageHero.img %}has-content-img{% endif %} position-relative bg-img-hero {% if heroTextImageHero.fullscreen %}is-fullscreen{% endif %}
    {% if heroTextImageHero.light %}text-white{% endif %}"
    style="{% if heroTextImageHero.bgColor %}background-color:{{ heroTextImageHero.bgColor }}{% endif %}"
>
  {% if heroTextImageHero.fullscreen %}
    <div class="hero-text-image__fullscreen position-absolute">
      {%
        include img.html
        img=heroTextImageHero.fullscreen.img
        alt=heroTextImageHero.fullscreen.alt
        cloudinary=heroTextImageFullscreenCloudinary
      %}
    </div>
  {% endif %}
  <div class="container z-index-4">
    <div class="row {{ heroContainerPosition }} align-items-lg-center pt-lg-5 position-relative">
      {% if heroTextImageHero.background %}
        <div class="hero-text-imge__img-spacer col-lg-12 {{ heroTextImageHero.background.spacing }}" >
          {{ heroImage }}
        </div>
      {% endif %}
      <div class="hero-text-image__wrapper col-lg-8 w-100">
        {% if heroTextImageHero.back %}
          <div class="hero-text-image__back back">
            {%
              include icon.html
              icon='arrow'
              direction="left"
              hover=true
              circle=true
            %}
          </div>
        {% endif %}

        {% if heroTextImageHero.video %}
          <video class="hero-text-image__video justify-content-lg-center" autoplay muted disablePictureInPicture controlsList="nodownload">
            <source src="{{ heroTextImageHero.videoLocation }}">
          </video>
        {% endif %}

        {% if heroTextImageHero.overline %}
          <span class="hero-text-image__overline">
            {{ heroTextImageHero.overline }}
          </span>
        {% endif %}
        {% unless heroTextImageHero.animation %}
          <h1 class="hero-text-image__headline {{ heroTextImageIsLightClass }} {{ heroTextImageHero.headlineClass }}">{{ heroTextImageHero.headline }}</h1>
          <p class="{{ heroSublineStyling }} {{ heroTextImageIsLightClass }} {{ heroTextImageHero.sublineClass }} lead">{{ heroTextImageHero.subline }}</p>
        {% endunless %}

        {% if heroTextImageHero.img %}
          <div class="pt-4">
            {%
              include img.html
              img=heroTextImageHero.img
              alt=heroTextImageHero.alt
              class="hero-text-image__img"
              cloudinary=heroTextImageCloudinary
            %}
          </div>
        {% endif %}
        {% if heroTextImageHero.cta and heroTextImageCtaTop == true %}
          <div class="pt-4 {% if heroTextImageHero.video == true %}hero-video__animation text-center justify-content-lg-center {% endif %}">
            {{ heroTextImageCta }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {%- if heroTextImageHero.background -%}
    <div class="hero-text-image__background container position-absolute z-index-2 space-bottom-2 right-0 top-0 {{ heroTextImageHero.background.spacing }}">
      <div class="row">
        <div class="hero-text-image__background-wrapper col-sm-12">
          {{ heroImage }}
        </div>
      </div>
    </div>
  {% elsif heroTextImageHero.background.icon %}
    {% unless heroTextImageHero.animation %}
      <div class="hero-text-image__background has-icon container position-absolute z-index-2 space-bottom-2 top-0 {{ heroTextImageHero.background.spacing }}">
        <div class="row">
          <div class="hero-text-image__background-wrapper col-sm-12">
            <div class="hero-text-image__icon">
              {%
                include icon.html
                icon=heroTextImageHero.background.icon
              %}
            </div>
          </div>
        </div>
      </div>
    {% endunless %}
  {%- endif -%}
  {%- if heroTextImagePattern -%}
    <div class="hero-text-image__pattern position-absolute right-0 top-0 space-top-lg-2">
      <svg width="1393" height="696" viewBox="0 0 1393 696" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M616 13L1194 103L1242 606L636 696L616 13Z" fill="#D1D9DD"/>
        <g filter="url(#filter0_f)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7762 72.1904L42.6441 74.2293L56.4455 97.8893L18.8934 106.099L11.7762 72.1904Z" fill="#D1D9DD"/>
        </g>
        <g filter="url(#filter1_f)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M392.512 537.332L490.251 496.165L459 537L426.691 580.548L392.512 537.332Z" fill="#D1D9DD"/>
        </g>
        <g filter="url(#filter2_f)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1013.26 51.2925L989.911 103.324L987.275 75.8276L984.063 46.8784L1013.26 51.2925Z" fill="#D1D9DD"/>
        </g>
        <g filter="url(#filter3_f)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1264.1 60.4603L1342.54 9.19567L1393.77 77.3657L1332.46 100.181L1264.1 60.4603Z" fill="#D1D9DD"/>
        </g>
        <defs>
        <filter id="filter0_f" x="0.90324" y="61.3173" width="66.4156" height="55.6548" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feGaussianBlur stdDeviation="5.43656" result="effect1_foregroundBlur"></feGaussianBlur>
        </filter>
        <filter id="filter1_f" x="389.793" y="493.447" width="103.176" height="89.8188" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feGaussianBlur stdDeviation="1.35914" result="effect1_foregroundBlur"></feGaussianBlur>
        </filter>
        <filter id="filter2_f" x="975.909" y="38.7236" width="45.5049" height="72.7549" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feGaussianBlur stdDeviation="4.07742" result="effect1_foregroundBlur"></feGaussianBlur>
        </filter>
        <filter id="filter3_f" x="1261.38" y="6.47752" width="135.108" height="96.4219" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
          <feGaussianBlur stdDeviation="1.35914" result="effect1_foregroundBlur"></feGaussianBlur>
        </filter>
        </defs>
        </svg>
    </div>
  {%- endif -%}
  {% if heroTextImageHero.animation %}
    <div class="hero-text-image__animation">
      <div class="container animation">
        <div class="row">
          <div class="hero-text-image__animation-content col-lg-8">
            {%
              include text-animation.html
              sequence=heroTextImageHero.animation.sequence
              fixed=true
              cta=heroTextImageHero.cta
            %}
          </div>
          <div class="hero-text-image__animation-icon col-lg-4">
            <div class="hero-text-image__icon hero-text-image__icon--fixed">
              {%
                include icon.html
                icon=heroTextImageHero.background.icon
                animation=heroTextImageHero.animation
              %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
<!-- Shared End Hero Text Image Section -->
