<!-- Shared Hero Career Section -->
{%- assign headlineClasses = include.classes | default: classes -%}
{%- assign headlineLevel = include.level | default: level | default: 'h2' -%}
{%- assign headlineText = include.text | default: text -%}

<div class="hero-text-image hero--career">
  {%- assign hero = page.hero -%}
  {% if hero.background %}
    {% capture heroClasses %}hero-text-image__keyvisual {{ hero.background.class }}{% endcapture %}
  {% else %}
    {% assign heroClasses = "" %}
  {% endif %}
  <div class="hero-text-image {% if hero.img %}has-content-img{% endif %} position-relative bg-img-hero {% if hero.fullscreen %}is-fullscreen{% endif %}
      {% if hero.light %}text-white{% endif %}"
      style="{% if hero.bgColor %}background-color:{{ hero.bgColor }}{% endif %}"
  >
    {% if hero.fullscreen %}
    <div class="hero-text-image__fullscreen position-absolute">
      {%
        include img.html
        img=hero.fullscreen.img
        alt=hero.fullscreen.alt
        cloudinary=hero.fullscreen.cloudinary
      %}
    </div>
    {% endif %}
    <div class="container z-index-4 position-relative space-bottom-2">
      <div class="row justify-content-lg-between align-items-lg-center pt-lg-5 position-relative">
        {% if hero.background %}
          <div class="hero-text-imge__img-spacer col-lg-12 {{ hero.background.spacing }}" style="height: 700px;">
            <!--{% include img.html img=hero.background.img alt=hero.background.alt class=heroClasses %}-->
          </div>
        {% endif %}
        <div class="hero-text-image__wrapper col-lg-8 space-top-2 space-top-lg-4">
          {% if hero.overline %}
            <span class="hero-text-image__overline d-inline-block mb-2 pl-2 py-1">
              {{ hero.overline }}
            </span>
          {% endif %}
          <h1 class="{{ hero.headlineClass }}">{{ hero.headline }}</h1>
          <p class="lead mt-5">{{ hero.subline }}</p>
          {% if hero.img %}
            <div class="pt-4">
              {% include img.html img=hero.img alt=hero.alt class="hero-text-image__img" cloudinary=hero.cloudinary %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {%- if hero.background -%}
      <div class="hero-text-image__background container position-absolute z-index-2 space-bottom-2 right-0 top-0 {{ hero.background.spacing }}">
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-end">
            {% include img.html img=hero.background.img alt=hero.background.alt class=heroClasses %}
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>

</div>


<!-- Shared End Hero Career Section -->


{% comment %}
{%- assign hero = page.hero -%}
{% if hero.background %}
  {% capture heroClasses %}hero-text-image__keyvisual {{ hero.background.class }}{% endcapture %}
{% else %}
  {% assign heroClasses = "" %}
{% endif %}
<div class="hero-text-image {% if hero.img %}has-content-img{% endif %} position-relative bg-img-hero {% if hero.fullscreen %}is-fullscreen{% endif %}
    {% if hero.light %}text-white{% endif %}"
    style="{% if hero.bgColor %}background-color:{{ hero.bgColor }}{% endif %}"
>
  {% if hero.fullscreen %}
  <div class="hero-text-image__fullscreen position-absolute">
    {%
      include img.html
      img=hero.fullscreen.img
      alt=hero.fullscreen.alt
      cloudinary=hero.fullscreen.cloudinary
    %}
  </div>
  {% endif %}
  <div class="container z-index-4 position-relative space-bottom-2">
    <div class="row justify-content-lg-between align-items-lg-center pt-lg-5 position-relative">
      {% if hero.background %}
        <div class="hero-text-imge__img-spacer col-lg-12 {{ hero.background.spacing }}" style="height: 700px;">
          <!--{% include img.html img=hero.background.img alt=hero.background.alt class=heroClasses %}-->
        </div>
      {% endif %}
      <div class="hero-text-image__wrapper col-lg-8 space-top-2 space-top-lg-4">
        {% if hero.overline %}
          <span class="hero-text-image__overline d-inline-block mb-2 pl-2 py-1">
            {{ hero.overline }}
          </span>
        {% endif %}
        <h1 class="{{ hero.headlineClass }}">{{ hero.headline }}</h1>
        <p class="lead mt-5">{{ hero.subline }}</p>
        {% if hero.img %}
          <div class="pt-4">
            {% include img.html img=hero.img alt=hero.alt class="hero-text-image__img" cloudinary=hero.cloudinary %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {%- if hero.background -%}
    <div class="hero-text-image__background container position-absolute z-index-2 space-bottom-2 right-0 top-0 {{ hero.background.spacing }}">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-end">
          {% include img.html img=hero.background.img alt=hero.background.alt class=heroClasses %}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
{% endcomment %}
