{%- if include.json -%}
  {%- assign hikingTipsHeadline = include.json.headline -%}
  {%- assign hikingTipsHeadlineLevel = include.json.headlineLevel -%}
  {%- assign hikingTipsSubline = include.json.subline -%}
  {%- assign hikingTipsContents = include.contents | include.json.contents -%}
{%- else -%}
  {%- assign hikingTipsHeadline = include.headline -%}
  {%- assign hikingTipsHeadlineLevel = include.headlineLevel -%}
  {%- assign hikingTipsSubline = include.subline -%}
  {%- assign hikingTipsContents = include.contents -%}
{%- endif -%}
{% assign even = false %}

<div class="hiking-tips container">
  <div class="row">
    <div class="col-lg-12">
      {%
        include headline.html
        text=hikingTipsHeadline
        level=hikingTipsHeadlineLevel
      %}
      {% if hikingTipsSubline %}
        <div class="hiking-tips__subline mt-4">{{ hikingTipsSubline }}</div>
      {% endif %}
    </div>
  </div>
  <div class="hiking-tips__contents">
    {% for testimonial in  hikingTipsContents %}
      {% if even == true %}
        {% assign hikingTipsContentClass = " justify-content-end" %}
        {% assign even = false %}
      {% else %}
        {% assign hikingTipsContentClass = " justify-content-start" %}
        {% assign even = true %}
      {% endif %}
      <div class="hiking-tips__content row {{ hikingTipsContentClass }}">
        {% unless testimonial.hidden %}
        {%
          include testimonial-teaser.html
          href=testimonial.url
          name=testimonial.name
          title=testimonial.title
          img=testimonial.contentImg
          cornerImg=testimonial.cornerImg
        %}
        {% endunless %}
      </div>
    {% endfor %}
  </div>
</div>
