<!-- Shared Icon Section -->
{%- assign iconIcon = include.icon -%}
{%- assign iconColor = include.color -%}
{%- assign iconDirection = include.direction -%}
{%- assign iconSize = include.size -%}
{%- assign iconCircle = include.circle  -%}
{%- assign iconHover = include.hover -%}
{%- assign iconPadding = include.padding -%}
{%- assign iconAnimation = include.animation -%}
{%- assign iconClasses = include.classes -%}

{%- capture rotation -%}
  {% if iconDirection == 'left' %}180deg{% else %}0deg{% endif %}
{%- endcapture -%}

{%- capture iconInnerSize -%}
  {% if iconSize == 'small' %}18px{% elsif iconSize == 'large' %}48px{% elsif iconSize == 'xl' %}120px{% elsif iconSize == 'xxl' %}200px{% else %}28px{% endif %}
{%- endcapture -%}

<icon
      icon="{{ iconIcon }}"
      color="{{ iconColor }}"
      direction="{{ iconDirection }}"
      size="{{ iconSize }}"
      circle="{{ iconCircle }}"
      hover="{{ iconHover }}"
      padding="{{ iconPadding }}"
      animation='{{ iconAnimation }}'
      classes="{{ iconClasses }}"
>
</icon>
<!-- End Shared Icon Section -->
