<!-- Shared Job List Detail Section -->
{%- assign jobListDetailColor = include.detailColor | default: detailColor | default: '--color-job-list-detail' -%}
{%- assign jobListDetailClientName = include.clientName | default: clientName -%}
{%- assign jobListDetailJobId = include.jobId | default: jobId -%}
{%- assign jobListDetailApiUrl = include.apiUrl | default: apiUrl -%}
{%- assign jobListDetailBase = include.base | default: base -%}
{%- assign jobListDetailTitle = include.title | default: title -%}
{%- assign jobListDetailHeadlineLevel = include.headlineLevel | default: headlineLevel -%}
{%- assign jobListDetailHeadlineClasses = include.headlineClasses | default: headlineClasses -%}
{%- assign jobListDetailGender = include.gender | default: gender -%}
{%- assign jobListDetailCtaText = include.ctaText | default: ctaText -%}
{%- assign jobListDetailCtaButton = include.ctaButton | default: ctaButton -%}
{%- assign jobListDetailDescription = include.description | default: description -%}
{%- assign jobListDetailForm = include.form | default: form %}
{%- assign jobListDetailPersonQuote = include.personQuote | default: personQuote %}
{%- assign jobListDetailGoogleMaps = include.googleMaps | default: googleMaps %}
{%- assign jobListDetailModalSuccess = include.modalSuccess | default: modalSuccess %}

<div class="job-list__detail is-loading"
  style="--job-list-detail-color: var({{ jobListDetailColor }}); --color-icon-hover-color: var(--job-list-detail-color)"
  data-id="{{ jobListDetailClientName }}" {% if jobListDetailJobId %}data-job-id="{{ jobListDetailJobId }}" {% endif %}
  {% if jobListDetailApiUrl %}data-api-url="{{ jobListDetailApiUrl }}" {% endif %} {% if jobListDetailBase
  %}data-base='{{ jobListDetailBase | jsonify }}' {% endif %}>
  <div class="job-list__detail-container container">
    <div class="job-list__detail-start row">
      <div class="col-lg-5">
        {% comment %}TODO make the left side sticky on desktop{% endcomment %}
        <div class="job-list__detail-back job-list__detail-animation-3">
          {%
            include icon.html
            icon='arrow'
            direction="left"
            hover=true
            circle=true
          %}
        </div>

        <div class="job-list__detail-intro">
          {%- assign headlineLevel = jobListDetailHeadlineLevel | default: 'h1' -%}
          {%- capture headlineClasses -%}job-list__detail-headline {{ jobListDetailHeadlineClasses }}{%- endcapture -%}
          {%
            include headline.html
            text=jobListDetailTitle
            level=headlineLevel
            classes=headlineClasses
          %}
          <span class="job-list__detail-gender">{{ jobListDetailGender }}</span>
          <div class="job-list__detail-share">
            {% comment %}TODO share bar{% endcomment %}
          </div>
          <div class="job-list__detail-cta">
            {%
              include cta.html
              text=jobListDetailCtaText
              button=jobListDetailCtaButton
            %}
          </div>
        </div>
      </div>
      <div class="job-list__detail-content job-list__detail-animation-3 offset-lg-1 col-lg-6">
        {% comment %}job list detail can switch to profile based on url parameter{% endcomment %}
        <div class="job-list__detail-description">
          {{ jobListDetailDescription }}
        </div>
        {% if jobListDetailPersonQuote %}
        <div class="job-list__detail-quote">
          {%
            include person-quote.html
            img=jobListDetailPersonQuote.img
            text=jobListDetailPersonQuote.text
            name=jobListDetailPersonQuote.name
          %}
        </div>
        <div class="job-list__detail-maps">
          {%
            include google-maps.html
            headline=jobListDetailGoogleMaps.headline
            address=jobListDetailGoogleMaps.address
            coords=jobListDetailGoogleMaps.coords
            marker=jobListDetailGoogleMaps.marker
          %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" aria-hidden="true" style="--color-icon-hover-color: var(--color-white)">
    <div class="modal-dialog modal-xl">
      <div class="modal__content">
        <div class="modal__header">
          <div class="modal__close">
            {%
              include icon.html
              icon='close'
              hover=true
              circle=true
            %}
          </div>
        </div>
        <div class="modal__body">
          <div class="modal__body-default">
            {%
              include form.html
              form=jobListDetailForm
              space=' '
              container=true
              customValidation=true
              %}
          </div>
          <div class="modal__success container">
            <div class="modal__success-row row">
              <div class="modal__success-content col-lg-8">
                <div class="modal__success-headline">
                  {%
                    include headline.html
                    text=jobListDetailModalSuccess.headline.text
                    level='h2'
                    classes=jobListDetailModalSuccess.headline.classes
                  %}
                </div>
                <div class="modal__success-icon">
                  {%
                    include icon.html
                    icon='rocket'
                  %}
                </div>
                <div class="modal__success-subline">
                  {{ jobListDetailModalSuccess.subline }}
                </div>
                <div class="modal__success-subheadline">
                  {%
                    include headline.html
                    text=jobListDetailModalSuccess.subheadline.text
                    level='h4'
                    classes=jobListDetailModalSuccess.subheadline.classes
                  %}
                </div>
                <div class="modal__success-text">
                  {{ jobListDetailModalSuccess.text }}
                </div>
                <div class="modal__success-close">
                  {%
                    include cta.html
                    text=jobListDetailModalSuccess.cta.text
                  %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Shared Job List Detail Section -->
