<!-- Shared People Square Section -->
{%- assign peopleSquareGrid = include.grid -%}
{%- assign peopleSquareWidth = include.width | default: 3 -%}
{%- assign peopleSquareHeight = include.height | default: 3 -%}
{%- assign peopleSquareAbsolute = include.absolute -%}
{%- assign peopleSquareSize = 100 | divided_by: peopleSquareWidth -%}
{%- assign peopleSquareCounter = 0 -%}
{%- assign peopleSquareCounterDiff = 0 -%}

<div class="people-square {% if peopleSquareAbsolute %}people-square--absolute{% endif %}">
  <div class="people-square__grid" style="grid-template-columns: repeat({{ peopleSquareWidth }}, 1fr); grid-template-rows: repeat({{ peopleSquareHeight }}, 1fr);--people-square-size: {{ peopleSquareSize }};">
    {% for element in peopleSquareGrid %}
      {% if element.colstart %}
        {%- assign colstart = element.colstart -%}
      {% else %}
        {%- assign colstart = peopleSquareCounter | plus: 1 -%}
      {% endif %}
      <div class="{% if element.flat %} people-square__element__extended {% else %} people-square__element {% endif %}"
            style="{% if element.start and element.end %}
            grid-row-start: {{ element.start }};grid-row-end: {{ element.end | plus: 1 }};
            grid-column-start: {{ colstart }};grid-column-end: {{ element.colend }}{% endif %}">
        {% if element.img %}
          {%
            include img.html
            img=element.img.src
            cloudinary=element.img.cloudinary
          %}
        {% else %}
          <div class="people-square__background" {% if element.color %}style="background-color: {{ element.color }}"{% endif %}>
            {% if element.shape %}
              {%
                include img.html
                img=element.shape.src
                cloudinary=element.shape.cloudinary
              %}
            {% endif %}
          </div>
          <div class="people-square__content">
            {% if element.number %}
              <div class="people-square__number" data-animate-number='{"start": 0, "end": {{ element.number }}}'>
                {{ element.number }}
              </div>
            {% endif %}
            {% if element.number %}
              <div class="people-square__text">
                {{ element.text }}
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      {%- if element.start and element.end -%}
        {%- assign peopleSquareCounterDiff = 1 -%}
      {%- endif -%}
      {%- assign peopleSquareCounter = peopleSquareCounter | plus: 1 -%}

      {%- if peopleSquareCounter == peopleSquareWidth -%}
        {%- assign peopleSquareCounter = 0 -%}

        {%- if peopleSquareCounterDiff > 0 -%}
          {%- assign peopleSquareCounter = peopleSquareCounter | plus: peopleSquareCounterDiff -%}
          {%- assign peopleSquareCounterDiff = 0 -%}
        {%- endif -%}
      {%- endif -%}
    {% endfor %}
  </div>
</div>
<!-- End Shared People Square Section -->
