<!-- Shared Pricing Details Section -->
{%- assign products = include.products -%}
{%- assign headline = include.headline -%}
{%- assign description = include.description -%}
{%- assign bgColor = include.bgColor | default: 'var(--color-bg-grey)' -%}
{%- assign toggleSwitch = include.toggleSwitch -%}
{%- assign pricingDetailTargetSelector = toggleSwitch.targetSelectorClass | default: 'pricingSwitch'}
{%- assign visibleTab = include.visibleTab -%}

<section id="pricingDetails" class="pricing-details" style="background-color: {{ bgColor }};">
  <div class="container">
    {% if headline %}
      {%
        include headline-row.html
        text=headline
        centered=true
      %}
    {% endif %}

    {% if description %}
      <p class="w-75 mt-5 ml-auto mr-auto text-center">
        {{ description }}
      </p>
    {% endif %}

    <div class="pt-6 pt-lg-8 pb-10">
      {% if toggleSwitch %}
        {%
          include toggle-switch.html
          toggleSwitch=toggleSwitch
        %}
      {% endif %}

      {% for product in products %}
        {%
          include pricing-product.html
          product=product
          targetSelectorClass=pricingDetailTargetSelector
          visibleTab=visibleTab
        %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- End Shared Pricing Details Section -->
