<!-- Shared Pricing Product -->
{% assign product = include.product %}

{% assign title = product.title %}
{% assign description = product.description %}
{% assign price = product.price %}
{% assign additionalUsersFee = product.additionalUsersFee %}
{% assign buttons = product.buttons %}
{% assign includedTargetSelectorClass = include.targetSelectorClass | default: 'pricingSwitch' %}
{% assign targetSelectorClass = product.targetSelectorClass | default: includedTargetSelectorClass %}
{% assign visibleTab = include.visibleTab | default: null %}
{% if visibleTab %}
  {% capture visibleTabExpression %}item.visibleTabs contains '{{ visibleTab }}'{% endcapture %}
{% else %}
  {% assign visibleTabExpression = 'item' %}
{% endif %}

{% capture filterExpression %}item.pages contains '{{ page.title }}'{% endcapture %}
{% assign filteredButtons = buttons | where_exp: "item", filterExpression %}
{% assign visibleTabButtons = filteredButtons | where_exp: "item", visibleTabExpression %}
{% capture buttonClasses %}row justify-content-end ml-md-4 ml-lg-6{% if visibleTabButtons.size > 1 %} mb-2{% endif %}{% endcapture %}

{% if visibleTabButtons.size > 0 %}
  {%- assign pricingProductClasses = 'bg-white p-4 pl-md-6 pr-md-2' -%}
  {%- assign pricingProductPriceColumns = 'col-md-4 col-lg-4' -%}
{% else %}
  {%- assign pricingProductClasses = 'pricint-product--list py-5 px-4 px-md-0 ml-md-6' -%}
  {%- assign pricingProductPriceColumns = 'col-md-8 col-lg-7' -%}
{% endif %}

<div class="pricing-product row align-items-center {{ pricingProductClasses }} mb-3">
  <div class="pricing-product__description pl-0 mb-2 mb-md-0 col-12 col-md-4 col-lg-5">
    <h3 class="font-size-4 font-size-3-md">{{ title }}</h3>
    <p class="m-0">{{ description }}</p>
  </div>

  <div class="pricing-product__price mb-4 mb-md-0 col-12 {{ pricingProductPriceColumns }}">
    <div class="text-right">
      <span class="font-size-4 text-secondary font-weight-bold">
        <span class="{{ includedTargetSelectorClass }}"
        data-currency-format
        data-toggle-switch-item-options='{
          "monthly": {{ price.monthly }},
          "annual": {{ price.annual }}
        }'>{{ price[site.data.products.pricing.defaultPlan] }}</span>
      </span>
      <span class="font-size-1 text-muted d-inline-block ml-1">| {{ price.per }}</span>
    </div>

    <div class="text-right">
      <span class="small text-muted d-inline-block mr-lg-2">
        {{ additionalUsersFee.information }}
      </span>
      <span class="text-secondary">
        <span
          class="{{ targetSelectorClass }}"
          data-currency-format
          data-toggle-switch-item-options='{
           "monthly": {{ additionalUsersFee.monthly }},
           "annual": {{ additionalUsersFee.annual }}
          }'
        >
          {{ additionalUsersFee.annual }}
        </span>
      </span>
      <span class="font-size-1 text-muted d-inline-block ml-1">| {{ price.per }}</span>
    </div>
  </div>

  {% capture filterExpression %}item.pages contains '{{ page.title }}'{% endcapture %}
  {% assign filteredButtons = buttons | where_exp: "item", filterExpression %}
  {% assign visibleTabButtons = filteredButtons | where_exp: "item", visibleTabExpression %}
  {% capture buttonClasses %}row justify-content-end ml-md-4 ml-lg-6{% if visibleTabButtons.size > 1 %} mb-2{% endif %}{% endcapture %}
  {% if visibleTabButtons.size > 0 %}
    <div class="cta column align-items-end col-12 col-md-4 col-lg-3">
      {%
        include cta-list.html
        list=visibleTabButtons
        classes=buttonClasses
      %}
    </div>
  {% endif %}
</div>
<!-- End Shared Pricing Product -->
