<!-- Shared Product Blocks Section -->
{%- assign productBlocks = include.productBlocks -%}
{%- assign cta = include.cta -%}
{%- assign headline = include.headline -%}

<div class="product-blocks utility-animation container-fluid" style="background-color: {{ productBlocks.bgColor }};">
  <div class="container space-2">
    {% if headline %}
      <div class="container pb-4 pb-lg-6 fade-in-bottom" data-utility-animation-step="1" style="--utility-animation-index: 1;">
          {%
            include headline-row.html
            text=headline
            centered=true
          %}
      </div>
    {% endif %}
    <div class="row">
      {% for item in productBlocks.items %}
        {% assign productBlocksList = item.list %}
        <div class="product-blocks__item col-md-6 mb-5 mb-md-0 space-1 fade-in-bottom" data-utility-animation-step="1" style="--utility-animation-index: {{ forloop.index }};">
          <!-- Shared Product Blocks -->
          <div class="product-blocks__block{% if item.copy == "" %}text-center{% endif %} pl-lg-3 pr-lg-8">
            <div class="product-blocks__content">
              <figure class="product-blocks__img {% if item.copy == "" %}mx-auto{% endif %} mb-4">
                {%
                  include img.html
                  img=item.image
                  cloudinary=item.cloudinary
                  alt=iconBlocks.alt
                %}
              </figure>
              <h3>{{ item.headline }}</h3>
              <p>{{ item.copy }}</p>
            </div>
            <div class="product-blocks__buttons">
              {% if productBlocksList %}
                {%
                  include cta-list.html
                  list=productBlocksList
                %}
              {% else %}
                {% comment %}This is for backwards compatibility. Remove after cleaning it up{% endcomment %}
                {% if item.ctaText %}
                  {%
                      include cta.html
                      text=item.ctaText
                      href=item.ctaHref
                      link=item.link
                      target=item.target
                      type=item.type
                  %}
                {% endif %}
              {% endif %}
            </div>
          </div>
          <!-- End Shared Product Blocks -->
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Shared Product Blocks Section -->
