<!-- Shared Product Stage Section -->
{%- assign props = page.stage | default: include.stage -%}
{%- assign productStageDescription = props.description -%}
{%- assign productStageAdditionalCopy = props.additionalCopy -%}
{%- assign productStageTooltip = props.tooltip -%}

{%- assign products = site.data.products.list -%}
{%- assign background = props.background -%}
{%- assign headline = props.headline -%}
{%- assign bgColor = props.bgColor | default: 'var(--color-primary)' -%}
{%- assign slider = props.slider -%}
{%- assign buttons = props.buttons -%}
{%- assign cards = props.cards -%}
{%- assign shape = props.shape -%}
{%- assign overlapping = cards and headline or productStageDescription -%}

<section
  class="product-stage position-relative overflow-hidden"
  style="background-color: {{ bgColor }};"
>
  <!-- TODO add background svg shape as image component -->
  <div class="svg-shape-animation">
    <svg class="position-absolute" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 1440 965" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.0591615" fill-rule="evenodd" clip-rule="evenodd" d="M0 0L316 695L1441 965L0 840V0Z" fill="url(#paint0_linear)"/>
      <path opacity="0.0339753" fill-rule="evenodd" clip-rule="evenodd" d="M747 147L1439 965L1440 0H340L747 147Z" fill="black"/>
      <path opacity="0.174464" fill-rule="evenodd" clip-rule="evenodd" d="M646 0L1261 222L1368 685L628 890L646 0Z" fill="white"/>
      <defs>
      <linearGradient id="paint0_linear" x1="-327.295" y1="767.888" x2="135.719" y2="1396.04" gradientUnits="userSpaceOnUse">
      <stop/>
      <stop offset="1" stop-color="white" stop-opacity="0.01"/>
      </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="product-stage__content container position-relative">
    <div class="space-top-2 space-top-lg-4 space-top-xl-5 text-white space-bottom-1 space-bottom-lg-2">
      <h1>{{ headline }}</h1>
      {% if productStageDescription %}
        <p class="col-lg-8 lead mt-5 px-0">{{ productStageDescription }}</p>
      {% endif %}
    </div>

    {% if slider and products %}
      {% include pricing-slider.html
        slider=slider
        tooltip=productStageTooltip
      %}
    {% endif %}

    {% if productStageAdditionalCopy %}
      <div class="row justify-content-center py-6"><div class="text-center">{{ productStageAdditionalCopy }}</div></div>
    {% endif %}

    {% if buttons %}
      <div class="row justify-content-center py-6">
        {%
          include cta-list.html
          list=buttons
        %}
      </div>
    {% else %}
      <div class="space-bottom-2 space-bottom-lg-3"></div>
    {% endif %}

    {% if cards %}
      <ul class="row nav nav-pills{% if cards.tabs %} px-1 px-lg-0{% endif %}" role="tablist">
        {% for card in cards.list %}
          {% capture columnClass %}
            col-{% unless cards.tabs %}lg-{% endunless %}{{ 12 | divided_by: cards.list.size }}
          {% endcapture %}

          <li class="{{ columnClass }}{% if cards.tabs %} px-1 px-lg-3 nav-item{% else %} mb-6 mb-md-8 mb-lg-0{% endif %}">
            {% if card.link %}
              <a
                href="{{ card.link.href }}"
                target="{{ card.link.target }}"
                class="product-stage__tab h-100 rounded position-relative d-block{% if cards.tabs and forloop.index == 1 %} active{% endif %}"
                {% if card.id %}
                  id="{{ card.id }}-tab"
                  data-toggle="pill"
                  role="tab"
                  aria-controls="{{ card.id }}"
                  aria-selected="{% if forloop.index == 1 %}true{% else %}false{% endif %}"
                {% endif %}
              >
            {% endif %}

              <div class="product-stage__tab-content position-relative h-100{% if cards.tabs %} product-stage__tab-content--alternative-border{% endif %}">
                <div class="rounded {% if card.link %}p-2 p-lg-8{% else %}p-8 bg-white shadow-lg{% endif %}">
                  <div class="d-flex flex-column align-items-center position-relative z-index-2">
                    {% if card.title %}<h2 class="font-size-3 mb-2 mb-md-6 text-center{% if card.link %} text-primary{% endif %}">{{ card.title }}</h2>{% endif %}
                    {% if card.description %}<p class="mb-6 flex-grow-1">{{ card.description }}</p>{% endif %}
                    {% if card.cta != card.href %}
                      {%
                        include cta.html
                        text=card.cta.text
                        href=card.cta.href
                        target=card.cta.target
                        skin=card.cta.skin
                        classes="align-self-center z-index-2"
                      %}
                    {% endif %}
                  </div>
                </div>
              </div>

            {% if card.link %}
              </a>
              {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
  </div>

  {% unless shape.isActive == false %}
  {% capture shapeClasses %}
    {% if overlapping %}
     position-absolute bottom-0 left-0 z-index-1 w-100
    {% else %}
      position-relative z-index-1
    {% endif %}
  {% endcapture %}
    {%
      include svg-shape.html
      align="bottom"
      peak="left"
      obliquity=4
      classes=shapeClasses
      color=shape.color
    %}
  {% endunless %}
</section>

<!-- End Shared Product Stage Section -->
