{%- if page.scripts.slick -%}
  <!-- Shared Quotes Section -->
  {% assign quotes = include.quotes %}
  {% assign quotesFooterImages = quotes.footerImage %}
  {% assign quotesImagesCount = quotesFooterImages | size %}
  {% assign quotesSpacing = include.spacing %}

  {%- if quotes.items[0].img -%}
    {%- assign quotesImage = true -%}
  {% else %}
    {%- assign quotesImage = false -%}
  {% endif %}

  <div class="quotes {% if quotesImage %}mb-8{% else %}quotes--no-image{% endif %} {{ quotesSpacing }}">
    <div class="container space-top-1 space-bottom-2 space-top-lg-2 space-bottom-lg-0">
      <div class="quotes__row row">
        <div class="col-lg-12 mb-4 mb-lg-6">
          {%
            include headline.html
            level=quotes.level
            text=quotes.headline
            classes="h2-font-size quotes__headline"
          %}
        </div>
        <div class="col-sm-12 slick--default js-slick-carousel mb-lg-n8"
          data-hs-slick-carousel-options='{
            "prevArrow": "<span class=\"quotes__arrow-left slick-arrow rounded-circle\"></span>",
            "nextArrow": "<span class=\"quotes__arrow-right slick-arrow rounded-circle\"></span>",
            "dots": {% if quotes.items.size > 1 %}true{% else %}false{% endif %},
            "dotsClass": "slick-pagination mt-8 mb-n6",
            "slidesToShow": 1,
            "centerMode": true,
            "responsive": [{
              "breakpoint": 992,
              "settings": {
                "slidesToShow": 1.05
              }
            },
            {
              "breakpoint": 576,
              "settings": {
                "slidesToShow": 1.05
              }
            }]
          }'
        >
          {% for item in quotes.items %}
            {% if forloop.index == 1 %}
              {%- assign active = true -%}
            {% else %}
              {%- assign active = false -%}
            {% endif %}
            {%
              include quotes-entry.html
              entry=item
              active=active
              image=quotesImage
            %}
          {% endfor %}
        </div>
      </div>
      {% if quotesImagesCount != 0 %}
        <div class="row mt-7 mt-md-0">
          {% assign quotesColSize = 12 | divided_by: quotesImagesCount %}

          {% for image in quotesFooterImages %}
          <div class="d-flex justify-content-center col-lg-{{quotesColSize}}">
            {%
              include img.html
              cloudinary=true
              img=image.image
              alt=image.alt
            %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <!-- End Shared quotes Section -->
{%- else -%}
  {% include snippet-warning.html name='slick' %}
{%- endif -%}
