<!-- Shared Snippet Warning Section -->
{% assign snippetWarningName = include.name | default: name %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>
        <h3 style="color:#dd0000;">Your snippet is not loaded in this page. Please add the parameter "<u>{{ snippetWarningName }}: true</u>" in the front matter block of your page below the scripts section.</h3>
      </p>
    </div>
  </div>
</div>
<!-- End Shared Snippet Warning Section -->
