<!-- Shared Step List Section -->
{%- assign stepListBackground = include.background | default: background | default: "var(--color-primary-accent)" -%}
{%- assign stepListColor = include.color | default: color | default: "var(--color-copy-light)" -%}
{%- assign stepListHeadline = include.headline | default: headline -%}
{%- assign stepListSubline = include.subline | default: subline -%}
{%- assign stepListList = include.list | default: list -%}
{%- assign stepListVariant = include.variant -%}
{%- assign stepListSticky = include.sticky -%}

{% comment %}
This starts at 2 to increase the first
{% endcomment %}
{%- assign stepListIndex = 1 -%}

<div class="step-list utility-animation
            {% if stepListSticky %}is-sticky-scroller {% endif %}
            {% if stepListVariant %}step-list--{{ stepListVariant }}{% endif %}"
            style="{% unless stepListVariant %}--step-list-background: {{ stepListBackground }};--step-list-color: {{ stepListColor }}{% endunless %}">
  <div class="container">
    {%- if stepListHeadline -%}
      <div class="step-list__header row fade-in-bottom" data-utility-animation-step="1">
        <div class="col {% unless stepListVariant %}col-lg-8{% endunless %}">
          {%- capture stepListHeadlineClasses -%}{{ stepListHeadline.classes }} step-list__headline{%- endcapture -%}
          {%
            include headline.html
            text=stepListHeadline.text
            level=stepListHeadline.level
            classes=stepListHeadlineClasses
          %}
          <div class="step-list__subline font-size-2">
            {{ stepListSubline }}
          </div>
        </div>
      </div>
    {%- endif -%}
    <div class="row">
      <div class="col-lg-12">
        <ul class="step-list__list">
          {%- for element in stepListList -%}
            <li class="step-list__list-element font-size-2 fade-in-bottom" data-utility-animation-step="1" style="--utility-animation-index:{{ stepListIndex }};">
              <div class="step-list__counter {% if element.step or element.img %}step-list__counter--manual {% endif %}{% if element.overlapping %}step-list__counter--overlapping{% endif %}" {% if element.step %}data-content="{{ element.step }}"{% endif %}>
                {% if element.img %}
                  <div class="step-list__counter-icon {% if element.tint %}step-list__counter-icon--tinted{% endif %}">
                    {%
                      include img.html
                      img=element.img
                      cloudinary=element.cloudinary
                      alt=element.alt
                    %}
                  </div>
                {% endif %}
              </div>
              <div class="step-list__title step-list__title--no-small">
                {{ element.title }}
              </div>
              <div class="step-list__content font-size-1 {% unless stepListVariant %}light{% endunless %}">
                <div class="step-list__title step-list__title--no-default">
                  {{ element.title }}
                </div>

                {{ element.content }}

                {% if element.ctaText %}
                  {%
                    include cta.html
                    text=element.ctaText
                    href=element.ctaHref
                    link=element.link
                    target=element.target
                    type=element.type
                  %}
                {% endif %}
              </div>
            </li>
            {%- assign stepListIndex = stepListIndex | plus: 1 -%}
            {%- if forloop.index < forloop.length -%}
              <li class="step-list__icon fade-in-bottom" data-utility-animation-step="1" style="--utility-animation-index:{{ stepListIndex }};">
                {%
                  include icon.html
                  icon='arrow-narrow'
                  color='var(--color-step-list-highlight)'
                %}
              </li>
            {% endif %}
            {%- assign stepListIndex = stepListIndex | plus: 1 -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End Shared Step List Section -->
