{%- assign successStory = include.successStory -%}
{% if successStory.videos.length > 2 %}
  {%- assign successStorySlider = true -%}
{% else %}
  {%- assign successStorySlider = false -%}
{% endif %}
{%- assign successStoryLevel = include.level | default: "h2" -%}
{%- assign successStorySticky = include.sticky -%}
{%- assign successStorySpacing = include.spacing -%}

<!-- Shared Success Story Section -->
<div class="success-story utility-animation {{ successStorySpacing }} {% if successStorySticky %}is-sticky-scroller{% endif %}">
  <div class="success-story__bg" style="background-color:{{ successStory.bgColor }}"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mt-6 mt-lg-8 fade-in-bottom" data-utility-animation-step="1">
        {%- assign successStoryHeadlineClass = successStory.headlineClasses | default: 'h2-font-size' -%}
        {% capture successStoryHeadlineClasses -%}{{ successStoryHeadlineClass }} success-story__headline{% endcapture %}
        {%
          include headline.html
          level=successStoryLevel
          text=successStory.headline
          classes=successStoryHeadlineClasses
        %}
        <div class="mt-5 mb-5 w-lg-65">{{ successStory.subline }}</div>
      </div>
      {% if successStorySlider %}
        <div class="col success-story__container js-slick-carousel fade-in-bottom" data-utility-animation-step="1"
          data-hs-slick-carousel-options='{
            "slidesToShow": 2,
            "slidesToScroll": 2,
            "prevArrow": "<span class=\"slick__arrow-left rounded-circle\"></span>",
            "nextArrow": "<span class=\"slick__arrow-right rounded-circle\"></span>",
            "dots": true,
            "centerMode": false,
            "dotsClass": "slick-pagination is-default",
            "responsive": [{
              "breakpoint": 992,
              "settings": {
                "centerMode": true,
                "infinite": true,
                "centerPadding": "30px",
                "slidesToShow": 2,
                "slidesToScroll": 2
                }
              }, {
              "breakpoint": 768,
              "settings": {
                "centerMode": true,
                "infinite": false,
                "centerPadding": "30px",
                "slidesToShow": 1,
                "slidesToScroll": 1
                }
              }, {
                "breakpoint": 576,
                "settings": {
                  "centerMode": true,
                  "infinite": false,
                  "centerPadding": "20px",
                  "slidesToShow": 1,
                  "slidesToScroll": 1
              }
            }]
          }'

        >

          {% for video in successStory.videos %}
              <div class="success-story__slide mb-lg-5">
              {%
                include video.html
                video=video
              %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        {% for video in successStory.videos %}
          <div class="col-lg-6 col-md-10 mb-lg-5 fade-in-bottom" data-utility-animation-step="1">
            {%
              include video.html
              video=video
            %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<!-- End Shared Success Story Section -->
