{%- assign tabStartId = include.id | default: id -%}
{%- assign tabStartOpen = include.open | default: open -%}
{%- assign tabStartHeadlineText = include.headlineText -%}
{%- assign tabStartHeadlineLevel = include.headlineLevel | default: 'h3' -%}
{%- assign tabStartHeadlineClasses = include.headlineClasses -%}

<!-- Shared Tab Content -->
  <section class="tab-start tab-pane fade{% if tabStartOpen %} show active{% endif %}" id="{{ tabStartId }}" role="tabpanel" aria-labelledby="{{ tabStartId }}-tab">
    {% if tabStartHeadlineText %}
      {% capture tabStartHeadlineClasses %}{{ tabStartHeadlineClasses }} h2-font-size tab-start__headline-small mb-6{% endcapture %}
      {%
        include headline.html
        text=tabStartHeadlineText
        level=tabStartHeadlineLevel
        classes=tabStartHeadlineClasses
      %}
    {% endif %}
