{%- assign table = include.table -%}
{%- assign tableHideContainer = include.hideContainer -%}
{% capture style %}{% if include.style %}{{ include.style }}{% else %}table-striped{% endif %}{% endcapture %}
<!-- Table Section -->
  <div class="{% if tableHideContainer %}mb-8{% else %}container{% endif %} mt-8 mt-lg-10">
    <div class="{% unless tableHideContainer %}row{% endunless %}">
      <div class="table-responsive {{ include.classes }}">
        <table class="table {{ style }}">
          {% for row in table %}
            {% if include.head and forloop.index0 == 0 %}
            <thead>
              <tr>
                {% for col in row %}
                <th>
                  {{ col[0] }}
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
              {% for col in row %}
                <td>
                  {{ col[1] }}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
          {% if include.head %}
          </tbody>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
<!-- End Table Section -->
