{%- assign lang = page.lang | default: site.lang | downcase | default: "de" -%}

<!-- Shared Tags Overview -->
<div class="container space-bottom-2 space-bottom-lg-3">
  <div class="row justify-content-lg-between align-items-lg-center mb-7">
    <div class="col-lg-12 mb-5 mb-lg-0">
      {% include tags.html all=true %}
    </div>
  </div>

  <div class="tags__container col-xs-12 col-sm-12 col-md-12 postcolumn">
    <div class="row">
      {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture%}
      {% assign sortedTags=site_tags | split:',' | sort %}
      {% for tag in sortedTags %}
        {%- if lang == 'de' -%}
          {% assign tagByLang = site.tags[tag] | where: 'lang', nil or lang %}
        {%- else -%}
          {% assign tagByLang = site.tags[tag] | where: 'lang', lang %}
        {%- endif -%}

        {% if tagByLang.size > 0 %}
          <h1 class="tags__headline pt-4 pb-5" style="padding-left:15px;" id="{{ tag | cgi-escape }}" data-tags="{{ tag | cgi-escape }}">{{ tag }}</h1>
          <div class="g-pl-20">
            {% for post in tagByLang %}
              {%
                include post-teaser.html
                post=post
                tag=tag
              %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Shared Tags Overview -->
