{%- assign testimonialListHeadline = include.headline -%}
{%- assign testimonialListHeadlineLevel = include.headlineLevel -%}
{%- assign testimonialListSubline = include.subline -%}
{%- assign testimonialListContents = include.contents -%}
{%- assign testimonialBgColor = include.bgColor -%}
{%- assign testimonialBgColorHover = include.bgColorHover -%}

{%- assign testimonialListEven = false -%}

<testimonial-list>
  {% assign testimonialListSize = testimonialListContents | size %}
  {% assign testimonialListEven = testimonialListSize | modulo: 2 %}

  {% for testimonial in testimonialListContents %}
    {% assign testimonialRemainder = forloop.index | modulo: 2 %}
    {% assign testimonialWideValue1 = forloop.index | modulo: 4 %}
    {% assign testimonialWideValue2 = forloop.index | minus: 1 | modulo: 4 %}

    {% if testimonialWideValue1 == 0 or testimonialWideValue2 == 0 %}
      {% assign testimonialAspectRatio = "16x9" %}
    {% else %}
      {% assign testimonialAspectRatio = "4x3" %}
    {% endif %}

    {% if testimonialRemainder != 0 %}
      {% if testimonialListEven != 0 and forloop.index == testimonialListSize  %}
        {% assign testimonialAspectRatio = "4x3" %}
      {% endif %}
      <div class="testimonial-list__content-block row" >
    {% endif %}

    <div class="testimonial-list__content col-lg-6">
      {% unless testimonial.hidden %}
        {%
          include testimonial-teaser.html
          href=testimonial.url
          name=testimonial.name
          title=testimonial.title
          img=testimonial.contentImg
          cornerImg=testimonial.cornerImg
          bgColor=testimonialBgColor
          bgColorHover=testimonialBgColorHover
          aspectRatio=testimonialAspectRatio
        %}
      {% endunless %}
    </div>

    {% if testimonialRemainder == 0 %}
      </div>
    {% endif %}
  {% endfor %}
</testimonial-list>
