{%- assign testimonialsEntry = include.entry -%}
{%- assign testimonialsEntryImage = include.image -%}

<!-- Shared Testimonials Entry Section -->
<div class="testimonials__entry row no-gutters {% if include.active %}active{% endif %}">
  {% if testimonialsEntryImage %}
    <div class="testimonials__entry-img-wrapper col-lg-5">
      <div class="testimonials__entry-img">
        {%
          include img.html
          cloudinary=true
          img=testimonialsEntry.img
          alt=testimonialsEntry.alt
        %}
      </div>
    </div>
  {% endif %}
  <div class="testimonials__entry-quote-wrapper {% if testimonialsEntryImage %}col-lg-6 offset-lg-1 disabledpb-lg-0{% else %}col-lg-8{% endif %} position-relative {% unless testimonialsEntryImage %}mx-auto{% endunless %}">
    <div class="testimonials__entry-quote">&#x84;</div>
    <div class="testimonials__entry-text font-weight-light mt-3 font-size-2">
      <div class="testimonials__entry-text-wrapper">
        {{ testimonialsEntry.text }}
      </div>
    </div>
    <div class="testimonials__entry-infos">
      <div class="testimonials__entry-name font-size-2">{{ testimonialsEntry.name }}</div>
      {% if testimonialsEntry.position %}
        <div class="testimonials__entry-position">{{ testimonialsEntry.position }}</div>
      {% endif %}
      <div class="testimonials__entry-company">{{ testimonialsEntry.company }}&nbsp;</div>
    </div>
  </div>
</div>
<!-- End Shared Testimonials Entry Section -->
