{%- if include.json -%}
  {%- assign testimonialListHeadline = include.json.headline -%}
  {%- assign testimonialListHeadlineLevel = include.json.headlineLevel -%}
  {%- assign testimonialListSubline = include.json.subline -%}
  {%- assign testimonialListContents = include.contents | include.json.contents -%}
  {%- assign testimonialBgColor = include.json.bgColor -%}
  {%- assign testimonialBgColorHover = include.json.bgColorHover -%}
{%- else -%}
  {%- assign testimonialListHeadline = include.headline -%}
  {%- assign testimonialListHeadlineLevel = include.headlineLevel -%}
  {%- assign testimonialListSubline = include.subline -%}
  {%- assign testimonialListContents = include.contents -%}
  {%- assign testimonialBgColor = include.bgColor -%}
  {%- assign testimonialBgColorHover = include.bgColorHover -%}
{%- endif -%}
{% assign testimonialListEven = false %}

<!-- vue commponent -->
<testimonial-list
  testimonials="{{ testimonialListContents | jsonify | escape }}"
>
  {% assign testimonialListSize = testimonialListContents | size %}
  {% assign testimonialListEven = testimonialListSize | modulo: 2 %}

  {% for testimonial in  testimonialListContents %}
    {% assign testimonialRemainder = forloop.index | modulo: 2 %}
    {% assign testimonialWideValue1 = forloop.index | modulo: 4 %}
    {% assign testimonialWideValue2 = forloop.index | minus: 1 | modulo: 4 %}

    {% if testimonialWideValue1 == 0 or testimonialWideValue2 == 0 %}
      {% assign testimonialAspectRatio = "16, 9" %}
      {% assign testimonialAspectRatioClass = "testimonial-teaser--16-9" %}
    {% else %}
      {% assign testimonialAspectRatio = "4, 3" %}
      {% assign testimonialAspectRatioClass = "testimonial-teaser--4-3" %}
      {% assign testimonialPositionClass = "testimonial-list__content--square" %}
    {% endif %}

    {% if testimonialRemainder != 0 %}
      {% if testimonialListEven != 0 and forloop.index == testimonialListSize  %}
        {% assign testimonialAspectRatio = "4, 3" %}
        {% assign testimonialPositionClass = "d-flex justify-content-lg-start" | append: testimonialPositionClass %}
      {% endif %}
      <div class="testimonial-list__content-block row" >
    {% endif %}

    <div class="testimonial-list__content col-lg-6 {{ testimonialPositionClass }}">
      {% unless testimonial.hidden %}
        {%
          include testimonial-teaser.html
          href=testimonial.url
          name=testimonial.name
          title=testimonial.title
          img=testimonial.contentImg
          cornerImg=testimonial.cornerImg
          bgColor=testimonialBgColor
          bgColorHover=testimonialBgColorHover
          aspectRatio=testimonialAspectRatio
          aspectRatioClass=testimonialAspectRatioClass
        %}
      {% endunless %}
    </div>

    {% if testimonialRemainder == 0 %}
      </div>
    {% endif %}
  {% endfor %}
</testimonial-list>


