{%- assign testimonialTeaserHref = include.href -%}
{%- assign testimonialTeaserName = include.name -%}
{%- assign testimonialTeaserTitle = include.title -%}
{%- assign testimonialTeaserImg = include.img -%}
{%- assign testimonialTeaserImgCloudinary = testimonialTeaserImg.cloudinary | default: true -%}
{%- assign testimonialTeaserCornerImg = include.cornerImg | default: false -%}
{%- assign testimonialTeaserBgColor = include.bgColor | default: 'var(--color-primary)' -%}
{%- assign testimonialTeaserBgColorHover = include.bgColorHover | default: 'var(--color-blue-medium)' -%}
{%- assign testimonialTeaserAspectRatio = include.aspectRatio | default: false -%}

{%- assign testimonialTeaserAspectRatioMinParams = 2 -%}
{%- assign testimonialTeaserSplitCharacter = 'x' -%}

<!-- Shared Testimonial Teaser Section -->
{% assign testimonialTeaserAspectRatioSize = testimonialTeaserAspectRatio | split: testimonialTeaserSplitCharacter | size %}
{% if testimonialTeaserAspectRatio and testimonialTeaserAspectRatioSize == testimonialTeaserAspectRatioMinParams %}
  {% assign testimonialTeaserAspectRatioWidth = testimonialTeaserAspectRatio | split: testimonialTeaserSplitCharacter | first %}
  {% assign testimonialTeaserAspectRatioHeight = testimonialTeaserAspectRatio | split: testimonialTeaserSplitCharacter | last %}
  {% assign testimonialTeaserAspectRatioStylingWidth = "--width-testimonial-teaser-aspect-ratio: " | append: testimonialTeaserAspectRatioWidth %}
  {% assign testimonialTeaserAspectRatioStylingHeight = "--height-testimonial-teaser-aspect-ratio: " | append: testimonialTeaserAspectRatioHeight %}
  {% assign testimonialTeaserAspectRatioStyling = testimonialTeaserAspectRatioStylingWidth | append: "; " | append: testimonialTeaserAspectRatioStylingHeight %}
{% endif %}

{% comment %}TODO move this mutation to root element{% endcomment %}
{% if testimonialTeaserCornerImg.position == "left" %}
  {%- assign testimonialTeaserCornerPosition = " testimonial-teaser__corner--left " -%}
{% else %}
  {%- assign testimonialTeaserCornerPosition = " testimonial-teaser__corner--right " -%}
{% endif %}

{% if testimonialTeaserBgColor %}
  {%- assign testimonialTeaserBgColorValue = "--color-testimonial-teaser-background: " | append: testimonialTeaserBgColor %}
  {%- assign testimonialTeaserHoverColor = "--color-testimonial-teaser-background-hover: " | append: testimonialTeaserBgColorHover -%}
  {%- assign testimonialTeaserBgStyling = testimonialTeaserBgColorValue | append: "; " | append: testimonialTeaserHoverColor | append: "; width: 100%;" -%}
{% endif %}

{% if testimonialTeaserAspectRatio %}
  {%- assign testimonialTeaserAspectRatioClass = "testimonial-teaser--" | append: testimonialTeaserAspectRatio -%}
  {%- assign testimonialTeaserSrcSetName = "testimonialTeaser" | append: testimonialTeaserAspectRatio -%}
  {%- assign testimonialTeaserSrcSet = site.data.imgSrcSets[testimonialTeaserSrcSetName] -%}
{% else %}
  {%- assign testimonialTeaserAspectRatioClass = false -%}
  {%- assign testimonialTeaserSrcSet = false -%}
{% endif %}

<a class="testimonial-teaser {{ testimonialTeaserAspectRatioClass }} utility-animation fade-in-bottom
        {% if testimonialTeaserAspectRatioStyling %} testimonial-teaser--aspect-ratio{% endif %}"
   style="{% if testimonialTeaserBgStyling %} {{ testimonialTeaserBgStyling }} {% endif %}
              {% if testimonialTeaserAspectRatioStyling %}; {{ testimonialTeaserAspectRatioStyling }} {% endif %}"
   href="{{ testimonialTeaserHref }}"
   data-utility-animation-step="1"
>
  <div class="testimonial-teaser__wrapper">
    {% if testimonialTeaserCornerImg %}
      <div class="testimonial-teaser__corner {{ testimonialTeaserCornerPosition }}">
        {%
          include img.html
          img=testimonialTeaserCornerImg.img
          alt=testimonialTeaserCornerImg.alt
          cloudinary=testimonialTeaserCornerImg.cloudinary
        %}
      </div>
    {% endif %}
    <div class="testimonial-teaser__img">
      <div class="testimonial-teaser__img-wrapper">
        {%
          include img.html
          img=testimonialTeaserImg.img
          alt=testimonialTeaserImg.alt
          cloudinary=testimonialTeaserImgCloudinary
          imgSrcSets=testimonialTeaserSrcSet
        %}
      </div>
    </div>
    <div class="testimonial-teaser__content">
      <div class="testimonial-teaser__name font-size-4 bold">
        <div class="testimonial-teaser__name-background">
          {{ testimonialTeaserName | replace: ' ', '</div><br/><div class="testimonial-teaser__name-background">' }}
          <div class="testimonial-teaser__name-icon">
            <icon icon='arrow' classes="testimonial-teaser__icon" size="large" />
          </div>
        </div>
      </div>
      <div class="testimonial-teaser__title font-size-1">{{ testimonialTeaserTitle }}</div>
    </div>
  </div>
</a>
<!-- End Shared Testimonial Teaser Section -->
