<!-- Shared Testimonials Detail Section -->
{%- assign testimonialsDetailColor = include.detailColor | default: '--color-testimonials' -%}
{%- assign testimonialsDetailTitle = include.title -%}
{%- assign testimonialsDetailName = include.name | replace: ' ', '<br/>' -%}
{%- assign testimonialsDetailLocation = include.location -%}
{%- assign testimonialsDetailHeadlineLevel = include.headlineLevel -%}
{%- assign testimonialsDetailHeadlineClasses = include.headlineClasses | default: 'h2-font-size bold' -%}
{%- assign testimonialsDetailDescription = include.description -%}
{%- assign testimonialsDetailImage = include.image -%}
{%- assign testimonialsDetailImageCloudinary = testimonialsDetailImage.cloudinary | default: true -%}
{%- capture testimonialsDetailSubline -%}{{ testimonialsDetailTitle }} | {{ testimonialsDetailLocation }}{%- endcapture -%}
{% assign testimonialsDetailSafety = include.safety | default: false %}


{%- if testimonialsDetailSafety %}
  {% assign testimonialsDetailInfo = testimonialsDetailSafety.facts %}
{% endif %}

<div class="testimonials-detail page-detail page-detail--image is-loading"
style="--page-detail-color: var({{ testimonialsDetailColor }}); --color-icon-hover-color: var(--page-detail-color)"
>
  <div class="page-detail__container container">
    <div class="page-detail__start row">
      <div class="page-detail__sticky-start col-md-11 col-lg-5">
        <div class="page-detail__intro js-sticky-block"
          data-hs-sticky-block-options='{
            "parentSelector": ".page-detail__sticky-start",
            "breakpoint": "lg",
            "startPoint": ".page-detail__sticky-start",
            "endPoint": ".page-detail__sticky-end",
            "stickyOffsetTop": 200,
            "stickyOffsetBottom": 20
          }'
        >
          <div class="page-detail__back page-detail__animation-3 back back--animated">
            {%
              include icon.html
              icon='arrow'
              direction="left"
              hover=true
              circle=true
            %}
          </div>
          {%- assign headlineLevel = testimonialsDetailHeadlineLevel | default: 'h1' -%}
          {%- capture headlineClasses -%}page-detail__headline {{ testimonialsDetailHeadlineClasses }}{%- endcapture -%}
          {%
            include headline.html
            text=testimonialsDetailName
            level=headlineLevel
            classes=headlineClasses
          %}
          <span class="page-detail__subline">{{ testimonialsDetailSubline }}</span>
          <div class="page-detail__img page-detail__animation-3">
            {%
              include img.html
              img=testimonialsDetailImage.img
              alt=testimonialsDetailImage.alt
              cloudinary=testimonialsDetailImageCloudinary
              imgSrcSets=site.data.imgSrcSets.testimonial
            %}
          </div>
        </div>
      </div>
      <div class="page-detail__content page-detail__animation-3 col-md-11 offset-lg-1 col-lg-6">
        <div class="page-detail__description richtext">
          {% if testimonialsDetailSafety %}
            <div>
              {%
                include headline.html
                text=testimonialsDetailSafety.headline
                level=testimonialsDetailSafety.headlineLevel
              %}
            </div>
            <div class="testimonials-detail__subline">
              {{testimonialsDetailSafety.subline}}
            </div>
            <div class="testimonials-detail__copy mt-4">
              {{testimonialsDetailSafety.copy}}
            </div>
            {% for info in testimonialsDetailInfo %}
              <div class="mt-4">
                {%
                  include headline.html
                  text=info.contentTitle
                  level=info.contentTitleLevel
                %}
              </div>
              <ul>
                {% for content in info.content %}
                  <li class="mb-2"><span>{{content}}</span></li>
                {% endfor %}
              </ul>
              {% if info.img %}
              {% endif %}
            {% endfor %}
          {% else %}
            {{ testimonialsDetailDescription }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="page-detail__sticky-end"></div>
</div>
<!-- End Shared Testimonials Detail Section -->
