<!-- Shared Text Image Section -->
{%- assign textImageSpacing = include.spacing | default: 'space-top-2' -%}
{%- assign textImageImage = include.image -%}
{%- assign textImageImageClasses = include.imageClasses -%}
{%- assign textImageImagePreset = include.imagePreset -%}
{%- assign textImageFloat = include.float -%}
{%- assign textImageOverline = include.overline -%}
{%- assign textImageHeadline = include.headline -%}
{%- assign textImageLeft = include.left -%}
{%- assign textImageAlt = include.alt -%}
{%- assign textImageCloudinary = include.cloudinary -%}
{%- assign textImageOffset = include.offset -%}
{%- assign textImageWhite = include.white -%}
{%- assign textImageCopy = include.copy -%}
{%- assign textImageList = include.list -%}
{%- assign textImageBgColor = include.bgColor -%}
{%- assign textImageCopyClasses = include.copyClasses | default: false -%}
{%- assign textImageCopyLight = include.copyLight | default: false -%}
{%- assign textImageBackground = include.background -%}
{%- assign textImageFirstColWidth = include.firstColWidth -%}
{%- assign textImageSecondColWidth = include.secondColWidth -%}
{%- assign textImageReduceSpacing = include.reduceSpacing | default: false -%}
{%- assign textImageList = include.list -%}
{%- assign textImageCta = include.cta -%}
{%- assign textImageModal = include.modal -%}
{%- assign textImageHref = include.href -%}
{%- assign textImageBadge = include.badge -%}

{%- capture textImageLevel %}{{ include.level | default: "h3" }}{% endcapture -%}

{%- if textImageFirstColWidth -%}
  {%- assign textImageFirstColWidthXl = textImageFirstColWidth -%}
{%- else -%}
  {%- assign textImageFirstColWidthXl = 4 -%}
  {%- assign textImageFirstColWidth = 6 -%}
{%- endif -%}

{%- if textImageSecondColWidth -%}
  {%- assign textImageSecondColWidthXl = textImageSecondColWidth -%}
{%- else -%}
  {%- assign textImageSecondColWidthXl = 8 -%}
  {%- assign textImageSecondColWidth = 6 -%}
{%- endif -%}

<div class="text-image is-component {{ textImageSpacing }}
          {% if textImageBgColor %}text-image--bg-color{% endif %}
          {% if textImageFloat %}text-image--float{% endif %}"
     style="{% if textImageBgColor %}background-color:{{ textImageBgColor }};{% endif %}
            {% if textImageBackground %}background-image:url('{{ textImageBackground }}');{% endif %}">
  <div class="container">
    <div class="row {% if textImageLeft %}flex-row-reverse{% endif %}">

      {% if textImageFloat %}
        <div class="text-image__floating-col col-lg-{{ textImageFirstColWidth }} justify-content-end text-image__floating-img position-absolute top-0 right-0
                  {% if textImageFloat %}col-xl-{{ textImageFirstColWidthXl }}{% endif %}"
                  {% if textImageHref %}onclick="document.location.href='{{ textImageHref }}'" style="cursor: pointer;"{% endif %}
        >
          {%
            include img.html
            img=textImageImage
            cloudinary=textImageCloudinary
            alt=textImageAlt
            imgSrcSets=site.data.imgSrcSets.textImageFloating
            preset="textImageFloating"
          %}
        </div>
      {% endif %}
      <div class="text-image__first-col d-flex text-image__img  justify-content-center {{ textImageImageClasses }}
                  col-lg-
                  {%- if textImageFloat -%}{{ textImageFirstColWidth }} col-xl-{{ textImageFirstColWidthXl }} text-image__img--floating{%- else -%}
                    {%- if textImageOffset -%}
                      {{ textImageFirstColWidth | minus: 1 }}
                      {% unless textImageLeft %} offset-lg-1{% endunless %}
                    {%- else -%}
                      {{ textImageFirstColWidth }}
                    {% endif %}
                  {%- endif -%}"
                  {% if textImageHref %}onclick="document.location.href='{{ textImageHref }}'" style="cursor: pointer;"{% endif %}
      >
        {% if textImageFloat %}
          {% assign textImageImgSrcSets = site.data.imgSrcSets[textImageImagePreset] | default: site.data.imgSrcSets.textImageFloatingSmall %}
          {% assign textImagePreset = textImageImagePreset | default: "textImageFloatingSmall" %}
        {% else %}
          {% assign textImageImgSrcSets = site.data.imgSrcSets[textImageImagePreset] | default: false %}
          {% assign textImagePreset = textImageImagePreset | default: false %}
        {% endif %}

        {%
          include img.html
          img=textImageImage
          cloudinary=textImageCloudinary
          imgSrcSets=textImageImgSrcSets
          preset=textImagePreset
          alt=textImageAlt
        %}
      </div>
      <div class="text-image__second-col col-lg-{{ textImageSecondColWidth }} pt-2 pt-lg-4
                  {% if textImageWhite %}text-white{% endif %}
                  {{ textImageReduceSpacing }}
                  {% unless textImageReduceSpacing %}
                    {% if textImageLeft %}pr-lg-{% else %}pl-lg-{% endif %}{{ textImageSecondColWidth }}
                  {% endunless %}
                  {% if textImageFloat %}col-xl-{{ textImageSecondColWidthXl }}{% endif %}
                  {% unless textImageFloat %}{% if textImageLeft and textImageOffset %}offset-lg-1{% endif %}{% endunless %}"
      >
        {% if textImageBadge %}
          {%
            include badge.html
            text=textImageBadge.text
            icon=textImageBadge.icon
          %}
        {% endif %}

        <span class="text-image__overline d-inline-block mb-2 font-size-2">
          {{ textImageOverline }}
        </span>
        <{{ textImageLevel }} class="{% if textImageFloat %}h3-font-size{% else %}h4-font-size font-weight-normal{% endif %} mb-2 mb-lg-4">
          {{ textImageHeadline }}
        </{{ textImageLevel }}>
        <p class="{% if textImageCopyClasses %}{{ textImageCopyClasses }}{% endif %} {% if textImageCopyLight %}light{% endif %}">
          {{ textImageCopy }}
        </p>
        {% if textImageList %}
          <div class="pt-4 pt-lg-6 pb-6">
            {%
              include cta-list.html
              list=textImageList
            %}
          </div>
        {% endif %}
      </div>
      {% if textImageCta %}
        <div class="text-image__cta col-lg-12">
          {%
            include cta.html
            text=textImageCta.text
            button=true
            href=textImageCta.href
            trigger=textImageCta.trigger
          %}
        </div>
      {% endif %}
    </div>
  </div>
  {% if textImageModal %}
    {%
      include modal.html
      form=textImageModal.form
      success=textImageModal.success
      application=true
      clientName=textImageModal.clientName
      jobId=textImageModal.jobId
      apiUrl=textImageModal.apiUrl
    %}
  {% endif %}
</div>
<!-- End Shared Text Image Section -->
