{%- assign textImageList = include.textImages -%}
{%- assign textImageListHeadline = include.headline -%}
{%- assign textImageListHeadlineLevel = include.level | default: 'h2' -%}
{%- assign textImageListHeadlineColor = include.headlineColor -%}
{%- assign textImageListBgColor = include.bgColor | default: false -%}

<text-image-list
  headline="{{ textImageListHeadline }}"
  spacing="{{ textImageListHeadlineSpacing }}"
  bg-color="{{ textImageListBgColor }}"
  headline-color="{{ textImageListHeadlineColor }}"
>

  {% assign textImageListSize = textImageList | size %}
  {% for textImage in textImageList %}
    {% assign textImageRemainder = forloop.index | modulo: 2 %}

    {% if textImageRemainder == 0 %}
      {% assign textImageEven = true %}
    {% else %}
      {% assign textImageEven = false %}
    {% endif %}

    {%
      include text-image.html
      image=textImage.image
      alt=textImage.alt
      headline=textImage.headline
      copy=textImage.copy
      offset=true
      left=textImageEven
    %}

  {% endfor %}
</text-image-list>
