<!-- Shared Toggle Switch Section -->
{% assign toggleSwitch = include.toggleSwitch | default: 'Monthly' %}
{% assign textLeft = toggleSwitch.textLeft | default: 'Monthly' %}
{% assign textRight = toggleSwitch.textRight | default: 'Annual' %}
{% assign hint = toggleSwitch.hint | default: 'Save up to 10%' %}
{% assign id = toggleSwitch.id | default: 'customToggleSwitch' %}
{% assign targetSelector = toggleSwitch.targetSelector | default: '#pricingCount1, #pricingCount2, #pricingCount3' %}
{% capture active %}{% if toggleSwitch.active or site.data.products.pricing.defaultPlan == 'annual'%}true{% else %}false{% endif %}{% endcapture %}
{% assign toggleSwitchLimit = toggleSwitch.limit | default: false %}

{% if toggleSwitchLimit %}
  {% assign toggleSwitchLimitLeftClass = "toggle-switch__text--right" %}
{% endif %}

<div class="toggle-switch overflow-hidden d-flex justify-content-center align-items-center pt-6 mb-5">
  <span class="font-size-1 text-muted toggle-switch__text {{ toggleSwitchLimitLeftClass }}">{{ textLeft }}</span>
  <label class="mx-2" for="{{ id }}">
    <input type="checkbox" class="js-toggle-switch toggle-switch-input" id="{{ id }}" {% if active == 'true' %}checked{% endif %}
          data-toggle-switch-options='{
            "targetSelector": "{{ targetSelector }}"
          }'>
    <span class="toggle-switch-label">
      <span class="toggle-switch-indicator"></span>
    </span>
  </label>
  <span class="font-size-1 position-relative text-muted toggle-switch__text">
    {% if toggleSwitch.hint %}
      <div class="position-absolute row toggle-switch__hint">
        {%
          include icon.html
          icon="arrow-curl"
        %}
        <span class="badge-pill" style="background-color: {{ hint.bgColor | default: 'var(--color-secondary' }};">
          <span class="toggle-switch__hint-text small" style="color: {{ hint.color | default: 'var(--color-white' }};">{{ hint.text }}</span>
        </span>
      </div>
    {% endif %}
    {{ textRight }}
  </span>
</div>
<!-- End Shared Toggle Switch Section -->
