{%- assign videoFrameThumb = include.thumb -%}
{%- assign videoFrameAlt = include.alt -%}
{%- assign videoFrameId = include.id -%}
{%- assign videoFramePreset = include.preset | default: 'default' -%}
{%- assign videoFrameContainer = include.container | default: false -%}
{%- assign videoFrameCornerImg = include.corner | default: false -%}
{%- assign videoFrameSpacingTop = include.spacingTop | default: false -%}
{%- assign videoFrameFullWidth = include.fullWidth | default: false -%}
{%- assign videoFrameHeadline = include.headline | default: false -%}
{%- assign videoFrameSticky = include.sticky -%}

{% capture videoFrameParentId %}video-frame__parent-id-{{ videoFrameId }}{% endcapture %}
{% capture videoFrameTargetId %}video-frame__target-id-{{ videoFrameId }}{% endcapture %}

{% if videoFrameId %}
  {%- assign videoFrameHasVideo = true -%}
{% else %}
  {%- assign videoFrameHasVideo = false -%}
{% endif %}

{% if videoFrameCornerImg %}
  {%- assign videoFrameCornerImgClass = 'position-relative' -%}
{% endif %}

<!-- Shared Video Frame Section -->
{% if videoFrameContainer %}
<div class="container video-frame__container
  {% if videoFrameSpacingTop %}video-frame__container--spacing {% endif %}
  {% if videoFrameSticky %}is-sticky-scroller {% endif %}
  "
  style="{% if videoFrameHeadline.color %} --video-frame-headline-color: var({{ videoFrameHeadline.color }}); {% endif %}"
>
  <div class="row justify-content-center {% if videoFrameCornerImg %} position-relative {% endif %}">
{% endif %}
    <div id="{{ videoFrameParentId }}" class="video-frame {% if videoFrameHasVideo %}video-frame--has-video{% else %}hover__parent{% endif %} {% if videoFrameContainer %} video-frame--container {% endif %} {% if videoFrameFullWidth %} video-frame--full-width {% endif %}"
      style="{% if videoFrameHeadline.color %} --video-frame-headline-color: var({{ videoFrameHeadline.color }}); {% endif %}"
    >
      <div class=" video-frame__player {% if videoFrameHasVideo %}js-inline-video-player{% endif %}" data-hs-video-player-options='{
        "videoId": "{{ videoFrameId }}",
        "parentSelector": "#{{ videoFrameParentId }}",
        "targetSelector": "#{{ videoFrameTargetId }}",
        "isAutoplay": true,
        "classMap": {
          "toggle": "video-frame--played"
        }
      }'>
        <div class="video-frame__target embed-responsive">
          <div id="{{ videoFrameTargetId }}"></div>
        </div>
        {% if videoFrameHeadline %}
        <div class="video-frame__headline-container px-4 {{ videoFrameHeadline.alignment }}">
          {%
            include headline.html
            text=videoFrameHeadline.text
            classes="video-frame__headline"
          %}

        </div>
        {% endif %}
        <div class="video-frame__play-wrapper">
          <span class="video-frame__play video-player-icon video-frame__player-icon">
            <i class="fas fa-play"></i>
          </span>
        </div>
        {% if videoFrameCornerImg %}
          <div class="video-frame__corner-img">
            {%
              include img.html
              img=videoFrameCornerImg.img
              cloudinary=videoFrameCornerImg.cloudinary
              alt=videoFrameCornerImg.alt
              preset=videoFramePreset
            %}
          </div>
        {% endif %}
        {%
          include img.html
          img=videoFrameThumb
          cloudinary=true
          alt=videoFrameAlt
          preset=videoFramePreset
        %}
      </div>
    </div>
{% if videoFrameContainer %}
  </div>
</div>
{% endif %}
<!-- End Shared Video Frame Section -->
